<template>
    <div>
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">Inicio</h3>
            </div>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-8 mb-5 mb-lg-0 mx-auto">
                    <a href="#" @click="enlaceDirecto('factura')" class="after-loop-item card border-0 card-templates shadow-lg">
                        <div class="card-body d-flex align-items-end flex-column text-right">
                            <h4>Factura</h4>
                            <p class="w-75">Acceso rápido para Emitir Facturas</p>
                            <i class="fa fa-pencil-ruler"></i>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-8 mb-5 mb-lg-0 mx-auto">
                    <a href="#"  @click="enlaceDirecto('boleta')" class="after-loop-item card border-0 card-templates shadow-lg">
                        <div class="card-body d-flex align-items-end flex-column text-right">
                            <h4>Boleta</h4>
                            <p class="w-75">Acceso rápido para Emitir Boletas</p>
                            <i class="fa fa-pencil"></i>
                        </div>
                    </a>
                </div>
                 <div class="col-lg-4 col-md-8 mb-5 mb-lg-0 mx-auto">
                    <a href="#"  @click="enlaceDirecto('nota_debito')" class="after-loop-item card border-0 card-templates shadow-lg">
                        <div class="card-body d-flex align-items-end flex-column text-right">
                            <h4>Nota de Débito</h4>
                            <p class="w-75">Acceso rápido para Emitir Notas de Débito</p>
                            <i class="fa fa-pencil"></i>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-8 mb-5 mb-lg-0 mx-auto">
                    <a href="#"  @click="enlaceDirecto('nota_credito')" class="after-loop-item card border-0 card-templates shadow-lg">
                        <div class="card-body d-flex align-items-end flex-column text-right">
                            <h4>Nota de Crédito</h4>
                            <p class="w-75">Acceso rápido para Emitir Notas de Crédito</p>
                            <i class="fa fa-pencil"></i>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-8 mb-5 mb-lg-0 mx-auto">
                    <a href="#"  @click="enlaceDirecto('cotizacion')" class="after-loop-item card border-0 card-templates shadow-lg">
                        <div class="card-body d-flex align-items-end flex-column text-right">
                            <h4>Cotización</h4>
                            <p class="w-75">Acceso rápido para Emitir Cotizaciones</p>
                            <i class="fa fa-pencil"></i>
                        </div>
                    </a>
                </div>
                 <div class="col-lg-4 col-md-8 mb-5 mb-lg-0 mx-auto">
                    <a href="#"  @click="enlaceDirecto('nota_venta')" class="after-loop-item card border-0 card-templates shadow-lg">
                        <div class="card-body d-flex align-items-end flex-column text-right">
                            <h4>Nota de Venta</h4>
                            <p class="w-75">Acceso rápido para Emitir Notas de Venta</p>
                            <i class="fa fa-pencil"></i>
                        </div>
                    </a>
                </div>
            
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6">

               
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"> Últimos Comprobantes Emitidos</h4>
                        <div class="table-responsive">
                            <table class="table table-ligth table-bordered table-hover" >
                                <thead class="table-dark">
                                    <tr class="table-dark">
                                        <th>Comprobante</th>
                                        <th>Número</th>
                                        <th>Cliente</th>                                       
                                        <th>Total</th>                                       
                                        <th>Estado</th>                                       
                                    </tr>
                                </thead>
                                <tbody v-if="ultimos_cp.total">
                                    <tr v-for="(comprobante,index) in ultimos_cp" :key="index" >
                                        <td v-text="comprobante.document_type.short"></td>
                                        <td v-text="comprobante.series + '-' + comprobante.number"></td>   
                                        <td v-html="obtenerCliente(comprobante.customer)"></td>   
                                        <td v-html="obtenerTotal(comprobante.currency_type_id,comprobante.total )"></td>                                                                           
                                        <td v-html="obtenerEstado(comprobante.state_type_id)"></td>                                                                                             
                                       
                                    </tr>
                                </tbody>
                                <tbody v-else>
                                    <tr>
                                        <td colspan="10" align="center"> <br>  <h1 class="card-subtitle">¡Aún no se han emitido comprobantes!</h1><br> </td>                                      
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Bienes</h4>
                                <div class="text-right">
                                    <h2 class="font-light m-b-0"><i class="fa fa-users text-success"></i> 12 </h2>
                                    <span class="text-muted">Total Bienes</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Salidas</h4>
                                <div class="text-right">
                                    <h2 class="font-light m-b-0"><i class="fa fa-tasks text-info"></i> 12</h2>
                                    <span class="text-muted">Total salidas</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body b-b">
                        <h4 class="card-title">Salidas Urgentes a Revisar</h4>
                       <div class="table-responsive m-t-40">
                            <table class="table stylish-table" v-if="salidas_vencidas.length">
                                <thead>
                                    <tr>
                                        <th>Nro Orden</th>
                                        <th>Proyecto</th>
                                        <th>F.Retorno</th>
                                        <th>Estado</th>
                                        <th>Opción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="salida in salidas_vencidas" :key="salida.id">
                                        <td v-text="salida.nro_orden"></td>
                                        <td v-text="salida.proyecto.nombre"></td>
                                        <td>{{ salida.fec_retorno | moment }}</td>
                                        <td v-html="obtenerEstado(salida.devuelto)"></td>
                                        <td><button class="btn btn-success btn-sm" @click.prevent="verSalida(salida)" data-toggle="tooltip" title="Ver Salida"><i class="fa fa-eye"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import helper from '../../services/helper'
    import ClickConfirm from 'click-confirm'
    var f=new Date();
    var hoy = {
        fecha: helper.formatDate(f),
        hora: f.getHours()+":"+f.getMinutes(),
    };


    export default {
        data(){
            return {
                ultimos_cp: '',
                salidas_cant: '',
                salidas_vencidas: {},
                todos: [],
                todoForm: new Form({
                    'todo': ''
                }),
                show_todo_status: '',
                filtrosBusqueda: {
                    fec_ini: null,                  
                    fec_fin: null,       
                    codigo_tipo_documento: null,           
                    estado: null,
                    serie: null,                    
                    ordenarPor : 'created_at',
                    orden: 'desc',            
                    pageLength: 10,
                }, 
            }
        },
        components : { ClickConfirm },
        mounted() {
            if(this.validarBusqueda()){
                return;
            }
            let url = helper.getFilterURL(this.filtrosBusqueda);
            axios.get('api/user/dashboard?'+url).then(response =>  {
                console.log(response);
                this.ultimos_cp = response.data.ultimos_cp;
               /*  this.salidas_cant = response.data.salidas_cant;
                this.salidas_vencidas = response.data.salidas_vencidas; */
                
            });
            
        },
        methods: { 
            obtenerEstado(retorno){               
                if(retorno==1){
                    return '<span class="label label-success">Completo</span>';
                }
                if(retorno==2){
                    return '<span class="label label-warning">Incompleto</span>'; 
                }
                return '<span class="label label-danger">Ninguno</span>';
                                
            }, 
            enlaceDirecto(documento){
                console.log("asd" + documento);
            },
            validarBusqueda(){
                console.log("muestr");
               var fecha = new Date(hoy.fecha+'T00:00:00');
                    fecha.setDate(fecha.getDate() - 7);
               
                this.filtrosBusqueda.fec_ini = helper.formatDate(fecha);
                this.filtrosBusqueda.fec_fin = hoy.fecha;
                let diferencia_fechas =  moment(this.filtrosBusqueda.fec_ini).diff( moment(this.filtrosBusqueda.fec_fin), 'days');
                 console.log("muest 2.5r");
                if(diferencia_fechas < -31 || diferencia_fechas > 31) {
                    toastr['error']("Las fechas seleccionadas no deben ser mayor a 31 dias");
                    return 1;
                }

                return 0;
            },
        },
        computed: {
        },
        filters: {
          moment(date) {
            return helper.formatDate(date);
          },
          momentWithTime(date) {
            return helper.formatDateTime(date);
          }
        }
    }
</script>
<style>
    .strikethrough{
      text-decoration: line-through;
    }
</style>
