<template>
	<div>  
     
        <div class="row">
            <div class="col-lg-12"> 
                <div class="card">
                    <div class="card-body">
                        <div class="row">
							<div class="col-lg-12 text-center">
                                <h4 class="card-title">Reporte de Avance por Documento</h4>
                            </div>                         
                        </div>
                        <hr>
                        <div class=" row justify-content-md-center">
							<div class="form-inline">
								<div class="mb-2">
									<label for="" class="color">Tipo De Reporte:</label>  
								</div>
								<div class="form-group mx-sm-3 mb-2">
									<select name="operativo" class="form-control form-control-sm" v-model="filtrosBusqueda.tipo_reporte" @change="tipoReporteCambiado" v-validate="'required'" data-vv-as="Operativo" >
										<option value="1">Documento</option> 
                                        <option value="2">Sede Regional</option>
										<option value="3">Sede Provincial / Distrital</option>  
									</select>
										<span style="color: red;">{{ errors.first('form-etapa.operativo') }}</span> 
								</div>
								<div class="mb-2">
									<label for="" class="color">Operativo:</label>  
								</div>
								<div class="form-group mx-sm-3 mb-2">
									<select name="operativo" class="form-control form-control-sm" v-model="filtrosBusqueda.operativo" v-validate="'required'" data-vv-as="Operativo" >
										<option value="0">ECE Y EM</option>
										<option value="1">ECE Secundaria</option>
										<option value="2">EM Primaria</option>  
									</select>
										<span style="color: red;">{{ errors.first('form-etapa.operativo') }}</span> 
								</div>
								<div class="mb-2">
									<label for="" class="color">Tipo Documento:</label>  
								</div>
								<div class="form-group mx-sm-3 mb-2">
									<select name="tipo_dpcumento" class="form-control form-control-sm" v-model="filtrosBusqueda.tipo_documento" v-validate="'required'" data-vv-as="Tipo Documento" >
										<option value="0">INEI - MINEDU</option>
                                        <option value="1">MINEDU</option>  
										<option value="2">INEI</option>
										
									</select>
										<span style="color: red;">{{ errors.first('form-etapa.tipo_dpcumento') }}</span> 
								</div>
								<button type="submit" @click="listarAvanceDocumento" class="btn btn-color mb-2" :disabled="desabilitado">Buscar</button>
							</div>
                        </div>
                        <hr>
                        <div class="table-responsive">

                        <!-- reporte a nivel documento -->
                        <template >
                            <div v-show="tablaDocumentoActivo">
                                <div style="margin-bottom: 10px">
                                <el-row>
                                    <el-col :span="18">
                                        <el-button style="background-color: #1C9A51; color:white; height:35px;"  @click="exportarExcel" :disabled="desabilitado">Exportar</el-button> 
                                    </el-col>

                                    <el-col :span="6">
                                    <el-input placeholder="Buscar" v-model="filters[0].value"></el-input>
                                    </el-col>
                                </el-row>
                                </div>
                                <data-tables
                                :data="dataDocumento"                                 
                                :filters="filters" 
                                :page-size="16" 
                                :pagination-props="{ pageSizes: [16, 50, 100] }"
                                v-loading="loading"
                                :table-props="tableProps"                              
                                     
                                >

                                <el-table-column prop="row_num" label="N°" sortable="custom" width="50" fixed  >                                     
                                </el-table-column>

                                <el-table-column prop="tipo_nombre" label="Tipo" width="60" fixed>                                     
                                </el-table-column>

                                <el-table-column prop="etiqueta" label="Documento" width="600" fixed>                                     
                                </el-table-column>

                                <el-table-column prop="p0_01_tot_doc" label="Marco" width="70" align="right" :formatter="p0_01_tot_doc">                                     
                                </el-table-column>

                                <el-table-column label="1. Inventario y Recepción">  
                                    <el-table-column prop="p1_01_tot_doc" label="Doc" width="55" align="right" :formatter="p1_01_tot_doc">  
                                    </el-table-column>
                                    <el-table-column prop="p1_01_porc_doc" label="%Doc" width="55" align="right">
                                    </el-table-column>
                                    <el-table-column prop="p1_02_tot_doc" label="Obs" width="55" align="right" :formatter="p1_02_tot_doc">  
                                    </el-table-column>
                                    <el-table-column prop="p1_02_porc_obs" label="%Obs" width="55" align="right" >
                                    </el-table-column>                                                          
                                </el-table-column>

                                <el-table-column label="2. Revisión y Consistencia">  
                                    <el-table-column prop="p2_01_tot_doc" label="Doc" width="55" align="right" :formatter="p2_01_tot_doc">  
                                    </el-table-column>
                                    <el-table-column prop="p2_01_porc_doc" label="%Doc" width="55" align="right">
                                    </el-table-column>
                                    <el-table-column prop="p2_02_tot_doc" label="Obs" width="55" align="right" :formatter="p2_02_tot_doc">  
                                    </el-table-column>
                                    <el-table-column prop="p2_02_porc_obs" label="%Obs" width="55" align="right">
                                    </el-table-column>                                                          
                                </el-table-column>

                                <el-table-column label="3. Control de Calidad">  
                                    <el-table-column prop="p3_01_tot_doc" label="Doc" width="55" align="right" :formatter="p3_01_tot_doc">  
                                    </el-table-column>
                                    <el-table-column prop="p3_01_porc_doc" label="%Doc" width="55" align="right">
                                    </el-table-column>
                                    <el-table-column prop="p3_02_tot_doc" label="Obs" width="55" align="right" :formatter="p3_02_tot_doc">  
                                    </el-table-column>
                                    <el-table-column prop="p3_02_porc_obs" label="%Obs" width="55" align="right">
                                    </el-table-column>                                                          
                                </el-table-column>

                                 <el-table-column label="4. Inventario Final">  
                                    <el-table-column prop="p4_01_tot_doc" label="Doc" width="55" align="right" :formatter="p4_01_tot_doc">  
                                    </el-table-column>
                                    <el-table-column prop="p4_01_porc_doc" label="%Doc" width="55" align="right">
                                    </el-table-column>
                                    <el-table-column prop="p4_02_tot_doc" label="Obs" width="55" align="right" :formatter="p4_02_tot_doc">  
                                    </el-table-column>
                                    <el-table-column prop="p4_02_porc_obs" label="%Obs" width="55" align="right">
                                    </el-table-column>                                                          
                                </el-table-column>

                                <el-table-column label="Observados">   
                                    <el-table-column prop="p0_01_tot_obs" label="Tot" width="55" align="right" >                                       
                                    </el-table-column>     
                                    <el-table-column prop="p0_01_porc_obs" label="%Obs"  width="55" align="right">                                     
                                    </el-table-column>                          
                                </el-table-column>


                                </data-tables>
                            </div>
                        </template>

                        <!-- reporte a nivel documento y sede regional-->
                        <template>
                            <div v-show="tablaRegionalActivo ">
                                <div style="margin-bottom: 10px">
                                <el-row>
                                    <el-col :span="18">
                                        <el-button style="background-color: #1C9A51; color:white; height:35px;"  @click="exportarExcel" :disabled="desabilitado">Exportar</el-button> 
                                    </el-col>

                                    <el-col :span="6">
                                    <el-input placeholder="Buscar" v-model="filters[0].value"></el-input>
                                    </el-col>
                                </el-row>
                                </div>
                                <data-tables
                                :data="dataRegional"                                 
                                :filters="filters" 
                                :page-size="16" 
                                :pagination-props="{ pageSizes: [16, 50, 100] }"
                                v-loading="loading"
                                :table-props="tableProps"                              
                                     
                                >

                                <el-table-column prop="row_num" label="N°" sortable="custom" width="50" fixed  >                                     
                                </el-table-column>

                                <el-table-column prop="sede_regional" label="Sede Regional" width="230"  sortable="custom" fixed >                                     
                                </el-table-column>

                                <el-table-column prop="tipo_nombre" label="Tipo" width="60" >                                     
                                </el-table-column>

                                <el-table-column prop="etiqueta" label="Documento" width="600" >                                     
                                </el-table-column>

                                <el-table-column prop="p0_01_tot_doc" label="Marco" width="70" align="right" :formatter="p0_01_tot_doc">                                     
                                </el-table-column>

                                <el-table-column label="1. Inventario y Recepción">  
                                    <el-table-column prop="p1_01_tot_doc" label="Doc" width="55" align="right" :formatter="p1_01_tot_doc">  
                                    </el-table-column>
                                    <el-table-column prop="p1_01_porc_doc" label="%Doc" width="55" align="right">
                                    </el-table-column>
                                    <el-table-column prop="p1_02_tot_doc" label="Obs" width="55" align="right" :formatter="p1_02_tot_doc">  
                                    </el-table-column>
                                    <el-table-column prop="p1_02_porc_obs" label="%Obs" width="55" align="right" >
                                    </el-table-column>                                                          
                                </el-table-column>

                                <el-table-column label="2. Revisión y Consistencia">  
                                    <el-table-column prop="p2_01_tot_doc" label="Doc" width="55" align="right" :formatter="p2_01_tot_doc">  
                                    </el-table-column>
                                    <el-table-column prop="p2_01_porc_doc" label="%Doc" width="55" align="right">
                                    </el-table-column>
                                    <el-table-column prop="p2_02_tot_doc" label="Obs" width="55" align="right" :formatter="p2_02_tot_doc">  
                                    </el-table-column>
                                    <el-table-column prop="p2_02_porc_obs" label="%Obs" width="55" align="right">
                                    </el-table-column>                                                          
                                </el-table-column>

                                <el-table-column label="3. Control de Calidad">  
                                    <el-table-column prop="p3_01_tot_doc" label="Doc" width="55" align="right" :formatter="p3_01_tot_doc">  
                                    </el-table-column>
                                    <el-table-column prop="p3_01_porc_doc" label="%Doc" width="55" align="right">
                                    </el-table-column>
                                    <el-table-column prop="p3_02_tot_doc" label="Obs" width="55" align="right" :formatter="p3_02_tot_doc">  
                                    </el-table-column>
                                    <el-table-column prop="p3_02_porc_obs" label="%Obs" width="55" align="right">
                                    </el-table-column>                                                          
                                </el-table-column>

                                 <el-table-column label="4. Inventario Final">  
                                    <el-table-column prop="p4_01_tot_doc" label="Doc" width="55" align="right" :formatter="p4_01_tot_doc">  
                                    </el-table-column>
                                    <el-table-column prop="p4_01_porc_doc" label="%Doc" width="55" align="right">
                                    </el-table-column>
                                    <el-table-column prop="p4_02_tot_doc" label="Obs" width="55" align="right" :formatter="p4_02_tot_doc">  
                                    </el-table-column>
                                    <el-table-column prop="p4_02_porc_obs" label="%Obs" width="55" align="right">
                                    </el-table-column>                                                          
                                </el-table-column>

                                <el-table-column label="Observados">   
                                    <el-table-column prop="p0_01_tot_obs" label="Tot" width="55" align="right" >                                       
                                    </el-table-column>     
                                    <el-table-column prop="p0_01_porc_obs" label="%Obs"  width="55" align="right">                                     
                                    </el-table-column>                          
                                </el-table-column>


                                </data-tables>
                            </div>
                        </template>

                        <!-- reporte a nivel documento y sede provincial / distrital-->
                        <template >
                            <div v-show="tablaProvincialActivo">
                                <div style="margin-bottom: 10px">
                                <el-row>
                                    <el-col :span="18">
                                        <el-button style="background-color: #1C9A51; color:white; height:35px;"  @click="exportarExcel" :disabled="desabilitado">Exportar</el-button> 
                                    </el-col>

                                    <el-col :span="6">
                                    <el-input placeholder="Buscar" v-model="filters[0].value"></el-input>
                                    </el-col>
                                </el-row>
                                </div>
                                <data-tables
                                :data="dataProvincial"                                 
                                :filters="filters" 
                                :page-size="16" 
                                :pagination-props="{ pageSizes: [16, 50, 100] }"
                                v-loading="loading"
                                :table-props="tableProps"                              
                                     
                                >

                                <el-table-column prop="row_num" label="N°" sortable="custom" width="50" fixed  >                                     
                                </el-table-column>  

                                <el-table-column prop="sede_regional" label="Sede Regional" width="230"  sortable="custom" fixed >                                     
                                </el-table-column>
                                <el-table-column prop="sede_provincial" label="Sede Provincial" width="230"  sortable="custom" fixed >                                     
                                </el-table-column>
                                <el-table-column prop="sede_distrital" label="Sede Distrital" width="230"  sortable="custom" fixed >                                     
                                </el-table-column>

                                <el-table-column prop="tipo_nombre" label="Tipo" width="60" >                                     
                                </el-table-column>

                                <el-table-column prop="etiqueta" label="Documento" width="400" >                                     
                                </el-table-column>

                                <el-table-column prop="p0_01_tot_doc" label="Marco" width="70" align="right" :formatter="p0_01_tot_doc">                                     
                                </el-table-column>

                                <el-table-column label="1. Inventario y Recepción">  
                                    <el-table-column prop="p1_01_tot_doc" label="Doc" width="55" align="right" :formatter="p1_01_tot_doc">  
                                    </el-table-column>
                                    <el-table-column prop="p1_01_porc_doc" label="%Doc" width="55" align="right">
                                    </el-table-column>
                                    <el-table-column prop="p1_02_tot_doc" label="Obs" width="55" align="right" :formatter="p1_02_tot_doc">  
                                    </el-table-column>
                                    <el-table-column prop="p1_02_porc_obs" label="%Obs" width="55" align="right" >
                                    </el-table-column>                                                          
                                </el-table-column>

                                <el-table-column label="2. Revisión y Consistencia">  
                                    <el-table-column prop="p2_01_tot_doc" label="Doc" width="55" align="right" :formatter="p2_01_tot_doc">  
                                    </el-table-column>
                                    <el-table-column prop="p2_01_porc_doc" label="%Doc" width="55" align="right">
                                    </el-table-column>
                                    <el-table-column prop="p2_02_tot_doc" label="Obs" width="55" align="right" :formatter="p2_02_tot_doc">  
                                    </el-table-column>
                                    <el-table-column prop="p2_02_porc_obs" label="%Obs" width="55" align="right">
                                    </el-table-column>                                                          
                                </el-table-column>

                                <el-table-column label="3. Control de Calidad">  
                                    <el-table-column prop="p3_01_tot_doc" label="Doc" width="55" align="right" :formatter="p3_01_tot_doc">  
                                    </el-table-column>
                                    <el-table-column prop="p3_01_porc_doc" label="%Doc" width="55" align="right">
                                    </el-table-column>
                                    <el-table-column prop="p3_02_tot_doc" label="Obs" width="55" align="right" :formatter="p3_02_tot_doc">  
                                    </el-table-column>
                                    <el-table-column prop="p3_02_porc_obs" label="%Obs" width="55" align="right">
                                    </el-table-column>                                                          
                                </el-table-column>

                                 <el-table-column label="4. Inventario Final">  
                                    <el-table-column prop="p4_01_tot_doc" label="Doc" width="55" align="right" :formatter="p4_01_tot_doc">  
                                    </el-table-column>
                                    <el-table-column prop="p4_01_porc_doc" label="%Doc" width="55" align="right">
                                    </el-table-column>
                                    <el-table-column prop="p4_02_tot_doc" label="Obs" width="55" align="right" :formatter="p4_02_tot_doc">  
                                    </el-table-column>
                                    <el-table-column prop="p4_02_porc_obs" label="%Obs" width="55" align="right">
                                    </el-table-column>                                                          
                                </el-table-column>

                                <el-table-column label="Observados">   
                                    <el-table-column prop="p0_01_tot_obs" label="Tot" width="55" align="right" >                                       
                                    </el-table-column>     
                                    <el-table-column prop="p0_01_porc_obs" label="%Obs"  width="55" align="right">                                     
                                    </el-table-column>                          
                                </el-table-column>

                                </data-tables>
                            </div>
                        </template>


                        </div>
                    </div>
                </div>
            </div>
        </div>

     
        <!--    Inico Exportar -->

        <div v-show="false" v-if="exportInfoDocumento">
            <general-export-documento 
                :titulo='exportInfo.titulo'
                :titles='exportInfo.titles'
                :data='exportInfo.data'
                :formato='exportInfo.formato'
                :fileName='exportInfo.fileName'
                :withColNumber='exportInfo.withColNumber'
                >

            </general-export-documento>
        </div>
         <!--    Fin Exportar -->

         <!--    Inico Exportar -->

        <div v-show="false" v-if="exportInfoRegional">
            <general-export-regional
                :titulo='exportInfo.titulo'
                :titles='exportInfo.titles'
                :data='exportInfo.data'
                :formato='exportInfo.formato'
                :fileName='exportInfo.fileName'
                :withColNumber='exportInfo.withColNumber'
                >

            </general-export-regional>
        </div>
         <!--    Fin Exportar -->

         <!--    Inico Exportar -->

        <div v-show="false" v-if="exportInfoProvincial">
            <general-export-provincial
                :titulo='exportInfo.titulo'
                :titles='exportInfo.titles'
                :data='exportInfo.data'
                :formato='exportInfo.formato'
                :fileName='exportInfo.fileName'
                :withColNumber='exportInfo.withColNumber'
                >

            </general-export-provincial>
        </div>
         <!--    Fin Exportar -->
     
    </div>
    
</template>

<script>

    
    import helper from '../../services/helper';
    import DatePicker from 'vue2-datepicker';   
    import { DataTables } from 'vue-data-tables';
    import Multiselect from 'vue-multiselect';
    import generalExportDocumento from './export/avanceDocumentoExcel';
    import generalExportRegional from './export/avanceDocumentoSedeRegionalExcel';
    import generalExportProvincial from './export/avanceDocumentoSedeProvincialExcel';

    var f=new Date();
    var hoy = {
        fecha: helper.formatDate(f),
        hora: f.getHours()+":"+f.getMinutes(),
    };

    export default {
        components : {DatePicker,DataTables,Multiselect,generalExportDocumento,generalExportRegional,generalExportProvincial},
        data() {
            return {             
               
                dataDocumento:[],
                dataRegional:[],
                dataProvincial:[],
                titles:[                  
                    {prop: "row_num"},
                    {prop: "sede_regional"},
                    {prop: "sede_provincial"},
                    {prop: "sede_distrital"},
                    {prop: "tipo_nombre"},
                    {prop: "etiqueta"},
                    {prop: "p0_01_tot_doc"},
                    {prop: "p1_01_tot_doc"},
                    {prop: "p1_01_porc_doc"},
                    {prop: "p1_02_tot_doc"},
                    {prop: "p1_02_porc_obs"},
                    {prop: "p2_01_tot_doc"},
                    {prop: "p2_01_porc_doc"},
                    {prop: "p2_02_tot_doc"},
                    {prop: "p2_02_porc_obs"},
                    {prop: "p3_01_tot_doc"},
                    {prop: "p3_01_porc_doc"},
                    {prop: "p3_02_tot_doc"},
                    {prop: "p3_02_porc_obs"},
                    {prop: "p4_01_tot_doc"},
                    {prop: "p4_01_porc_doc"},
                    {prop: "p4_02_tot_doc"},
                    {prop: "p4_02_porc_obs"},
                    //{prop: "p0_02_tot"},
                    //{prop: "p0_02_porc"},
                    
                   
                    ],
                filters: [{prop: ['operativo_nombre','etiqueta'],value: ''}],   
                loading: false,
                tableProps: {
                    border: true,
                    stripe: true,                    
                    defaultSort: {
                        prop: 'row_num',
                        order: 'ascending'
                    },
                                           
                },   
                //fin datatables
                sedes_regionales:[],
                sedes_provinciales:[],
                sedes_distritales:[], 
                deshabilitar:{
                    fecha_inicio: (new Date).setDate((new Date).getDate() - 10),
                    fecha_fin: (new Date).setDate((new Date).getDate() + 1),
                },
                desabilitado:false, 
                m_select:{
                    value:'',
                    data:[],
                    isLoading: false,
                }, 
                exportInfoDocumento:false, 
                exportInfoRegional:false,
                exportInfoProvincial:false,
                exportInfo:{                  
                    titulo: '',
                    data:[],
                    formato: 'excel',
                    titles:[],
                    fileName:'',
                    withColNumber:false,
                },          
                filtrosBusqueda: {
                    tipo_reporte: '1',
                    tipo_documento: '0',
                    operativo: '1', 
                                  
                },     
                tablaDocumentoActivo:true,             
                tablaRegionalActivo:false,
                tablaProvincialActivo:false,
                desabilitado: false,
            }
        },

        created() {            
           // this.obtenerSedeRegional();
            //this.listarAvanceDocumento();
        },        
        methods: {
                
            p0_01_tot_doc(row, column) {return row.p0_01_tot_doc.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");}, 
            p0_02_tot_doc(row, column) {return row.p0_02_tot_doc.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");}, 
            p1_01_tot_doc(row, column) {return row.p1_01_tot_doc.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");}, 
            p1_02_tot_doc(row, column) {return row.p1_02_tot_doc.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");}, 
            p2_01_tot_doc(row, column) {return row.p2_01_tot_doc.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");}, 
            p2_02_tot_doc(row, column) {return row.p2_02_tot_doc.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");}, 
            p3_01_tot_doc(row, column) {return row.p3_01_tot_doc.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");}, 
            p3_02_tot_doc(row, column) {return row.p3_02_tot_doc.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");}, 
            p4_01_tot_doc(row, column) {return row.p4_01_tot_doc.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");}, 
            p4_02_tot_doc(row, column) {return row.p4_02_tot_doc.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");}, 

            listarAvanceDocumento() {
                if(this.filtrosBusqueda.tipo_reporte == 1){                   
                    this.consultaDocumento();
                }
                if(this.filtrosBusqueda.tipo_reporte == 2){                  
                    this.consultaSedeRegional();
                }
                if(this.filtrosBusqueda.tipo_reporte == 3){                    
                    this.consultaSedeProvincial();
                }
                this.tipoReporteCambiado();

            }, 
            tipoReporteCambiado(){
                if(this.filtrosBusqueda.tipo_reporte == 1){
                    this.tablaDocumentoActivo = true;
                    this.tablaRegionalActivo = false;
                    this.tablaProvincialActivo = false;
                }
                if(this.filtrosBusqueda.tipo_reporte == 2){
                    this.tablaDocumentoActivo = false;
                    this.tablaRegionalActivo = true;
                    this.tablaProvincialActivo = false;
                }
                if(this.filtrosBusqueda.tipo_reporte == 3){
                    this.tablaDocumentoActivo = false;
                    this.tablaRegionalActivo = false;
                    this.tablaProvincialActivo = true;
                }
            }, 
            consultaDocumento(){
                this.loading=true;
               /*  this.filtrosBusqueda.fecha_fin = this.filtrosBusqueda.fecha_ini;                
                this.filtrosBusqueda.persona = (this.m_select.value=='') ? '0' : ''+this.m_select.value.id; */
                helper.deshabilitarBoton(this);                
                let url = helper.getFilterURL(this.filtrosBusqueda);
                axios.get('api/cant_documentos/avance_documento?'+ url).then(response => {                    
                    response.data.resp_array.forEach(function(item){
                        item.p0_01_tot_doc = Number(item.p0_01_tot_doc);
                        item.p0_02_tot_doc = Number(item.p0_02_tot_doc);
                        item.p1_01_tot_doc = Number(item.p1_01_tot_doc);
                        item.p1_02_tot_doc = Number(item.p1_02_tot_doc);
                        item.p2_01_tot_doc = Number(item.p2_01_tot_doc);
                        item.p2_02_tot_doc = Number(item.p2_02_tot_doc);
                        item.p3_01_tot_doc = Number(item.p3_01_tot_doc);
                        item.p3_02_tot_doc = Number(item.p3_02_tot_doc);
                        item.p4_01_tot_doc = Number(item.p4_01_tot_doc);
                        item.p4_02_tot_doc = Number(item.p4_02_tot_doc);                        
                    });
                    this.dataDocumento = response.data.resp_array;
                    helper.habilitarBoton(this);
                    this.loading=false;
                }).catch(error => {
                    toastr['error'](error.response.data.message);
                    helper.habilitarBoton(this);
                    this.loading=false;
                });   
            }, 
            consultaSedeRegional(){
                this.loading=true;
               /*  this.filtrosBusqueda.fecha_fin = this.filtrosBusqueda.fecha_ini;                
                this.filtrosBusqueda.persona = (this.m_select.value=='') ? '0' : ''+this.m_select.value.id; */
                helper.deshabilitarBoton(this);                
                let url = helper.getFilterURL(this.filtrosBusqueda);
                axios.get('api/cant_documentos/avance_documento_sede_regional?'+ url).then(response => {                   
                    /*response.data.resp_array.forEach(function(item){
                        item.p0_01_tot_doc = Number(item.p0_01_tot_doc);
                        item.p0_02_tot_doc = Number(item.p0_02_tot_doc);
                        item.p1_01_tot_doc = Number(item.p1_01_tot_doc);
                        item.p1_02_tot_doc = Number(item.p1_02_tot_doc);
                        item.p2_01_tot_doc = Number(item.p2_01_tot_doc);
                        item.p2_02_tot_doc = Number(item.p2_02_tot_doc);
                        item.p3_01_tot_doc = Number(item.p3_01_tot_doc);
                        item.p3_02_tot_doc = Number(item.p3_02_tot_doc);
                        item.p4_01_tot_doc = Number(item.p4_01_tot_doc);
                        item.p4_02_tot_doc = Number(item.p4_02_tot_doc);
                    });*/
                    this.dataRegional = response.data.resp_array;
                    helper.habilitarBoton(this);
                    this.loading=false;
                }).catch(error => {
                    toastr['error'](error.response.data.message);
                    helper.habilitarBoton(this);
                    this.loading=false;
                });   
            }, 
            consultaSedeProvincial(){
                this.loading=true;
               /*  this.filtrosBusqueda.fecha_fin = this.filtrosBusqueda.fecha_ini;                
                this.filtrosBusqueda.persona = (this.m_select.value=='') ? '0' : ''+this.m_select.value.id; */
                helper.deshabilitarBoton(this);                
                let url = helper.getFilterURL(this.filtrosBusqueda);
                axios.get('api/cant_documentos/avance_documento_sede_provincial?'+ url).then(response => {                    
                    response.data.resp_array.forEach(function(item){
                        item.p0_01_tot_doc = Number(item.p0_01_tot_doc);
                        item.p0_02_tot_doc = Number(item.p0_02_tot_doc);
                        item.p1_01_tot_doc = Number(item.p1_01_tot_doc);
                        item.p1_02_tot_doc = Number(item.p1_02_tot_doc);
                        item.p2_01_tot_doc = Number(item.p2_01_tot_doc);
                        item.p2_02_tot_doc = Number(item.p2_02_tot_doc);
                        item.p3_01_tot_doc = Number(item.p3_01_tot_doc);
                        item.p3_02_tot_doc = Number(item.p3_02_tot_doc);
                        item.p4_01_tot_doc = Number(item.p4_01_tot_doc);
                        item.p4_02_tot_doc = Number(item.p4_02_tot_doc);
                    });
                    this.dataProvincial = response.data.resp_array;
                    helper.habilitarBoton(this);
                    this.loading=false;
                }).catch(error => {
                    toastr['error'](error.response.data.message);
                    helper.habilitarBoton(this);
                    this.loading=false;
                });   
            }, 
            
            obtenerSedeRegional(){
                this.filtrosBusqueda.sede_provincial = '';
                this.filtrosBusqueda.sede_distrital = '';
                axios.get('api/select/sedes_regionales')
                    .then(response => this.sedes_regionales = response.data ); 
            },
            obtenerSedeProvincial(){
                this.filtrosBusqueda.sede_provincial = '';
                this.filtrosBusqueda.sede_distrital = '';
                if(this.filtrosBusqueda.sede_regional == '' ) return 0;
                axios.get('api/select/sedes_provinciales/' + this.filtrosBusqueda.sede_regional)
                    .then(response => this.sedes_provinciales = response.data ); 
            },
            obtenerSedeDistrital(){
                if( this.filtrosBusqueda.sede_provincial == '') return 0;
                axios.get('api/select/sedes_distritales/' + this.filtrosBusqueda.sede_regional + '/' +  this.filtrosBusqueda.sede_provincial)
                .then(response => {
                   // console.log(response.data);
                    if(response.data[0].cod_sede_distrital=='00'){
                        console.log("entro");
                        this.sedes_distritales[0] = {
                            cod_sede_distrital: "00",
                            id: response.data[0].id,
                            sede_distrital: "SIN DISTRITO",
                        };                        
                        this.filtrosBusqueda.sede_distrital = response.data[0].id;
                    }
                    else{
                        this.sedes_distritales = response.data;
                    }
                                       
                }).catch(error => {
                    toastr['error'](error.response.data.message);
                   
                });                 
            },        
            limitText (count) {
                return `and ${count} other selectProductosDescripcion`
            },
            buscarPersonas(descripcion){   
                let _this = this;          
                _this.m_select.isLoading = true;                
                if(descripcion.length<2){
                    _this.m_select.data=[];
                    _this.m_select.isLoading = false;                   
                    return;
                }
                
                axios.get('api/persona/buscar_personas/'+descripcion).then(response => {
                            _this.m_select.data = response.data
                            _this.m_select.isLoading = false
                        }).catch(error => {
                            toastr['error'](error.response.data.message);
                        });
            },
            personaSeleccionada(query,index){
                console.log("persona" + query + index);
                console.log(query);
            },      
             
           
            exportarExcel(){
                helper.deshabilitarBoton(this);
                if(this.filtrosBusqueda.tipo_reporte == 1){                   
                    this.exportInfoDocumento = true; 
                    this.exportInfo.titulo = 'Reporte de Avance por Documento'; 
                    this.exportInfo.titles = this.titles; 
                    this.exportInfo.data = this.dataDocumento; 
                    this.exportInfo.formato = 'excel';
                    this.exportInfo.fileName = 'Reporte de Avance por Documento';
                    this.exportInfo.withColNumber = true;
                }
                if(this.filtrosBusqueda.tipo_reporte == 2){                  
                    this.exportInfoRegional = true; 
                    this.exportInfo.titulo = 'Reporte de Avance por Sede Regional '; 
                    this.exportInfo.titles = this.titles; 
                    this.exportInfo.data = this.dataRegional; 
                    this.exportInfo.formato = 'excel';
                    this.exportInfo.fileName = 'Reporte de Avance por Sede Regional';
                    this.exportInfo.withColNumber = true;
                }
                if(this.filtrosBusqueda.tipo_reporte == 3){                    
                    this.exportInfoProvincial = true; 
                    this.exportInfo.titulo = 'Reporte de Avance por Provincial/Distrital'; 
                    this.exportInfo.titles = this.titles; 
                    this.exportInfo.data = this.dataProvincial; 
                    this.exportInfo.formato = 'excel';
                    this.exportInfo.fileName = 'Reporte de Avance por Provincial/Distrital';
                    this.exportInfo.withColNumber = true;
                }    
                
                setTimeout(() => { 
                    this.exportInfoDocumento = false;
                    this.exportInfoRegional = false;
                    this.exportInfoProvincial = false;
                    helper.habilitarBoton(this);
                    }, 1000);              
            },                           
           //fin methods
        },
        
    }
</script>