<template>
	<div>       
        <div class="row">
            <div class="col-lg-12"> 
                <div class="card">
                    <div class="card-body">
                        <div class="row ">
							<div class="col-lg-12 text-center">
                                <h4 class="card-title">Reporte Avance sede Provincial/Distrital Gestión Documental</h4>
                            </div>                         
                        </div>
                        <hr>
						<div class="row">
							<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
								<div class="form-group">
                                    <label for="" class="color">Sede Regional (*)</label>
                                        <select name="sede_regional" class="form-control form-control-sm " v-model="filtrosBusqueda.sede_regional"  @change="obtenerSedeProvincial" v-validate="'required'" data-vv-as="Sede Regional">
                                            <option value="">Seleccione</option>
                                            <option v-for="sede in sedes_regionales" :key="sede.id" :value="sede.cod_sede_regional" v-text="sede.sede_regional" ></option> 
                                        </select>
                                    <span style="color: red;">{{ errors.first('form-etapa.sede_regional') }}</span>
								</div>	  
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
								<div class="form-group">
                                    <label class="color" for="">Sede Provincial (*)</label>
                                        <select name="sede_provincial" class="form-control form-control-sm" v-model="filtrosBusqueda.sede_provincial" @change="obtenerSedeDistrital" v-validate="'required'" data-vv-as="Sede Provincial">
                                            <option value="">Seleccione</option>
                                            <option v-for="sede in sedes_provinciales" :key="sede.id" :value="sede.cod_sede_provincial" v-text="sede.sede_provincial" ></option> 
                                        </select>
                                    <span style="color: red;">{{ errors.first('form-etapa.sede_provincial') }}</span>  
                                </div>
							</div>	
							<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
								<div class="form-group">
                                    <label class="color" for="">Sede Distrital (*)</label>                                    
                                        <select name="sede_distrital" class="form-control form-control-sm" v-model="filtrosBusqueda.sede_distrital"  v-validate="'required'" data-vv-as="Sede Distrital">
                                            <option value="">Seleccione</option>
                                            <option v-for="sede in sedes_distritales" :key="sede.id" :value="sede.cod_sede_distrital" v-text="sede.sede_distrital" ></option>        
                                        </select>
                                    <span style="color: red;">{{ errors.first('form-etapa.sede_distrital') }}</span>  
                                </div>
							</div>		
							<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
								<div class="form-group row">
                                    <label class="color" for="">Operativo (*)</label>
                                        <select name="operativo" class="form-control form-control-sm" v-model="filtrosBusqueda.operativo" v-validate="'required'" data-vv-as="Operativo" >
                                            <option value="0">ECE-EM</option>
                                            <option value="1">ECE Secundaria</option>
                                            <option value="2">EM Primaria</option>
                                            
                                        </select>
                                    <span style="color: red;">{{ errors.first('form-etapa.operativo') }}</span> 
                                </div>
							</div>
							<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
								<div class="form-group">
                                    <label class="color" for="">Tipo Documento (*)</label>                                    
                                        <select name="tipo_documento" class="form-control form-control-sm" v-model="filtrosBusqueda.tipo_documento"  v-validate="'required'" data-vv-as="tipo_documento">
											<option value="0">MINEDU-INEI</option>
                                            <option value="1">MINEDU</option>
                                            <option value="2">INEI</option>
                                              
                                        </select>
                                    <span style="color: red;">{{ errors.first('form-etapa.tipo_documentol') }}</span>  
                                </div>
							</div>
						</div>
						<div style="text-align: center;">
   								<button type="submit"  @click="listarAvanceSede" class="btn btn-color col-lg-1" :disabled="desabilitado"> Buscar </button>
                        </div>

                       <hr>
                       
                        <div class="table-responsive">
                        <template>
                            <div>
                                <div style="margin-bottom: 10px">
                                <el-row>
                                    <el-col :span="18">
                                     <el-button style="background-color: #1C9A51; color:white; height:35px;" @click="exportarExcel" :disabled="desabilitado">Exportar</el-button> 
                                    </el-col>

                                    <el-col :span="6">
                                    <el-input placeholder="Buscar" v-model="filters[0].value"></el-input>
                                    </el-col>
                                    </el-row>
                                    </div>
                                    <data-tables
                                    :data="data" 
                                    :filters="filters" 
                                    :page-size="15" 
                                    :pagination-props="{ pageSizes: [15, 50, 100] }"
                                    v-loading="loading"
                                    :table-props="tableProps"
                                    height="400"                                
                                >
                                <el-table-column prop="row_num" label="N°" width="50" sortable="custom" fixed >                                     
                                </el-table-column>

                                <!-- <el-table-column prop="operativo_nombre" label="Ope" width="60"  sortable="custom" fixed >                                     
                                </el-table-column> -->

                                <el-table-column prop="sede_regional" label="Sede Regional" width="230"  sortable="custom" fixed >                                     
                                </el-table-column>

                                <el-table-column prop="sede_provincial" label="Sede Provincial" width="250" sortable="custom" fixed>                                     
                                </el-table-column>

                                <el-table-column prop="sede_distrital" label="Sede Distrital" width="323" sortable="custom" fixed>                                     
                                </el-table-column>

                                 
                                <el-table-column prop="p0_01_tot" label="Marco" width="65" align="right">                                     
                                </el-table-column>  
                                    

                                <el-table-column label="1. Inventario y Recepción">  
                                    <el-table-column prop="p1_01" label="Doc" width="55" align="right">
                                    </el-table-column>
                                    <el-table-column prop="p1_01_avance" label="%Doc" width="55" align="right">
                                    </el-table-column>
                                    <el-table-column prop="p1_02" label="Obs" width="55" align="right">
                                    </el-table-column>
                                    <el-table-column prop="p1_02_avance" label="%Obs" width="55" align="right">
                                    </el-table-column>                                                          
                                </el-table-column>

                                <el-table-column label="2. Revisión y Consistencia">  
                                    <el-table-column prop="p2_01" label="Doc" width="55" align="right">
                                    </el-table-column>
                                    <el-table-column prop="p2_01_avance" label="%Doc" width="55" align="right">
                                    </el-table-column>
                                    <el-table-column prop="p2_02" label="Obs" width="55" align="right">
                                    </el-table-column>
                                    <el-table-column prop="p2_02_avance" label="%Obs" width="55" align="right">
                                    </el-table-column>                                                          
                                </el-table-column>

                                <el-table-column label="3. Control de Calidad">  
                                    <el-table-column prop="p3_01" label="Doc" width="55" align="right">
                                    </el-table-column>
                                    <el-table-column prop="p3_01_avance" label="%Doc" width="55" align="right">
                                    </el-table-column>
                                    <el-table-column prop="p3_02" label="Obs" width="55" align="right">
                                    </el-table-column>
                                    <el-table-column prop="p3_02_avance" label="%Obs" width="55" align="right">
                                    </el-table-column>                                                          
                                </el-table-column>

                                <el-table-column label="4. Inventario Final">  
                                    <el-table-column prop="p4_01" label="Doc" width="55" align="right">
                                    </el-table-column>
                                    <el-table-column prop="p4_01_avance" label="%Doc" width="55" align="right">
                                    </el-table-column>
                                    <el-table-column prop="p4_02" label="Obs" width="55" align="right">
                                    </el-table-column>
                                    <el-table-column prop="p4_02_avance" label="%Obs" width="55" align="right">
                                    </el-table-column>                                                          
                                </el-table-column>
                                 
                                <el-table-column label="Observados">   
                                    <el-table-column prop="p0_02_tot" label="Tot" width="55" align="right">                                     
                                    </el-table-column>     
                                    <el-table-column prop="p0_02_porc" label="%Obs"  width="55" align="right">                                     
                                    </el-table-column>                          
                                </el-table-column>


                                <!-- <el-table-column v-for="title in titles" :prop="title.prop" :label="title.label" :key="title.prop" sortable="custom">
                                </el-table-column> -->

                            <!--     <el-table-column type="selection" width="55">
                                </el-table-column> -->
                               
                                   <!--  <el-table-column prop="opciones" label="Opciones" width="120">
                                        <template slot-scope="scope">                                       
                                            <button class="btn btn-info btn-sm" @click.prevent="imprimir(scope.row)" data-toggle="tooltip" title="Imprimir"><i class="fa fa-print"></i></button>
                                            <button class="btn btn-success btn-sm" @click.prevent="descargar(scope.row)" data-toggle="tooltip" title="Descargas"><i class="fa fa-download"></i></button>
                                            <button v-if="scope.row.state_type_id == '05' || scope.row.state_type_id == '03' || scope.row.state_type_id == '01'" class="btn btn-danger btn-sm" @click.prevent="anular(scope.row)" data-toggle="tooltip" title="Anular"><i class="fa fa-times"></i></button>
                                            
                                        </template>
                                    </el-table-column>   -->
                                </data-tables>
                            </div>
                        </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>   

        <!--    Inico Exportar -->

        <div v-show="false" v-if="exportInfo.activo">
            <general-export
            :titulo='exportInfo.titulo'
            :data='exportInfo.data'
            :formato='exportInfo.formato'
            :fileName='exportInfo.fileName'
            :withColNumber='exportInfo.withColNumber'
            >
            </general-export>
        </div>
         <!--    Fin Exportar -->

    </div>
    
</template>

<script>

    
    import helper from '../../services/helper';
    import DatePicker from 'vue2-datepicker';   
    import { DataTables } from 'vue-data-tables';
    import generalExport from './export/avanceProvincialExcel';

    var f=new Date();
    var hoy = {
        fecha: helper.formatDate(f),
        hora: f.getHours()+":"+f.getMinutes(),
    };

    var tipo_documento = '03';//aqui seleccionamos el tipo de comprobante

    export default {
        components : { DatePicker,DataTables,generalExport },
        data() {
            return { 
                data:[],
                titles:[    {prop: "sede_regional", label: "Sede Regional"},
                            {prop: "sede_provincial", label: "Sede Provincial"}, 
                            {prop: "sede_distrital", label: "Sede Distrital"}, 
                            {prop: "operativo_nombre", label: "Operativo"},                             
                            {prop: "p0_01_tot", label: "Operativo"}, 
                            {prop: "p0_02_tot", label: "Operativo"},
                            {prop: "p1_01", label: "Operativo"},
                            {prop: "p1_01_avance", label: "Operativo"},
                            {prop: "p1_02", label: "Operativo"},
                            {prop: "p1_02_avance", label: "Operativo"},
                            {prop: "p2_01", label: "Operativo"},
                            {prop: "p2_01_avance", label: "Operativo"},
                            {prop: "p2_02", label: "Operativo"},
                            {prop: "p2_02_avance", label: "Operativo"},
                            {prop: "p3_01", label: "Operativo"},
                            {prop: "p3_01_avance", label: "Operativo"},
                            {prop: "p3_02", label: "Operativo"},
                            {prop: "p3_02_avance", label: "Operativo"},
                            {prop: "p4_01", label: "Operativo"},
                            {prop: "p4_01_avance", label: "Operativo"},
                            {prop: "p4_02", label: "Operativo"},
                            {prop: "p4_02_avance", label: "Operativo"},
                          
                        ],
                filters: [{prop: ['sede_regional','sede_provincial','sede_distrital'],value: ''}],   
                loading: true,
                tableProps: {
                    border: true,
                    stripe: true,                    
                    defaultSort: {
                        prop: 'row_num',
                        order: 'ascending'
                    },
                       
                },   
                //fin datatables
                sedes_regionales:[],
                sedes_provinciales:[],
                sedes_distritales:[],              
                filtrosBusqueda: {
                    sede_regional : '',
                    sede_provincial: '',
                    sede_distrital: '',   
					operativo:'0',
					tipo_documento:'1',   
                    ordenarPor : 'created_at',
                    orden: 'desc',            
                    c_registros: 1000,
                },    
                desabilitado: false,
                exportInfo:{
                    activo:0,
                    titulo: '',
                    data:[],
                    formato:'excel',
                    fileName: '',
                    withColNumber:false,
                },
            }
        },

        created() {            
            
            this.obtenerSedeRegional();
            this.listarAvanceSede();
           

        },        
        methods: {  
         
            obtenerSedeRegional(){
                this.filtrosBusqueda.sede_provincial = '';
                this.filtrosBusqueda.sede_distrital = '';
                console.log("modifcado");
                axios.get('api/select/sedes_regionales')
                    .then(response => this.sedes_regionales = response.data ); 
            },
            obtenerSedeProvincial(){
				this.filtrosBusqueda.sede_distrital = '';
				this.filtrosBusqueda.sede_provincial = '';
                if(this.filtrosBusqueda.sede_regional == '' ) return 0;
                axios.get('api/select/sedes_provinciales/' + this.filtrosBusqueda.sede_regional)
                    .then(response => this.sedes_provinciales = response.data ); 
            },
            obtenerSedeDistrital(){
                if( this.filtrosBusqueda.sede_provincial == '') return 0;
                axios.get('api/select/sedes_distritales/' + this.filtrosBusqueda.sede_regional + '/' +  this.filtrosBusqueda.sede_provincial)
                .then(response => {
                   // console.log(response.data);
                    if(response.data[0].cod_sede_distrital=='00'){
                        console.log("entro");
                        this.sedes_distritales[0] = {
                            cod_sede_distrital: "00",
                            id: response.data[0].id,
                            sede_distrital: "SIN DISTRITO",
                        };                        
                        this.filtrosBusqueda.sede_distrital = response.data[0].id;
                    }
                    else{
                        this.sedes_distritales = response.data;
                    }
                                       
                }).catch(error => {
                    toastr['error'](error.response.data.message);
                   
                }); 

                
            },
            listarAvanceSede() {
                this.loading=true;
                helper.deshabilitarBoton(this);                
                let url = helper.getFilterURL(this.filtrosBusqueda);
                axios.get('api/cant_documentos/avance_sede?'+ url).then(response => {
                    this.data = response.data.resp_array;
                    console.log(response.data.resp_array);
                    helper.habilitarBoton(this);
                    this.loading=false;
                }).catch(error => {
                    toastr['error'](error.response.data.message);
                    helper.habilitarBoton(this);
                    this.loading=false;
                });             
            },          
            
            exportarExcel(){
                helper.deshabilitarBoton(this);
                         
                this.exportInfo.activo = true;
                this.exportInfo.titulo = 'Reporte Avance Nacional de Gestión Documental'; 
                this.exportInfo.data = this.data;
                this.exportInfo.formato = 'excel';
                this.exportInfo.fileName = 'Reporte Avance Nacional de Gestión Documental';
                this.exportInfo.withColNumber = true;

                setTimeout(() => { 
                    this.exportInfo.activo = false;
                    helper.habilitarBoton(this);
                    }, 1000);
            },
            
                                 
           //fin methods
        },
        
    }
</script>