<template>
	<div>  
     
        <div class="row">
            <div class="col-lg-12"> 
                <div class="card">
                    <div class="card-body">
                        <div class="row">
							<div class="col-lg-12 text-center">
                                <h4 class="card-title">Reporte de Ranking de Avance Personal</h4>
                            </div>                    
                        </div>
                        <hr>
                        <div class="row justify-content-md-center">
							<div class="form-inline">
								<div class="mb-2">
									<label for="" class="color">Operativo:</label>  
								</div>
								<div class="form-group mx-sm-3 mb-2">
									<select name="operativo" class="form-control form-control-sm" v-model="filtrosBusqueda.operativo" v-validate="'required'" data-vv-as="Operativo" >
										<option value="0">ECE-EM</option>
										<option value="1">ECE Secundaria</option>
										<option value="2">EM Primaria</option>  
									</select>
									<span style="color: red;">{{ errors.first('form-etapa.operativo') }}</span> 
								</div>
								<div class="mb-2">
									<label for="" class="color">Tipo Documento:</label>  
								</div>
								<div class="form-group mx-sm-3 mb-2">
									<select name="tipo_documento" class="form-control form-control-sm" v-model="filtrosBusqueda.tipo_documento" v-validate="'required'" data-vv-as="Tipo Documento" >
										<option value="0">MINEDU-INEI</option>
										<option value="1">MINEDU</option>
										<option value="2">INEI</option>   
									</select>
									<span style="color: red;">{{ errors.first('form-etapa.tipo_documento') }}</span> 
								</div>
								<button type="submit" @click="listarRankingPersona" class="btn btn-color mb-2" :disabled="desabilitado">Buscar</button>
							</div>
                        </div>
                        <hr>              
                        <div class="table-responsive">
                        <template>
                            <div>
                                <div style="margin-bottom: 10px">
                                <el-row>
                                    <el-col :span="18">
                                        <el-button style="background-color: #1C9A51; color:white; height:35px;"  @click="exportarExcel" :disabled="desabilitado">Exportar</el-button> 
                                    </el-col>

                                    <el-col :span="6">
                                    <el-input placeholder="Buscar" v-model="filters[0].value"></el-input>
                                    </el-col>
                                </el-row>
                                </div>
                                <data-tables
                                :data="data"                                 
                                :filters="filters" 
                                :page-size="16" 
                                :pagination-props="{ pageSizes: [16, 50, 100] }"
                                v-loading="loading"
                                :table-props="tableProps" 
                                height="400"
                             >
                                <el-row>
                                    <el-col :span="18">
                                        <el-button style="background-color: #1C9A51; color:white; height:35px;"  @click="exportarExcel" :disabled="desabilitado">modificar</el-button> 
                                    </el-col>

                                    <el-col :span="6">
                                    <el-input placeholder="Buscar" v-model="filters[0].value"></el-input>
                                    </el-col>
                                </el-row>
                                <el-table-column label="1. Inventario y Recepción" width="30" sort >  
                                    <el-table-column prop="row_num_etapa1" label="Ord" width="50"  sortable>
                                    </el-table-column>
                                    <el-table-column prop="nombres_etapa1" label="Nombres" width="300">
                                    </el-table-column>
                                    <el-table-column prop="p_01_persona_etapa1" label="C.Doc" width="80" sortable align="right" :formatter="p_01_persona_etapa1">
                                    </el-table-column>                                                                                     
                                </el-table-column>

                                <el-table-column label="--"  width="30">                               
                                </el-table-column>

                                <el-table-column label="2. Revisión y Consistencia">  
                                    <el-table-column prop="row_num_etapa2" label="Ord" width="50" sortable >
                                    </el-table-column>
                                    <el-table-column prop="nombres_etapa2" label="Nombres" width="300">
                                    </el-table-column>
                                    <el-table-column prop="p_01_persona_etapa2" label="C.Doc" width="80" sortable align="right" :formatter="p_01_persona_etapa2">
                                    </el-table-column>                                                                                     
                                </el-table-column>

                                <el-table-column label="--" width="30">                               
                                </el-table-column>

                                <el-table-column label="3. Control de Calidad">  
                                    <el-table-column prop="row_num_etapa3" label="Ord" width="50" sortable >
                                    </el-table-column>
                                    <el-table-column prop="nombres_etapa3" label="Nombres" width="300">
                                    </el-table-column>
                                    <el-table-column prop="p_01_persona_etapa3" label="C.Doc" width="80" sortable align="right" :formatter="p_01_persona_etapa3">
                                    </el-table-column>                                                                                     
                                </el-table-column>

                                <el-table-column label="--"  width="30">                               
                                </el-table-column>

                                <el-table-column label="4. Inventario Final">  
                                    <el-table-column prop="row_num_etapa4" label="Ord" width="50" sortable >
                                    </el-table-column>
                                    <el-table-column prop="nombres_etapa4" label="Nombres" width="300">
                                    </el-table-column>
                                    <el-table-column prop="p_01_persona_etapa4" label="C.Doc" width="80" sortable align="right" :formatter="p_01_persona_etapa4">
                                    </el-table-column>                                                                                     
                                </el-table-column>


                                </data-tables>
                            </div>
                        </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <!--    Inico Exportar -->

        <div v-show="false" v-if="exportInfo.activo">
            <general-export
                :titulo='exportInfo.titulo'
                :titles='exportInfo.titles'
                :data='exportInfo.data'
                :formato='exportInfo.formato'
                :fileName='exportInfo.fileName'
                :withColNumber='exportInfo.withColNumber'
                >

            </general-export>
        </div>
         <!--    Fin Exportar -->
     
    </div>
    
</template>

<script>

    
    import helper from '../../services/helper';
    import DatePicker from 'vue2-datepicker';   
    import { DataTables } from 'vue-data-tables';
    import generalExport from './export/avanceRankingPersonaExcel';

    var f=new Date();
    var hoy = {
        fecha: helper.formatDate(f),
        hora: f.getHours()+":"+f.getMinutes(),
    };

    export default {
        components : { DatePicker,DataTables,generalExport },
        data() {
            return { 
                search:'',
                data:[],
                titles:[                       
                  
   
                    ],
                filters: [{prop: ['nombres_etapa1','nombres_etapa2','nombres_etapa3','nombres_etapa4'],value: ''}],   
                loading: true,
                tableProps: {
                    border: true,
                    stripe: true,                    
                    defaultSort: {
                        prop: 'row_num_etapa1',
                        order: 'ascending'
                    },
                       
                },   
                //fin datatables
                sedes_regionales:[],
                sedes_provinciales:[],
                sedes_distritales:[],              
                filtrosBusqueda: {                 
                    tipo_documento:'1', 
                    operativo:'0',              
                },   
                exportInfo:{
                    activo: 0,
                    titulo: '',
                    data:[],
                    formato: 'excel',
                    titles:[],
                    fileName:'',
                    withColNumber:false,
                },                 
                desabilitado: false,
            }
        },

        created() {            
           // this.obtenerSedeRegional();
            this.listarRankingPersona();
        },        
        methods: {
            p_01_persona_etapa1(row, column) {return row.p_01_persona_etapa1.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");},
            p_01_persona_etapa2(row, column) {return row.p_01_persona_etapa2.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");},
            p_01_persona_etapa3(row, column) {return row.p_01_persona_etapa3.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");},
            p_01_persona_etapa4(row, column) {return row.p_01_persona_etapa4.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");},           
            listarRankingPersona() {
                helper.deshabilitarBoton(this);                
                let url = helper.getFilterURL(this.filtrosBusqueda);
                axios.get('api/cant_documentos/avance_ranking_persona?'+ url).then(response => {
                    this.data = response.data.resp_array;                    
                    this.data.forEach(function(item){
                            item.row_num_etapa1 = Number(item.row_num_etapa1);
                            item.row_num_etapa2 = Number(item.row_num_etapa2);
                            item.row_num_etapa3 = Number(item.row_num_etapa3);
                            item.row_num_etapa4 = Number(item.row_num_etapa4);
                            item.p_01_persona_etapa1 = Number(item.p_01_persona_etapa1);
                            item.p_01_persona_etapa2 = Number(item.p_01_persona_etapa2);
                            item.p_01_persona_etapa3 = Number(item.p_01_persona_etapa3);
                            item.p_01_persona_etapa4 = Number(item.p_01_persona_etapa4);
                        });
                    helper.habilitarBoton(this);
                    this.loading=false;
                }).catch(error => {
                    toastr['error'](error.response.data.message);
                    helper.habilitarBoton(this);
                    this.loading=false;
                });             
            },          
            
            exportarExcel(){
                helper.deshabilitarBoton(this);
                         
                this.exportInfo.activo = true;  
                this.exportInfo.titulo = 'Reporte de Ranking de Personas por documento'; 
                this.exportInfo.titles = this.titles; 
                this.exportInfo.data = this.data; 
                this.exportInfo.formato = 'excel';
                this.exportInfo.fileName = 'Reporte de Ranking de Personas por documento';
                this.exportInfo.withColNumber = true;

                setTimeout(() => { 
                    this.exportInfo.activo = false;
                    helper.habilitarBoton(this);
                    }, 1000);              
            },                           
           //fin methods
        },
        
    }
</script>

