<template>
	<div>       
        <div class="row">
            <div class="col-lg-12"> 
                <div class="card">
                    <div class="card-body">
                        <div class="row ">
							<div class="col-lg-12 text-center">
                                <h4 class="card-title">Reporte Avance Nacional de Gestión Documental</h4>
                            </div>                         
                        </div>
                        <hr>
						<div class="row justify-content-md-center">
							<div class="form-inline">
								<div class="mb-2">
									<label for="" class="color">Operativo:</label>  
								</div>
								<div class="form-group mx-sm-3 mb-2">
									<select name="operativo" class="form-control form-control-sm" v-model="filtrosBusqueda.operativo" v-validate="'required'" data-vv-as="Operativo" >
										<option value="0">ECE-EM</option>
										<option value="1">ECE Secundaria</option>
										<option value="2">EM Primaria</option>  
									</select>
									<span style="color: red;">{{ errors.first('form-etapa.operativo') }}</span> 
								</div>
								<div class="mb-2">
									<label for="" class="color">Tipo Documento:</label>  
								</div>
								<div class="form-group mx-sm-3 mb-2">
									<select name="tipo_documento" class="form-control form-control-sm" v-model="filtrosBusqueda.tipo_documento" v-validate="'required'" data-vv-as="tipo_documento" >
										<option value="0">MINEDU-INEI</option>
										<option value="1">MINEDU</option>
										<option value="2">INEI</option>   
									</select>
										<span style="color: red;">{{ errors.first('form-etapa.tipo_documento') }}</span> 
								</div>
								<button type="submit" @click="listarAvanceSede" class="btn btn-color mb-2" :disabled="desabilitado">Buscar</button>
							</div>
                        </div>
                        <hr>						
                        <div class="table-responsive">
                        <template>
                            <div>
                                <div style="margin-bottom: 10px">
                                <el-row>
                                    <el-col :span="18">
                                     <el-button style="background-color: #1C9A51; color:white; height:35px;" @click="exportarExcel" :disabled="desabilitado">Exportar</el-button> 
                                    </el-col>

                                    <el-col :span="6">
                                    <el-input placeholder="Buscar" v-model="filters[0].value"></el-input>
                                    </el-col>
                                </el-row>
                                </div>
                                <data-tables
                                :data="data" 
                                :filters="filters" 
                                :page-size="15" 
                                :pagination-props="{ pageSizes: [15, 50, 100] }"
                                v-loading="loading"
                                :table-props="tableProps"
                                height="400"                                
                             >
                                <el-table-column prop="row_num" label="N°" sortable="custom" width="50" fixed  >                                     
                                </el-table-column>

                                <el-table-column prop="sede_regional" label="Sede Regional" sortable="custom" fixed >                                     
                                </el-table-column>

                                <el-table-column prop="p0_01_tot" label="Marco"  width="65" align="right">
                                </el-table-column>
                                <el-table-column label="1. Inventario y Recepción">  
                                    <el-table-column prop="p1_01" label="Doc" width="55" align="right">
                                    </el-table-column>
                                    <el-table-column prop="p1_01_avance" label="%Doc" width="57" align="right">
                                    </el-table-column>
                                    <el-table-column prop="p1_02" label="Obs" width="55" align="right">
                                    </el-table-column>
                                    <el-table-column prop="p1_02_avance" label="%Obs" width="57" align="right" >
                                    </el-table-column>                                                          
                                </el-table-column>

                                <el-table-column label="2. Revisión y Consistencia">  
                                    <el-table-column prop="p2_01" label="Doc" width="55" align="right">
                                    </el-table-column>
                                    <el-table-column prop="p2_01_avance" label="%Doc" width="57" align="right">
                                    </el-table-column>
                                    <el-table-column prop="p2_02" label="Obs" width="55" align="right">
                                    </el-table-column>
                                    <el-table-column prop="p2_02_avance" label="%Obs" width="57" align="right">
                                    </el-table-column>                                                          
                                </el-table-column>

                                <el-table-column label="3. Control de Calidad">  
                                    <el-table-column prop="p3_01" label="Doc" width="55" align="right">
                                    </el-table-column>
                                    <el-table-column prop="p3_01_avance" label="%Doc" width="57" align="right">
                                    </el-table-column>
                                    <el-table-column prop="p3_02" label="Obs" width="55" align="right">
                                    </el-table-column>
                                    <el-table-column prop="p3_02_avance" label="%Obs" width="57" align="right">
                                    </el-table-column>                                                          
                                </el-table-column>

                                <el-table-column label="4. Inventario Final">  
                                    <el-table-column prop="p4_01" label="Doc" width="55" align="right">
                                    </el-table-column>
                                    <el-table-column prop="p4_01_avance" label="%Doc" width="57" align="right">
                                    </el-table-column>
                                    <el-table-column prop="p4_02" label="Obs" width="55" align="right">
                                    </el-table-column>
                                    <el-table-column prop="p4_02_avance" label="%Obs" width="57" align="right">
                                    </el-table-column>                                                          
                                </el-table-column>

                                <el-table-column label="Observados">   
                                    <el-table-column prop="p0_02_tot" label="Tot" width="55" align="right">                                     
                                    </el-table-column>     
                                    <el-table-column prop="p0_02_porc" label="%Obs"  width="57" align="right">                                     
                                    </el-table-column>                          
                                </el-table-column>
                                </data-tables>
                            </div>
                        </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>   

        <!--    Inico Exportar -->

        <div v-show="false" v-if="exportInfo.activo">
            <general-export
                :titulo='exportInfo.titulo'
                :titles='exportInfo.titles'
                :data='exportInfo.data'
                :formato='exportInfo.formato'
                :fileName='exportInfo.fileName'
                :withColNumber='exportInfo.withColNumber'
                >

            </general-export>
        </div>
         <!--    Fin Exportar -->

    </div>
    
</template>

<script>

    
    import helper from '../../services/helper';
    import DatePicker from 'vue2-datepicker';   
    import { DataTables } from 'vue-data-tables';
    import generalExport from './export/avanceRegionalExcel';

    var f=new Date();
    var hoy = {
        fecha: helper.formatDate(f),
        hora: f.getHours()+":"+f.getMinutes(),
    };

    // var tipo_documento = '03';//aqui seleccionamos el tipo de comprobante

    export default {
        components : { DatePicker,DataTables,generalExport },
        data() {
            return { 
                data:[],
                titles:[    {prop: "row_num", label: "N°"},
                            {prop: "sede_regional", label: "Sede Regional"},                         
                            {prop: "p0_01_tot", label: "Marco"}, 
                            {prop: "p0_02_tot", label: "obst1"},
                            {prop: "p0_02_porc", label: "obst2"},
                            {prop: "p1_01", label: "Operativo"},
                            {prop: "p1_01_avance", label: "Operativo"},
                            {prop: "p1_02", label: "Operativo"},
                            {prop: "p1_02_avance", label: "Operativo"},
                            {prop: "p2_01", label: "Operativo"},
                            {prop: "p2_01_avance", label: "Operativo"},
                            {prop: "p2_02", label: "Operativo"},
                            {prop: "p2_02_avance", label: "Operativo"},
                            {prop: "p3_01", label: "Operativo"},
                            {prop: "p3_01_avance", label: "Operativo"},
                            {prop: "p3_02", label: "Operativo"},
                            {prop: "p3_02_avance", label: "Operativo"},
                            {prop: "p4_01", label: "Operativo"},
                            {prop: "p4_01_avance", label: "Operativo"},
                            {prop: "p4_02", label: "Operativo"},
                            {prop: "p4_02_avance", label: "Operativo"},
                          
                        ],
                filters: [{prop: ['sede_regional'],value: ''}],   
                loading: false,
                tableProps: {
                    border: true,
                    stripe: true,                    
                    defaultSort: {
                        prop: 'id',
                        order: 'ascending'
                    },
                       
                },   
                //fin datatables
                sedes_regionales:[],
                sedes_provinciales:[],
                sedes_distritales:[],              
                filtrosBusqueda: {
					sede_regional : '',
					operativo:'0',
					tipo_documento:'1',   
                    ordenarPor : 'created_at',
                    orden: 'desc',            
                    c_registros: 1000,
                },    
                desabilitado: false,
               exportInfo:{
                    activo: 0,
                    titulo: '',
                    data:[],
                    formato: 'excel',
                    titles:[],
                    fileName:'',
                    withColNumber:false,
                }, 
            }
        },

        created() {            
            
          //  this.obtenerSedeRegional();
            this.listarAvanceSede();
           

        },        
        methods: {
            /*formatp0_01_tot(row, column) {return row.p0_01_tot.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");},
            formatp0_02_tot(row, column) {return row.p0_02_tot.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");},
            formatp0_02_porc(row, column) {return row.p0_02_porc.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");},*/
                  
            listarAvanceSede() {
                this.loading=true;
                helper.deshabilitarBoton(this);                
				let url = helper.getFilterURL(this.filtrosBusqueda);
				console.log(url);
                axios.get('api/cant_documentos/avance_nacional?'+ url).then(response => {
                    this.data = response.data.resp_array;
                    //this.data.forEach( function(item) {
                        /*var newFile = {
                            cod_sede_regional:'1500',
                            id:'1500',
                            p0_01_tot:'1500',
                            p0_02_porc:'1500',
                            p0_02_tot:'1500',
                            p1_01:'1500',
                            p1_01_avance:'1500',
                            p1_02:'1500',
                            p1_02_avance:'1500',
                            p2_01:'1500',
                            p2_01_avance:'1500',
                            p2_02:'1500',
                            p2_02_avance:'1500',
                            p3_01:'1500',
                            p3_01_avance:'1500',
                            p3_02:'1500',
                            p3_02_avance:'1500',
                            p4_01:'1500',
                            p4_01_avance:'1500',
                            p4_02:'1500',
                            p4_02_avance:'1500',
                            row_num:'1500',
                            sede_regional:'15000'
                        };
                        this.data.push(newFile);*/
                        /*item.p0_01_tot = Number(item.p0_01_tot); 
                        item.p0_02_tot = Number(item.p0_02_tot);
                        item.p0_02_porc = Number(item.p0_02_porc);
                        item.p1_01 = Number(item.p1_01);
                        item.p1_01_avance = Number(item.p1_01_avance);
                        item.p1_02 = Number(item.p1_02);
                        item.p1_02_avance = Number(item.p1_02_avance);
                        item.p2_01 = Number(item.p2_01);
                        item.p2_01_avance = Number(item.p2_01_avance);
                        item.p2_02 = Number(item.p2_02);
                        item.p2_02_avance = Number(item.p2_02_avance);
                        item.p3_01 = Number(item.p3_01);
                        item.p3_01_avance = Number(item.p3_01_avance);
                        item.p3_02 = Number(item.p3_02);
                        item.p3_02_avance = Number(item.p3_02_avance);
                        item.p4_01 = Number(item.p4_01);
                        item.p4_01_avance = Number(item.p4_01_avance);
                        item.p4_02 = Number(item.p4_02);
                        item.p4_02_avance = Number(item.p4_02_avance);*/
                    //});
                    //console.log(response.data.resp_array);
                    helper.habilitarBoton(this);
                    this.loading=false;
                }).catch(error => {
                    toastr['error'](error.response.data.message);
                    helper.habilitarBoton(this);
                    this.loading=false;
                });             
			},
            exportarExcel(){
                helper.deshabilitarBoton(this);
                         
                this.exportInfo.activo = true;  
                this.exportInfo.titulo = 'Reporte de Gestión Documental a Nivel Sede Regional '; 
                this.exportInfo.titles = this.titles; 
                this.exportInfo.data = this.data; 
                this.exportInfo.formato = 'excel';
                this.exportInfo.fileName = 'Reporte_gestion_documental_regional';
                this.exportInfo.withColNumber = false;

                setTimeout(() => { 
                    this.exportInfo.activo = false;
                    helper.habilitarBoton(this);
                    }, 1000);              
            },
            
                                 
           //fin methods
        },
        
    }
</script>