<template>
	<div>  
     
        <div class="row">
            <div class="col-lg-12"> 
                <div class="card">
                    <div class="card-body">
                        <div class="row">
							<div class="col-lg-12 text-center">
                                <h4 class="card-title">Reporte de Registro Diario</h4>
                            </div>                         
                        </div>
                        <hr>
                        <div>
                            <div class="row">
								<div class="col-lg-6 row">
									<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
										<div class="form-group">
												<label for="" class="color">Sede Regional</label>
												<select name="sede_regional" class="form-control form-control-sm" v-model="filtrosBusqueda.sede_regional"  @change="obtenerSedeProvincial" v-validate="'required'" data-vv-as="Sede Regional">
													<option value="">Seleccione</option>
													<option v-for="sede in sedes_regionales" :key="sede.id" :value="sede.cod_sede_regional" v-text="sede.sede_regional" ></option>
												</select>
											<span style="color: red;">{{ errors.first('form-etapa.sede_regional') }}</span>  
										</div> 
									</div>
									<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
										<div class="form-group">
												<label for="" class="color">Sede Provincial</label>
												<select name="sede_provincial" class="form-control form-control-sm" v-model="filtrosBusqueda.sede_provincial" @change="obtenerSedeDistrital" v-validate="'required'" data-vv-as="Sede Provincial">
													<option value="">Seleccione</option>
													<option v-for="sede in sedes_provinciales" :key="sede.id" :value="sede.cod_sede_provincial" v-text="sede.sede_provincial" ></option>
												</select>
											<span style="color: red;">{{ errors.first('form-etapa.sede_provincial') }}</span>  
										</div>
									</div>
									<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
										<div class="form-group">                                  
												<label for="" class="color">Sede Distrital</label>  
												<select name="sede_distrital" class="form-control form-control-sm" v-model="filtrosBusqueda.sede_distrital"  v-validate="'required'" data-vv-as="Sede Distrital">
													<option value="">Seleccione</option>
													<option v-for="sede in sedes_distritales" :key="sede.id" :value="sede.sede_regional" v-text="sede.sede_distrital" ></option>
												
												</select>
											<span style="color: red;">{{ errors.first('form-etapa.sede_distrital') }}</span>  
										</div>
									</div>
									<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
										<div class="form-group">                                  
											<label for="" class="color">Operativo</label>  
											<select name="operativo" class="form-control form-control-sm" v-model="filtrosBusqueda.operativo" v-validate="'required'" data-vv-as="Operativo" >
                                            <option value="0">Seleccione</option>
                                            <option value="1">ECE Secundaria</option>
                                            <option value="2">EM Primaria</option>  
                                        </select>
										<span style="color: red;">{{ errors.first('form-etapa.operativo') }}</span> 
                                	    </div>
									</div>	
								</div>
								<div class="col-lg-6 row">
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
										<div class="form-group">                                  
											<label for="" class="color">Etapa</label>  
											<select name="operativo" class="form-control form-control-sm" v-model="filtrosBusqueda.etapa" v-validate="'required'" data-vv-as="Operativo" >
                                            <option value="0">Seleccione</option>
                                            <option value="1">Inventario y Recepción</option>
                                            <option value="2">Revisión y Consistencia</option>  
                                            <option value="3">Control de Calidad</option>  
                                            <option value="4">Embalado</option>  
                                        </select>
										<span style="color: red;">{{ errors.first('form-etapa.operativo') }}</span> 
                                	    </div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="form-group">                                  
											<label for="" class="color">Fecha</label>  
											<div>
												<date-picker 
													input-class="form-control form-control-sm" 

													width="100%"
													valueType="format"
													name="fec_emision"
													v-model="filtrosBusqueda.fecha_ini"
													:not-before="deshabilitar.fecha_inicio" 
													:not-after="deshabilitar.fecha_fin" 
													v-validate="'required'"
													data-vv-as="Fecha de Emisión"                                         
													lang="es" ></date-picker> 
											</div>                             
                                            <span style="color: red;">{{ errors.first('form-etapa.fec_emision') }}</span>  
                                        </div>
									</div>
                                    <!-- <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
										<div class="form-group">                                  
											<label for="" class="color">Fecha Fin</label>  
											<div>
												<date-picker 
													input-class="form-control form-control-sm" 

													width="100%"
													valueType="format"
													name="fec_emision"
													v-model="filtrosBusqueda.fecha_fin"
													:not-before="deshabilitar.fecha_inicio" 
													:not-after="deshabilitar.fecha_fin" 
													v-validate="'required'"
													data-vv-as="Fecha de Emisión"                                         
													lang="es" ></date-picker> 
											</div>                             
                                            <span style="color: red;">{{ errors.first('form-etapa.fec_emision') }}</span>  
                                        </div>
									</div> -->
									<div class="col-lg-5 col-md-4 col-sm-6 col-xs-12">
										<div class="form-group row">
										<label for="" class="color">Persona (*)</label>
											<multiselect 
												v-model="m_select.value"
												v-validate="'required'"
												data-vv-as="Persona" 
												id="selectPersonas" 
												label="name" 
												name="persona"
												track-by="id" 
												placeholder="Buscar por Persona"
												open-direction="bottom" 
												:options="m_select.data" 
												:multiple="false" 
												:searchable="true" 
												:loading="m_select.isLoading" 
												:internal-search="false"                                     
												:options-limit="300" 
												:limit="5" 
												:allow-empty="false"
											
												:limit-text="limitText" 
												:max-height="600" 
												:show-no-options="false" 
												:show-no-results="true" 
												:hide-selected="false" 
												@select="personaSeleccionada"
												@search-change="buscarPersonas">
												
												<template slot="tag" slot-scope="{ option, remove }"><span class="custom__tag"><span>{{ option.nombres }}</span><span class="custom__remove" @click="remove(option)">❌</span></span></template>
												<template slot="option" slot-scope="{ option }"><span>{{ option.nombres }}</span></template>
												<template slot="singleLabel" slot-scope="{ option }"><strong> {{ option.nombres }}</strong></template>

												<span slot="noResult">No encontramos a la persona que está buscando.</span>
												<span slot="noOptions">No encontramos a la persona que está buscando.</span>
												

											</multiselect> 
									</div>
										<span style="color: red;">{{ errors.first('form-etapa.persona') }}</span>  
										
									</div>
								</div>		
                            </div>
							<div style="text-align: center;">
   								<button type="submit" @click="listarAvanceDiario" class="btn btn-color col-lg-1" :disabled="desabilitado" > Buscar </button>
							</div>
                        </div>

                   <!--     <hr>
 -->

                        <div class="table-responsive">
                        <template>
                            <div>
                                <div style="margin-bottom: 10px">
                                <el-row>
                                    <el-col :span="18">
                                        <el-button style="background-color: #1C9A51; color:white; height:35px;"  @click="exportarExcel" :disabled="desabilitado">Exportar</el-button> 
                                    </el-col>

                                    <el-col :span="6">
                                    <el-input placeholder="Buscar" v-model="filters[0].value"></el-input>
                                    </el-col>
                                </el-row>
                                </div>
                                <data-tables
                                :data="data"                                 
                                :filters="filters" 
                                :page-size="10" 
                                :pagination-props="{ pageSizes: [10, 50, 100] }"
                                v-loading="loading"
                                :table-props="tableProps"                              
                                     
                                >
                                                           
                                <!-- <el-table-column prop="operativo_nombre" label="Op." width="60" sortable="custom"></el-table-column>
                                <el-table-column prop="sede_regional" label="S.Regional" width="" sortable="custom"></el-table-column>
                                <el-table-column prop="sede_provincial" label="S.Provincial" width="" sortable="custom"></el-table-column>
                                <el-table-column prop="sede_distrital" label="S.Distrital" width="" sortable="custom"></el-table-column>
                                <el-table-column prop="etapa_nombre" label="Etapa" width="140" sortable="custom"></el-table-column>
                                <el-table-column prop="nombres" label="Persona" width="" sortable="custom"></el-table-column>
                                <el-table-column prop="fecha_registro" label="Fecha" width="80" sortable="custom"></el-table-column>
                                <el-table-column prop="etiqueta" label="Nombre Documento" width="80" sortable="custom"></el-table-column>
                                <el-table-column prop="p_01" label="C.Doc" width="60" sortable="custom"></el-table-column>
                                <el-table-column prop="p_02" label="C.Obs" width="60" sortable="custom"></el-table-column>
                                <el-table-column prop="p_obs" label="Observación" width="" sortable="custom"></el-table-column> -->
                                <el-table-column v-for="(title,index) in titles" :key="index" :prop="title.prop" :label="title.label" :width="title.width" :sortable="title.sortable" :fixed="title.fixed" :align="title.align">


                                </el-table-column>

                                </data-tables>
                            </div>
                        </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>

     
        <!--    Inico Exportar -->

        <div v-show="false" v-if="exportInfo.activo">
            <general-export
                :titulo='exportInfo.titulo'
                :titles='exportInfo.titles'
                :data='exportInfo.data'
                :formato='exportInfo.formato'
                :fileName='exportInfo.fileName'
                :withColNumber='exportInfo.withColNumber'
                :existRowTotal='exportInfo.existRowTotal'
                >

            </general-export>
        </div>
         <!--    Fin Exportar -->
     
    </div>
    
</template>

<script>

    
    import helper from '../../services/helper';
    import DatePicker from 'vue2-datepicker';   
    import { DataTables } from 'vue-data-tables';
    import Multiselect from 'vue-multiselect';
    import generalExport from './export/generalExport';

    var f=new Date();
    var hoy = {
        fecha: helper.formatDate(f),
        hora: f.getHours()+":"+f.getMinutes(),
    };

    var tipo_documento = '03';//aqui seleccionamos el tipo de comprobante

    export default {
        components : {DatePicker,DataTables,Multiselect,generalExport},
        data() {
            return {             
               
                data:[],
                titles:[                       
                    {prop: "row_num", label:"N°", width:"50", sortable:"custom",fixed:"fixed"},
                    {prop: "operativo_nombre", label:"Ope", width:"50", fixed:"fixed"},
                    {prop: "sede_regional", label:"S. Regional", width:"200", sortable:"custom",fixed:"fixed"},
                    {prop: "sede_provincial", label:"S. Provincial", width:"200", sortable:"custom",fixed:"fixed"},
                    {prop: "sede_distrital", label:"S. Distrital", width:"200", sortable:"custom",fixed:"fixed"},
                    {prop: "etapa_nombre", label:"Etapa", width:"150", sortable:"custom"}, 
                    {prop: "nombres", label:"Persona", width:"200", sortable:"custom"}, 
                    {prop: "fecha_registro", label:"Fecha", width:"80", sortable:"custom"}, 
                    {prop: "tipo_nombre", label:"Tipo", width:"60", sortable:"custom"},
                    {prop: "etiqueta", label:"Nombre Documento", width:"400", sortable:"custom"},
                    {prop: "p_01", label:"C.Doc", width:"50", align:"right"}, 
                    {prop: "p_02", label:"C.Obs", width:"50",align:"right"}, 
                    {prop: "p_obs", label:"Observación", width:"300"},    
                    ],
                filters: [{prop: ['operativo_nombre','sede_regional','sede_provincial','sede_distrital','etapa_nombre','nombres','fecha'],value: ''}],   
                loading: false,
                tableProps: {
                    border: true,
                    stripe: true,                    
                    defaultSort: {
                        prop: 'id',
                        order: 'ascending'
                    },
                    rowStyle:{
                        row:1
                    }
                       
                },   
                //fin datatables
                sedes_regionales:[],
                sedes_provinciales:[],
                sedes_distritales:[], 
                deshabilitar:{
                    fecha_inicio: '2019-11-18 00:00:00',
                    fecha_fin: (new Date).setDate((new Date).getDate() + 1),
                },
                desabilitado:false, 
                m_select:{
                    value:'',
                    data:[],
                    isLoading: false,
                },  
                exportInfo:{
                    activo: 0,
                    titulo: '',
                    data:[],
                    formato: 'excel',
                    titles:[],
                    fileName:'',
                    withColNumber:false,
                    existRowTotal:false,
                },          
                filtrosBusqueda: {
                    sede_regional : '',
                    sede_provincial: '',
                    sede_distrital: '',
                    persona: '0', 
                    etapa:'0',
                    operativo:'0', 
                    fecha_ini: hoy.fecha,  
                    fecha_fin: hoy.fecha,  
                                       
                },                  
                desabilitado: false,
            }
        },

        created() {            
            this.obtenerSedeRegional();
            //this.listarAvanceDiario();
        },        
        methods: { 
            listarAvanceDiario() {
                this.loading=true;
                this.filtrosBusqueda.fecha_fin = this.filtrosBusqueda.fecha_ini;                
                this.filtrosBusqueda.persona = (this.m_select.value=='') ? '0' : ''+this.m_select.value.id;
                helper.deshabilitarBoton(this);                
                let url = helper.getFilterURL(this.filtrosBusqueda);
                axios.get('api/cant_documentos/avance_diario?'+ url).then(response => {
                    this.data = response.data.resp_array;
                    //console.log(response.data.resp_array);
                    helper.habilitarBoton(this);
                    this.loading=false;
                }).catch(error => {
                    toastr['error'](error.response.data.message);
                    helper.habilitarBoton(this);
                    this.loading=false;
                });             
            },  
            obtenerSedeRegional(){
                this.filtrosBusqueda.sede_provincial = '';
                this.filtrosBusqueda.sede_distrital = '';
                axios.get('api/select/sedes_regionales')
                    .then(response => this.sedes_regionales = response.data ); 
            },
            obtenerSedeProvincial(){
                this.filtrosBusqueda.sede_provincial = '';
                this.filtrosBusqueda.sede_distrital = '';
                if(this.filtrosBusqueda.sede_regional == '' ) return 0;
                axios.get('api/select/sedes_provinciales/' + this.filtrosBusqueda.sede_regional)
                    .then(response => this.sedes_provinciales = response.data ); 
            },
            obtenerSedeDistrital(){
                if( this.filtrosBusqueda.sede_provincial == '') return 0;
                axios.get('api/select/sedes_distritales/' + this.filtrosBusqueda.sede_regional + '/' +  this.filtrosBusqueda.sede_provincial)
                .then(response => {
                   // console.log(response.data);
                    if(response.data[0].cod_sede_distrital=='00'){
                        console.log("entro");
                        this.sedes_distritales[0] = {
                            cod_sede_distrital: "00",
                            id: response.data[0].id,
                            sede_distrital: "SIN DISTRITO",
                        };                        
                        this.filtrosBusqueda.sede_distrital = response.data[0].id;
                    }
                    else{
                        this.sedes_distritales = response.data;
                    }
                                       
                }).catch(error => {
                    toastr['error'](error.response.data.message);
                   
                });                 
            },        
            limitText (count) {
                return `and ${count} other selectProductosDescripcion`
            },
            buscarPersonas(descripcion){   
                let _this = this;          
                _this.m_select.isLoading = true;                
                if(descripcion.length<2){
                    _this.m_select.data=[];
                    _this.m_select.isLoading = false;                   
                    return;
                }
                
                axios.get('api/persona/buscar_personas/'+descripcion).then(response => {
                            _this.m_select.data = response.data
                            _this.m_select.isLoading = false
                        }).catch(error => {
                            toastr['error'](error.response.data.message);
                        });
            },
            personaSeleccionada(query,index){
                console.log("persona" + query + index);
                console.log(query);
            },        
           
            exportarExcel(){
                helper.deshabilitarBoton(this);
                         
                this.exportInfo.activo = true;  
                this.exportInfo.titulo = 'Reporte de Avance Diario'; 
                this.exportInfo.titles = this.titles; 
                this.exportInfo.data = this.data; 
                this.exportInfo.formato = 'excel';
                this.exportInfo.fileName = 'Reporte de Registro Diario';
                this.exportInfo.withColNumber = true;
                this.exportInfo.existRowTotal = true;

                setTimeout(() => { 
                    this.exportInfo.activo = false;
                    helper.habilitarBoton(this);
                    }, 1000);              
            },                           
           //fin methods
        },
        
    }
</script>
