<template>
	<div>  
     
        <div class="row">
            <div class="col-lg-12"> 
                <div class="card">
                    <div class="card-body">
                        <div class="row">
							<div class="col-lg-12 text-center">
                                <h4 class="card-title">Reporte de Producción de Personal</h4>
                            </div>                    
                        </div>
                        <hr>
                        <div class="row justify-content-md-center">                            
                             <!-- <div class="col-md-3">
                                    <div class="form-group row">
                                    <label class="col-md-4" for=""></label>
                                    <div class="col-md-8">
                                        <select name="sede_regional" class="form-control " v-model="filtrosBusqueda.sede_regional"  @change="obtenerSedeProvincial" v-validate="'required'" data-vv-as="Sede Regional">
                                            <option value="">Seleccione</option>
                                            <option v-for="sede in sedes_regionales" :key="sede.id" :value="sede.cod_sede_regional" v-text="sede.sede_regional" ></option>
                                        
                                        </select>
                                    </div>
                                    <span style="color: red;">{{ errors.first('form-etapa.sede_regional') }}</span>  
                                </div>
                            </div>
                            
                             <div class="col-md-3">

                                <div class="form-group row">
                                    <label class="col-md-4" for="">Sede Provincial</label>
                                    <div class="col-md-8">
                                        <select name="sede_provincial" class="form-control" v-model="filtrosBusqueda.sede_provincial" @change="obtenerSedeDistrital" v-validate="'required'" data-vv-as="Sede Provincial">
                                            <option value="">Seleccione</option>
                                            <option v-for="sede in sedes_provinciales" :key="sede.id" :value="sede.cod_sede_provincial" v-text="sede.sede_provincial" ></option>
                                        
                                        </select>
                                    </div>
                                    <span style="color: red;">{{ errors.first('form-etapa.sede_provincial') }}</span>  
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group row">
                                    <label class="col-md-4" for="">Sede Distrital</label>                                    
                                    <div class="col-md-8">
                                        <select name="sede_distrital" class="form-control" v-model="filtrosBusqueda.sede_distrital"  v-validate="'required'" data-vv-as="Sede Distrital">
                                            <option value="">Seleccione</option>
                                            <option v-for="sede in sedes_distritales" :key="sede.id" :value="sede.id" v-text="sede.sede_distrital" ></option>
                                        
                                        </select>
                                    </div>

                                    <span style="color: red;">{{ errors.first('form-etapa.sede_distrital') }}</span>  
                                </div>
                            </div>
                            <div class="col-md-3">

                                <div class="form-group row">
                                    <label class="col-md-4" for="">Operativo</label>
                                    <div class="col-md-8">
                                        <select name="operativo" class="form-control" v-model="filtrosBusqueda.operativo" v-validate="'required'" data-vv-as="Operativo" >
                                            <option value="">Seleccione</option>
                                            <option value="1">ECE Secundaria</option>
                                            <option value="2">EM Primaria</option>
                                            
                                        </select>
                                    </div>
                                    <span style="color: red;">{{ errors.first('form-etapa.operativo') }}</span> 

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <button type="submit" style="width:100%;heigth:100%;padding:15px" @click="listarAvanceProductividad" class="btn btn-success waves-effect waves-light m-t-20" :disabled="desabilitado"> Buscar </button>
                                </div>
                            </div> -->
                        </div>

                   <!--     <hr>
 -->

                        <div class="table-responsive">
                        <template>
                            <div>
                                <div style="margin-bottom: 10px">
                                <el-row>
                                    <el-col :span="18">
--
                                      <!--   <el-button :disabled="desabilitado">
                                            <download-excel   
                                                :data="json_data"
                                                :fieldsProp="json_fields"
                                                :title="titles"   
                                                :before-generate = "startDownload"
                                                :before-finish = "finishDownload"
                                                type="xls"
                                                worksheet="My Worksheet"     
                                                name    = "filename.xls">                                              
                                                Descargar Excel                                             
                                            </download-excel> 
                                            </el-button> -->
                                    </el-col>

                                    <el-col :span="6">
                                    <el-input placeholder="Buscar" v-model="filters[0].value"></el-input>
                                    </el-col>
                                </el-row>
                                </div>
                                <data-tables
                                :data="data"                                 
                                :filters="filters" 
                                :page-size="16"                                
                                :pagination-props="{ pageSizes: [16, 50, 100] }"
                                v-loading="loading"
                                :table-props="tableProps" 
                                height="400"
                             >

                                <el-table-column prop="row_num" label="N°" width="50" sortable fixed>
                                </el-table-column>

                                <el-table-column prop="nombres" label="Persona" width="350" >
                                </el-table-column>


                                <el-table-column label="1. Inventario y Recepción" >
                                    <el-table-column prop="p_01_1" sortable label="Cant Doc" align="right" :formatter="formatp_01_1">
                                    </el-table-column>
                                    <el-table-column prop="p_02_1" label="Cant Obs" sortable align="right" :formatter="formatp_02_1">
                                    </el-table-column>
                                </el-table-column>

                                <el-table-column label="2. Revisión y Consistencia" >
                                    <el-table-column prop="p_01_2" label="Cant Cod" sortable align="right" :formatter="formatp_01_2">
                                    </el-table-column>
                                    <el-table-column prop="p_02_2" label="Cant Obs" sortable align="right" :formatter="formatp_02_2">
                                    </el-table-column>
                                </el-table-column>

                                <el-table-column label="3. Control de Calidad" >
                                    <el-table-column prop="p_01_3" label="Cant Doc" sortable align="right" :formatter="formatp_01_3">
                                    </el-table-column>
                                    <el-table-column prop="p_02_3" label="Cant Obs" sortable align="right" :formatter="formatp_02_3">
                                    </el-table-column>
                                </el-table-column>

                                <el-table-column label="4. Inventario Final" >
                                    <el-table-column prop="p_01_4" label="Cant Doc" sortable align="right" :formatter="formatp_01_4">
                                    </el-table-column>
                                    <el-table-column prop="p_02_4" label="Cant Obs" sortable align="right" :formatter="formatp_02_4">
                                    </el-table-column>
                                </el-table-column>
                            
                                <!-- <el-table-column v-for="title in titles" :prop="title.prop" :label="title.label" :key="title.prop" sortable="custom">
                                </el-table-column> -->

                            <!--     <el-table-column type="selection" width="55">
                                </el-table-column> -->
                               
                                   <!--  <el-table-column prop="opciones" label="Opciones" width="120">
                                        <template slot-scope="scope">                                       
                                            <button class="btn btn-info btn-sm" @click.prevent="imprimir(scope.row)" data-toggle="tooltip" title="Imprimir"><i class="fa fa-print"></i></button>
                                            <button class="btn btn-success btn-sm" @click.prevent="descargar(scope.row)" data-toggle="tooltip" title="Descargas"><i class="fa fa-download"></i></button>
                                            <button v-if="scope.row.state_type_id == '05' || scope.row.state_type_id == '03' || scope.row.state_type_id == '01'" class="btn btn-danger btn-sm" @click.prevent="anular(scope.row)" data-toggle="tooltip" title="Anular"><i class="fa fa-times"></i></button>
                                            
                                        </template>
                                    </el-table-column>   -->
                                </data-tables>
                            </div>
                        </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       
     
    </div>
    
</template>

<script>

    
    import helper from '../../services/helper';
    import DatePicker from 'vue2-datepicker';   
    import { DataTables } from 'vue-data-tables';
    //import DownloadExcel from 'vue-json-excel';
    import DownloadExcel from './export/newExport';

    var f=new Date();
    var hoy = {
        fecha: helper.formatDate(f),
        hora: f.getHours()+":"+f.getMinutes(),
    };

    var tipo_documento = '03';//aqui seleccionamos el tipo de comprobante

    export default {
        components : { DatePicker,DataTables,DownloadExcel },
        data() {
            return { 
                search:'',
                texto:'45245',
                data:[],
                titles:[                       
                   'asdasdasd',
                   'fghfghfg'   
                ],
                filters: [{prop: ['nombres'],value: ''}],   
                loading: true,
                tableProps: {
                    border: true,
                    stripe: true,                    
                    defaultSort: {
                        prop: 'id',
                        order: 'ascending'
                    },
                       
                },   
                //fin datatables
                sedes_regionales:[],
                sedes_provinciales:[],
                sedes_distritales:[],              
                filtrosBusqueda: {
                    sede_regional : '',
                    sede_provincial: '',
                    sede_distrital: '',   
                    operativo:'1',   
                    ordenarPor : 'created_at',
                    orden: 'desc',            
                    c_registros: 1000,
                },                  
                desabilitado: false,
                json_fields: {
                    'Complete name': 'name',
                    'City': 'city',
                    'Telephone': 'phone.mobile',
                    'Telephone 2' : {
                        field: 'phone.landline',
                        callback: (value) => {
                            return `Landline Phone - ${value}`;
                        }
                    },
                },
                json_data:[
                    {
                        'name': 'Tony Peña',
                        'city': 'New York',
                        'country': 'United States',
                        'birthdate': '1978-03-15',
                        'phone': {
                            'mobile': '1-541-754-3010',
                            'landline': '(541) 754-3010'
                        }
                    },
                    {
                        'name': 'Thessaloniki',
                        'city': 'Athens',
                        'country': 'Greece',
                        'birthdate': '1987-11-23',
                        'phone': {
                            'mobile': '+1 855 275 5071',
                            'landline': '(2741) 2621-244'
                        }
                    }
                ],
                json_meta: [
                    [
                        {
                            'key': 'charset',
                            'value': 'utf-8'
                        }
                    ]
                ],
                json_prueba:[
                    {
                        nombre:"PAPA 1",
                        orden:1                    
                    },
                    {
                        nombre:"PAP 2",  
                        orden:2, 
                        hijos:[
                            {
                                nombre:"hijo 1",
                                orden:1, 
                            
                            },
                            {
                                nombre:"hijo 2",
                                orden:2, 
                                hijos:[
                                    {
                                        nombre:"NIETO 1",
                                        orden:1, 
                                    
                                    },
                                    {
                                        nombre:"NIETO 2",
                                        orden:2, 
                                        hijos:[
                                            {
                                                nombre:"BIZ nieto 01",
                                                orden:1, 
                                            
                                            },
                                            {
                                                nombre:"BIZ nieto 02",
                                                orden:2, 
                                            
                                            },
                                            {
                                                nombre:"BUZ nieto 03",
                                                orden:2, 
                                                hijos:[
                                            {
                                                nombre:"BIZ nieto 01",
                                                orden:1, 
                                            
                                            },
                                            {
                                                nombre:"BIZ nieto 02",
                                                orden:2, 
                                            
                                            },
                                            {
                                                nombre:"BUZ nieto 03",
                                                orden:2, 
                                            
                                            },
                                           
                                        ]  
                                            
                                            },
                                           
                                        ]  
                                    }
                                ]   
                            },
                            {
                                nombre:"hijo 3",
                                orden:1, 
                            
                            },
                        ]                   
                    },                   
                    {
                        nombre:"PAPA 3",
                        orden:1         ,
                        hijos:[
                            {
                                nombre:"HIJO 01",
                                orden:1, 
                            
                            },
                            {
                                nombre:"HIJO 02",
                                orden:2, 
                                hijos:[
                            {
                                nombre:"HIJO 01",
                                orden:1, 
                            
                            },
                            {
                                nombre:"HIJO 02",
                                orden:2, 
                            
                            },
                            {
                                nombre:"HIJO 03",
                                orden:2, 
                            
                            },
                            
                        ]  
                            
                            },
                            {
                                nombre:"HIJO 03",
                                orden:2, 
                            
                            },
                            
                        ]             
                    },

                ],
                array:[],
                    
                
            }      

        },

        created() {            
           // this.obtenerSedeRegional();
            this.listarAvanceProductividad();
            this.cargaIncial();
        },        
        methods: {
            cargaIncial(){
                let _this = 0;
               // console.log(this.json_prueba);
                console.log("valor "+ this.recorrerJsonV2(this.json_prueba));      
             /*   return;
               
               console.log(this.array);
                
                console.log(this.dibujartabla(this.array));    */
            },  
            recorrerJsonV2(json,cant = 0, max=0){                
                let _this = this;     
                      
                for (var i=0;i < json.length;i++){   
                    console.log(json[i].nombre+ " - - "+ cant + "-- " + max );                                    
                    if (json[i].hijos !== undefined && json[i].hijos.length > 0){
                        max = _this.recorrerJsonV2(json[i].hijos, cant+1,max)
                        max = (max > cant)  ? max : cant+1; 
                    }  

                }            



                return  max ;
            },   
            dibujartabla(array){
                const maximo = array.reduce(function(maximo, item){return (maximo > item.nivel)? maximo:item.nivel;});
                
                let table = '';
                for(var i=0; i < maximo;i++ ){
                    table+='<tr>'
                    for(var j=0 ; j< array.length; j++){
                       
                       table+= '<td> ' + array[j].nombre + '</td>';
                       /*  if(array[j].nivel == i){
                           
                            table+='<td rowspan="' + (maximo - array[j].nivel) + '" colspan="' +array[j].col + '"> ' + array[j].nombre + ' </td>' ;
                        } */
                    }
                    table+='</tr>'

                }
                console.log(table);
            }, 
                  
            recorrerJson(json,cant = 0){ 
                let _this = this;                 
                for (var i=0;i < json.length;i++){ 
                    json[i].nivel = cant;
                    //console .log("td");  
                    //console.log(json[i].nombre + " --nivel "+ cant);  
                    //console.log(cant);
                    let newJson={};      
                    if (json[i].hijos !== undefined){ 
                        //console.log( "Id: "+json[i].id +" Profundidad: "+c);                       
                        
                        newJson.nombre = json[i].nombre;
                        newJson.nivel = cant;
                        newJson.col = json[i].hijos.length;                        
                        
                        let tmp = _this.recorrerJson(json[i].hijos, cant+1);

                        //console.log(cant + "ultimo "+  tmp + " anterior "+ ant);
                    }   
                    else{
                        newJson.nombre = json[i].nombre;
                        newJson.nivel = cant;
                        newJson.col = 0; 
                    }
                    
                    _this.array.push(newJson);  
                          

                }                
                return cant;
            },            
            
            formatp_01_1(row, column) {return row.p_01_1.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");},
            formatp_02_1(row, column) {return row.p_02_1.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");},
            formatp_01_2(row, column) {return row.p_01_2.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");},
            formatp_02_2(row, column) {return row.p_02_2.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");},
            formatp_01_3(row, column) {return row.p_01_3.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");},
            formatp_02_3(row, column) {return row.p_02_3.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");},
            formatp_01_4(row, column) {return row.p_01_4.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");},
            formatp_02_4(row, column) {return row.p_02_4.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");},
            listarAvanceProductividad() {
                helper.deshabilitarBoton(this);                
                let url = helper.getFilterURL(this.filtrosBusqueda);
                axios.get('api/cant_documentos/avance_productiviadad?'+ url).then(response => {
                    this.data = response.data.resp_array;
                    this.data.forEach(function(item){
                        item.p_01_1 = Number(item.p_01_1);
                        item.p_02_1 = Number(item.p_02_1);
                        item.p_01_2 = Number(item.p_01_2);
                        item.p_02_2 = Number(item.p_02_2);
                        item.p_01_3 = Number(item.p_01_3);
                        item.p_02_3 = Number(item.p_02_3);
                        item.p_01_4 = Number(item.p_01_4);
                        item.p_02_4 = Number(item.p_02_4);
                    });
                    //console.log(response.data.resp_array);
                    helper.habilitarBoton(this);
                    this.loading=false;
                }).catch(error => {
                    toastr['error'](error.response.data.message);
                    helper.habilitarBoton(this);
                    this.loading=false;
                });             
            },          
            startDownload(){
                //alert('show loading');
            },
            finishDownload(){
                //alert('hide loading');
            },
            exportarExcel(){
                
            },                            
           //fin methods
        },
        
    }
</script>

