<template>
	<div>    
        <div class="row">
            <div class="col-lg-12"> 
                <div class="card">
                    <div class="card-body">
                        <div class="row ">
                            <div class="col-lg-12" id="cent">
                                <h4 class="card-title">Directorio Personal</h4>
                            </div>
                        </div>
                        <hr>
						<div>
							<div class="form-inline justify-content-md-center" v-if="validarAccesoAdmin">
								<div class="mb-2">
									<label for="" class="color">Estado:</label>  
								</div>
								<div class="form-group mx-sm-3 mb-2">
									<select name="estado" class="form-control form-control-sm" v-model="filtrosBusqueda.estado">
                                        <option value="">Todos</option>
                                        <option value="1">Activos</option>
                                        <option value="0">Inactivos</option>
                                    </select>	
								</div>
								<button type="submit" @click="listarPersonas" class="btn btn-color waves-effect mb-2" :disabled="desabilitado" > Buscar </button>
								<div class="form-group mx-sm-3 mb-2">
								 <button type="submit" @click="registrarPersona" class="btn btn-success waves-effect" :disabled="desabilitado" >  + Registar </button>
								</div> 
							</div>
                        </div>
                        <div class="table-responsive">
                            <template>
                                <div>
                                    <div style="margin-bottom: 10px">
                                    <el-row>
                                        <el-col :span="18">
                                            <el-button style="background-color: #1C9A51; color:white; height:35px;" @click="exportarExcel" :disabled="desabilitado">Exportar</el-button>
                                        </el-col>                                      
                                        <el-col :span="6">
                                            <el-input placeholder="Buscar" v-model="filters[0].value"></el-input>
                                        </el-col>
                                    </el-row>
                                    </div>
                                    <data-tables 
                                    :data="data" 
                                    :filters="filters" 
                                    :page-size="10" 
                                    :pagination-props="{ pageSizes: [10, 50, 100] }"
                                     v-loading="loading"
                                    :table-props="tableProps"   >
                                    
                                    <el-table-column
                                        label="Nro."
                                        type="index"
                                        width="50">
                                    </el-table-column>
                                   
 
                                    <el-table-column v-for="title in titles" :prop="title.prop" :label="title.label" :key="title.prop" sortable="custom">
                                    </el-table-column>

                                    <!-- <el-table-column type="selection" width="55">
                                    </el-table-column> -->
                                    <el-table-column prop="estado" label="Estado" sortable="custom" width="120" align="center" v-if="validarAccesoAdmin">
                                        <template slot-scope="scope">
                                            <span v-html="obtenerEstado(scope.row.estado)"></span>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="opciones" label="Opciones" width="120" v-if="validarAccesoAdmin">
                                        <template slot-scope="scope">   
                                            <button class="btn btn-info btn-sm" @click.prevent="editarPersona(scope.row)" data-toggle="tooltip" title="Detalle Persona"><i class="fa fa-pencil"></i></button>
                                            <button v-if="scope.row.estado==1" class="btn btn-danger btn-sm" @click.prevent="inactivarPersona(scope.row)" data-toggle="tooltip" title="Desactivar Persona"><i class="fa fa-trash"></i></button>
                                            <button v-else class="btn btn-success btn-sm" @click.prevent="activarPersona(scope.row)" data-toggle="tooltip" title="Activar persona"><i class="fa fa-check"></i></button>
                                        </template>
                                    </el-table-column> 
                                    </data-tables>
                                </div>
                            </template>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <!--Inicio del modal agregar/actualizar-->
            <div class="modal fade" tabindex="-1" :class="{'mostrar':modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-primary modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" v-text="tituloModal">Titulo</h4>
                            <button type="button" class="close"  @click="cerrarModal" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal" data-vv-scope="form-persona"  ref="formContainer">
                                <div class="form-group row">
                                    <label for="" class="col-md-4">Tipo de Documento <span class="campo_obligatorio"> * </span></label>
                                    <div class="col-md-8">                                        
                                        <select name="tipo_doc_id" class="form-control" v-model="persona.doc_identidad" v-validate="'required'" data-vv-as="Tipo de Documento">                                            
                                            <option v-for="(lista,index) in selectTipoDocumento" :key="index" :value="lista.id" v-text="lista.nombre"></option>                                            
                                        </select>
                                        <span style="color: red;">{{ errors.first('form-persona.tipo_doc_id') }}</span>
                                    </div>
                                </div> 

                                <div class="form-group row">
                                    <label for="" class="col-md-4">Nro. de Documento <span class="campo_obligatorio"> * </span></label>
                                    <div class="col-md-8">                                       
                                        <input  type="text" v-model="persona.nro_documento"  @keypress="soloNumeros" class="form-control" placeholder="Nro. de Documento de Identidad" maxlength="20" v-validate="'required'" name ="nro_doc_id" data-vv-as="Nro. de Documento de Identidad">
                                        <span style="color: red;">{{ errors.first('form-persona.nro_doc_id') }}</span>
                                    </div>                                   
                                </div>
                                
                                
                                <div class="form-group row">
                                    <label for="" class="col-md-4"> Nombre <span class="campo_obligatorio"> * </span></label>
                                    <div class="col-md-8">                                       
                                        <input  type="text" v-model="persona.nombres" class="form-control" placeholder="Nombres" maxlength="240" v-validate="'required'" name ="rz" data-vv-as="Razón Social">
                                        <span style="color: red;">{{ errors.first('form-persona.rz') }}</span>
                                       
                                    </div>
                                </div>
                                 
                                <div class="form-group row">
                                    <label for="" class="col-md-4"> Teléfono</label>
                                    <div class="col-md-8">
                                        <input  type="text" v-model="persona.telefono" class="form-control" placeholder="Teléfono" maxlength="240">                                                                            
                                    </div>
                                </div>  

                                <hr>

                                <div class="form-group row">
                                    <label for="" class="col-md-4"> Cargo</label>
                                    <div class="col-md-8">
                                         <select name="cargo" class="form-control" v-model="persona.cargo_id" v-validate="'required'" data-vv-as="Cargo">
                                            <option v-for="(lista,index) in selectTipoCargo" :key="index" :value="lista.id" v-text="lista.cargo"></option>
                                        </select>
                                        <span style="color: red;">{{ errors.first('form-persona.cargo') }}</span>
                                    </div>
                                </div>            
                                
                                <div class="form-group row" v-if="tipoAccion==2">
                                    <label for="" class="col-md-4">Estado</label>
                                    <div class="col-md-8">
                                        <select class="form-control" v-model="persona.estado">
                                            <option value="1"> Activo </option>
                                            <option value="0"> Inactivo</option>
                                        </select>                                        
                                    </div>
                                </div>                                
                            </form>
                        </div>
                        <div class="modal-footer text-center">                            
                            <button type="button" class="btn btn-warning waves-effect waves-light m-t-10" @click="cerrarModal"> Cancelar </button>   
                            <button v-if="tipoAccion==1" type="button" class="btn btn-success waves-effect waves-light m-t-10" @click="guardarPersona" > Guardar </button>
                            <button v-else type="button" class="btn btn-success waves-effect waves-light m-t-10" @click="actualizarPersona" > Actualizar </button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        <!--Fin del modal--> 

        <!--    Inico Exportar -->

        <div v-show="false" v-if="exportInfo.activo">
            <general-export
                :titulo='exportInfo.titulo'
                :titles='exportInfo.titles'
                :data='exportInfo.data'
                :formato='exportInfo.formato'
                :fileName='exportInfo.fileName'
                :withColNumber='exportInfo.withColNumber'
                :existRowTotal='exportInfo.existRowTotal'
                >

            </general-export>
        </div>
         <!--    Fin Exportar -->

    </div>
    
</template>

<script>

    import { DataTables } from 'vue-data-tables';
    import helper from '../../services/helper';
    import generalExport from './../reportes/export/generalExport';
        
    export default {
        components : { DataTables,generalExport },
        data() {
            return {  
                data:[],
                titles:[    
                            {prop: "nro_documento", label: "Documento"}, 
                            {prop: "nombres", label: "Nombres"},                           
                            {prop: "created_at", label: "F.Registro"}, 
                        ],
                filters: [{prop: ['nro_documento','nombres'],value: ''}],   
                loading: true,
                tableProps: {
                    border: true,
                    stripe: true,                    
                    defaultSort: {
                        prop: 'created_at',
                        order: 'descending'
                    },
                       
                }, 
                //fin de tables 
                validarAccesoAdmin:false,
                desabilitado:false,                  
                pantallaCompletaLoading: false,                           
                error:0,
                modal:0,
                tituloModal:'',
                tipoAccion: 0,
                clientes: {},
                selectTipoDocumento:[
                    {id:1, nombre:'DNI'},
                    {id:2, nombre:'RUC'},
                    {id:3, nombre:'C.E.'},
                    {id:4, nombre:'Pasporte'},
                    {id:9, nombre:'Otros'},
                ],
                selectTipoCargo:[],                
                persona: {
                    id:'',         
                    nombres:'',          
                    doc_identidad:'1',
                    nro_documento:'',
                    cargo_id:'4',                   
                    telefono:'',                    
                    estado:'1',                    
                },                 
                filtrosBusqueda: {
                    ordenarPor : 'created_at',
                    order: 'desc',
                    estado: '1',
                    filtro: '',
                    t_documento: '',
                    pageLength: 5
                },                  
                exportInfo:{
                    activo: 0,
                    titulo: '',
                    data:[],
                    formato: 'excel',
                    titles:[],
                    fileName:'',
                    withColNumber:false,
                    existRowTotal:false,
                }, 

            }
        },

        created() {        
            this.validarAdministrador();
            this.listarPersonas();      
            this.obtenerTipoCargo();     
        },                
        methods: {           
            onCancel() {
              console.log('User cancelled the loader.')
            } ,
            obtenerTipoCargo(){
                axios.get('api/select/cargos')
                    .then(response => this.selectTipoCargo = response.data.select );
            },            
            listarPersonas(page) {
                let _this = this;
                helper.deshabilitarBoton(_this);
                                
                let url = helper.getFilterURL(_this.filtrosBusqueda);
                axios.get('api/persona/listar?'+ url).then(response => {
                    _this.data = response.data.resp_listar;//modificar esto si se trae paginate
                    helper.habilitarBoton(_this);
                    this.loading=false;
                }).catch(error => {
                    toastr['error'](error.response.data.message);
                    helper.habilitarBoton(_this);
                    this.loading=false;
                }); 
            }, 
            llenarSelectUnidadesMedida(){
                axios.get('api/select/unidades_medida')
                    .then(response => this.selectUnidades = response.data ); 
            }, 
            llenarSelectPaises(){                
                axios.get('api/select/paises')
                    .then(response => this.selectPaises = response.data ); 
            },
            llenarSelectDepartamentos(){  
                       
                axios.get('api/select/departamentos')
                    .then(response => this.selectDepartamentos = response.data ); 
            },
            llenarSelectProvincias(){                  
                var id_departamento = this.persona.departamento;       
                axios.get('api/select/provincias/'+id_departamento)
                    .then(response => this.selectProvincias = response.data ); 
            },
            llenarSelectDistritos(){
                this.persona.distrito = '';
                this.selectDitritos = [];
                var id_provincia = this.persona.provincia;
                axios.get('api/select/distritos/'+id_provincia)
                    .then(response => this.selectDitritos = response.data ); 
            },
            modificoTipoPersona(valor){
                if(valor=='S'){//servicio
                    this.persona.uni_medida = 'ZZ'
                }                

            },
            desactivarOption(key){
                if(key=='ZZ'){//para este caso solo inhabilitamos el select
                    return true;
                }
                return false;
            },           
            obtenerDisponibilidad(disponible){               
                if(disponible==1){
                    return '<span class="label label-success">Disponible</span>';
                }               
                return '<span class="label label-warning">No disponible</span>';
                   //0.No disponible | 1.Disponible             
            },            
            registrarPersona(){
                this.abrirModal(1,'Agregar Nueva Persona');
            },
            editarPersona(persona){
                this.abrirModal(2,'Modificar a la Persona',persona);
            },            
            limpiarPersona(){ 
                this.persona.id = '';
                this.persona.nombres = '';
                this.persona.doc_identidad = '';
                this.persona.nro_documento = '';
                this.persona.cargo_id = '';
                this.persona.telefono = '';
                this.persona.estado = '1';
              
                this.$validator.reset();                            
            },           
             
          
            guardarPersona(){  
                let _this = this;      
               
                this.$validator.validateAll('form-persona').then(result => {//validamos si es correcto
                    if (result) {                                
                        axios.post('api/persona/registrar',_this.persona)
                        .then(function(response){                    
                            toastr['success'](response.data.message); 
                            _this.cerrarModal();  
                            _this.listarPersonas();                            
                        })
                        .catch(function (error){
                            toastr['error'](error.response.data.message);                     
                        });
                    }
                });               
                                
               
            }, 
            actualizarPersona(){   
                
                let _this = this;   
                _this.persona.ubigeo =  _this.persona.distrito;   
                this.$validator.validateAll('form-persona').then(result => {//validamos si es correcto
                    if (result) {                                
                        axios.put('api/persona/editar/'+_this.persona.id,_this.persona)
                        .then(function(response){                    
                            toastr['success'](response.data.message); 
                            _this.cerrarModal();  
                            _this.listarPersonas();                            
                        })
                        .catch(function (error){
                            toastr['error'](error.response.data.message);                     
                        });
                    }
                });   
               
            },
            inactivarPersona(persona){
                axios.put('api/persona/inactivar/'+persona.id).then(response => {
                    toastr['success'](response.data.message);
                    this.listarPersonas();
                }).catch(error => {
                    toastr['error'](error.response.data.message);
                });
            },
            activarPersona(persona){
                axios.put('api/persona/activar/'+persona.id).then(response => {
                    toastr['success'](response.data.message);
                    this.listarPersonas();
                }).catch(error => {
                    toastr['error'](error.response.data.message);
                });
            }, 
            obtenerEstado(estado){               
                if(estado==1){
                    return '<span class="label label-success">Activo</span>';
                }
                if(estado==2){
                    return '<span class="label label-warning">Inactivo</span>'; 
                }
                return '<span class="label label-danger">Eliminado</span>';
                                
            },              
            soloNumeros($event){               
                helper.soloNumeros($event);
            },                     
            cerrarModal(){
                this.modal = 0;
                this.tituloModal = '';              
                this.limpiarPersona();
            },
            abrirModal(accion,titulo,data=[]){ 
                this.modal = 1;               
                this.tipoAccion = accion;
                this.tituloModal = titulo;                
                if(data.length!=0){                     
                    this.persona.id = data['id'];
                    this.persona.nombres = data['nombres'];
                    this.persona.doc_identidad = data['doc_identidad'];
                    this.persona.nro_documento = data['nro_documento'];
                    this.persona.cargo_id = data['cargo_id'];
                    this.persona.telefono = data['telefono'];
                    this.persona.estado = data['estado'];
                 
                                   
                }                
            },
            exportarExcel(){
                helper.deshabilitarBoton(this);
                         
                this.exportInfo.activo = true;  
                this.exportInfo.titulo = 'Directorio Personal'; 
                this.exportInfo.titles = this.titles; 
                this.exportInfo.data = this.data; 
                this.exportInfo.formato = 'excel';
                this.exportInfo.fileName = 'directorio_personal';
                this.exportInfo.withColNumber = true;
                this.exportInfo.existRowTotal = false;

                setTimeout(() => { 
                    this.exportInfo.activo = false;
                    helper.habilitarBoton(this);
                    }, 1000);   
            },
            validarAdministrador(){
                if(helper.decrypt(this.$store.getters.getRol) == 1){
                    this.validarAccesoAdmin = true;
                }                           
            },
            //fin methods
        },
        filters: {
          moment(date) {
            return helper.formatDate(date);
          }
        }
    }
</script>

<style scoped>

.btncolor  {
	font-size: 12px;
	background-color: #0065A9;
	border-color: #0065A9;
	color: white;
}
#cent{
    text-align:center;
}
</style>