<template>
    <div id="imprimiendo"> 
         <table v-bind:style="clases_css.table">          
              <thead>
                  <tr>
                    <th colspan="21">
                      <h1 v-text="titulo"> --titulo-- </h1>
                    </th>
                  </tr>
                  <tr>
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="2">N°</th>
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="2">Sede Regional</th>
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="2">Tipo</th>
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="2">Documento</th>
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="2">Marco</th>
                    <th v-bind:style="clases_css.th" colspan="4" rowspan="1">1. Inventario y Recepción</th>
                    <th v-bind:style="clases_css.th" colspan="4" rowspan="1">2. Revisión y Consistencia</th>
                    <th v-bind:style="clases_css.th" colspan="4" rowspan="1">3. Control de Calidad</th>
                    <th v-bind:style="clases_css.th" colspan="4" rowspan="1">4. Inventario Final</th>
                    <th v-bind:style="clases_css.th" colspan="2" rowspan="1">Observados</th>
                  </tr>
                  <tr>                   
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="1">Doc</th>
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="1">%Doc</th>
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="1">Obs</th>
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="1">%Obs</th>
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="1">Doc</th>
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="1">%Doc</th>
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="1">Obs</th>
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="1">%Obs</th>
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="1">Doc</th>
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="1">%Doc</th>
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="1">Obs</th>
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="1">%Obs</th>
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="1">Doc</th>
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="1">%Doc</th>
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="1">Obs</th>
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="1">%Obs</th>
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="1">Tot</th>
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="1">%Obs</th>
                  </tr>
              </thead>
              <tbody v-bind:style="clases_css.body">              
                  <tr v-for="(fila,index) in data" :key="index">
                    <td v-bind:style="clases_css.td" colspan="1" rowspan="1" v-text="fila.row_num"></td>
                    <td v-bind:style="clases_css.td" colspan="1" rowspan="1" v-text="fila.sede_regional"></td>
                    <td v-bind:style="clases_css.td" colspan="1" rowspan="1" v-text="fila.tipo_nombre"></td>
                    <td v-bind:style="clases_css.td" colspan="1" rowspan="1" v-text="fila.etiqueta"></td>
                    <td v-bind:style="clases_css.td" colspan="1" rowspan="1" v-text="fila.p0_01_tot_doc"></td>
                    <td v-bind:style="clases_css.td" colspan="1" rowspan="1" v-text="fila.p1_01_tot_doc"></td>
                    <td v-bind:style="clases_css.td" colspan="1" rowspan="1" v-text="fila.p1_01_porc_doc"></td>
                    <td v-bind:style="clases_css.td" colspan="1" rowspan="1" v-text="fila.p1_02_tot_doc"></td>
                    <td v-bind:style="clases_css.td" colspan="1" rowspan="1" v-text="fila.p1_02_porc_obs"></td>
                    <td v-bind:style="clases_css.td" colspan="1" rowspan="1" v-text="fila.p2_01_tot_doc"></td>
                    <td v-bind:style="clases_css.td" colspan="1" rowspan="1" v-text="fila.p2_01_porc_doc"></td>
                    <td v-bind:style="clases_css.td" colspan="1" rowspan="1" v-text="fila.p2_02_tot_doc"></td>
                    <td v-bind:style="clases_css.td" colspan="1" rowspan="1" v-text="fila.p2_02_porc_obs"></td>
                    <td v-bind:style="clases_css.td" colspan="1" rowspan="1" v-text="fila.p3_01_tot_doc"></td>
                    <td v-bind:style="clases_css.td" colspan="1" rowspan="1" v-text="fila.p3_01_porc_doc"></td>
                    <td v-bind:style="clases_css.td" colspan="1" rowspan="1" v-text="fila.p3_02_tot_doc"></td>
                    <td v-bind:style="clases_css.td" colspan="1" rowspan="1" v-text="fila.p3_02_porc_obs"></td>
                    <td v-bind:style="clases_css.td" colspan="1" rowspan="1" v-text="fila.p4_01_tot_doc"></td>
                    <td v-bind:style="clases_css.td" colspan="1" rowspan="1" v-text="fila.p4_01_porc_doc"></td>
                    <td v-bind:style="clases_css.td" colspan="1" rowspan="1" v-text="fila.p4_02_tot_doc"></td>
                    <td v-bind:style="clases_css.td" colspan="1" rowspan="1" v-text="fila.p4_02_porc_obs"></td>
                    <td v-bind:style="clases_css.td" colspan="1" rowspan="1" v-text="fila.p0_01_tot_obs"></td>
                    <td v-bind:style="clases_css.td" colspan="1" rowspan="1" v-text="fila.p0_01_porc_obs"></td>
                  </tr>
              </tbody>
            </table>
    </div>
    
</template>


<script>

import exporter from '../../../services/exporter.js';


export default {
  components: { }, 
  props: {
    titulo: '',
    data: '',
    formato:'',
    fileName:'',
    withColNumber:false,
  },
  data() {
    return{
      clases_css:{
         table:{
          'width': '100%',
          'text-align': 'center',
          'font-family': 'Arial, Helvetica, sans-serif',          
          'font-size': '12px', 
          'text-align': 'left',
          'border-collapse': 'collapse',
        },
        titulo:{
          'text-align': 'center',
          'font-family': 'Arial, Helvetica, sans-serif',
          'margin-botton': '5px',
        },
        th:{
          'text-align': 'center',
          'font-size': '14px',     
          'font-weight': 'normal',     
          'padding': '8px',     
          'background': '#0065A9',
          'background-color': '#0065A9',
          'border': '1px solid #bbb',
          'color': '#ffffff',
        },
        td:{
          /*'padding':'4px',
          'background':'white',
          'color':'black',
          'border':'1px solid #bbb',*/
        },
      }
    }
  },
  mounted () {
         this.inicio();
  },
  methods:{		
      inicio(){
      if(this.formato==='pdf')
          this.imprimir();
      else if(this.formato==='excel')
          this.descargar();
      },
      imprimir(){
        exporter.imprimir('imprimiendo');              
      },   
      descargar(){      
        exporter.exportExcel('imprimiendo','Hoja1',this.fileName);
      }
  },   
};
</script>

<style >
</style>