<template>
    <div id="imprimiendo"> 
         <table v-bind:style="clases_css.table">          
              <thead>
                  <tr>
                    <th colspan="21">
                      <h1 v-text="titulo"> --titulo-- </h1>
                    </th>
                  </tr>
                  <tr>                                    
                    <th v-bind:style="clases_css.th" colspan="3" rowspan="1">1. Inventario y Recepción</th>
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="2">---</th>
                    <th v-bind:style="clases_css.th" colspan="3" rowspan="1">2. Revisión y Consistencia</th>
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="2">---</th>
                    <th v-bind:style="clases_css.th" colspan="3" rowspan="1">3. Control de Calidad</th>
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="2">---</th>
                    <th v-bind:style="clases_css.th" colspan="3" rowspan="1">4. Inventario Final</th>                       
                  </tr>
                  <tr>                   
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="1">N°</th>
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="1">Nombres</th>
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="1">C.Doc</th>                  
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="1">N°</th>
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="1">Nombres</th>
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="1">C.Doc</th>             
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="1">N°</th>
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="1">Nombres</th>
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="1">C.Doc</th>              
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="1">N°</th>
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="1">Nombres</th>
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="1">C.Doc</th>
                  </tr>
              </thead>
              <tbody v-bind:style="clases_css.body">              
                  <tr v-for="(fila,index) in data" :key="index">
                    <td v-bind:style="clases_css.td" colspan="1" rowspan="1" v-text="fila.row_num_etapa1"></td>
                    <td v-bind:style="clases_css.td" colspan="1" rowspan="1" v-text="fila.nombres_etapa1"></td>
                    <td v-bind:style="clases_css.td" colspan="1" rowspan="1" v-text="fila.p_01_persona_etapa1"></td>
                    <td v-bind:style="clases_css.td" colspan="1" rowspan="1" ></td>
                    <td v-bind:style="clases_css.td" colspan="1" rowspan="1" v-text="fila.row_num_etapa2"></td>
                    <td v-bind:style="clases_css.td" colspan="1" rowspan="1" v-text="fila.nombres_etapa2"></td>
                    <td v-bind:style="clases_css.td" colspan="1" rowspan="1" v-text="fila.p_01_persona_etapa2"></td>
                    <td v-bind:style="clases_css.td" colspan="1" rowspan="1" ></td>
                    <td v-bind:style="clases_css.td" colspan="1" rowspan="1" v-text="fila.row_num_etapa3"></td>
                    <td v-bind:style="clases_css.td" colspan="1" rowspan="1" v-text="fila.nombres_etapa3"></td>
                    <td v-bind:style="clases_css.td" colspan="1" rowspan="1" v-text="fila.p_01_persona_etapa3"></td>
                    <td v-bind:style="clases_css.td" colspan="1" rowspan="1" ></td>
                    <td v-bind:style="clases_css.td" colspan="1" rowspan="1" v-text="fila.row_num_etapa4"></td>
                    <td v-bind:style="clases_css.td" colspan="1" rowspan="1" v-text="fila.nombres_etapa4"></td>
                    <td v-bind:style="clases_css.td" colspan="1" rowspan="1" v-text="fila.p_01_persona_etapa4"></td>
                 
                  </tr>
              </tbody>
            </table>
    </div>
    
</template>


<script>

import exporter from '../../../services/exporter.js';


export default {
  components: { }, 
  props: {
    titulo: '',
    data: '',
    formato:'',
    fileName:'',
    withColNumber:false,
  },
  data() {
    return{
      clases_css:{
         table:{
          'width': '100%',
          'text-align': 'center',
          'font-family': 'Arial, Helvetica, sans-serif',          
          'font-size': '12px', 
          'text-align': 'left',
          'border-collapse': 'collapse',
        },
        titulo:{
          'text-align': 'center',
          'font-family': 'Arial, Helvetica, sans-serif',
          'margin-botton': '5px',
        },
        th:{
          'text-align': 'center',
          'font-size': '14px',     
          'font-weight': 'normal',     
          'padding': '8px',     
          'background': '#0065A9',
          'background-color': '#0065A9',
          'border': '1px solid #bbb',
          'color': '#ffffff',
        },
        td:{
          'padding':'4px',
          'background':'white',
          'color':'black',
          'border':'1px solid #bbb',
        },
      }
    }
  },
  mounted () {
         this.inicio();
  },
  methods:{		
      inicio(){
      if(this.formato==='pdf')
          this.imprimir();
      else if(this.formato==='excel')
          this.descargar();
      },
      imprimir(){
        exporter.imprimir('imprimiendo');              
      },   
      descargar(){      
        exporter.exportExcel('imprimiendo','Hoja1',this.fileName);
      }
  },   
};
</script>

<style >
</style>