<template>
    <div id="imprimiendo"> 
         <table v-bind:style="clases_css.table">          
              <thead>
                  <tr>
                    <th colspan="21">
                      <h1 v-text="titulo"> --titulo-- </h1>
                    </th>
                  </tr>
                  <tr>
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="2">N°</th>  
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="2">Sede Regional</th>
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="2">Sede Provincial</th>
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="2">Sede Distrital</th>                  
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="2">Tipo</th> 
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="2">Documento</th>  
                    <th v-bind:style="clases_css.th" colspan="1" rowspan="2">Marco</th>                   
                    <th v-bind:style="clases_css.th" colspan="4" rowspan="1">1. Inventario y Recepción</th>
                    <th v-bind:style="clases_css.th" colspan="4" rowspan="1">2. Revisión y Consistencia</th>
                    <th v-bind:style="clases_css.th" colspan="4" rowspan="1">3. Control de Calidad</th>
                    <th v-bind:style="clases_css.th" colspan="4" rowspan="1">4. Inventario Final</th>  
                    <!-- <th v-bind:style="clases_css.th" colspan="2" rowspan="1">Observados</th> -->  
                  </tr>
                  <tr>                   
                    <th v-bind:style="clases_css.th">Doc</th>
                    <th v-bind:style="clases_css.th">%Doc</th>
                    <th v-bind:style="clases_css.th">Obs</th>
                    <th v-bind:style="clases_css.th">%Obs</th>
                    <th v-bind:style="clases_css.th">Doc</th>
                    <th v-bind:style="clases_css.th">%Doc</th>
                    <th v-bind:style="clases_css.th">Obs</th>
                    <th v-bind:style="clases_css.th">%Obs</th>
                    <th v-bind:style="clases_css.th">Doc</th>
                    <th v-bind:style="clases_css.th">%Doc</th>
                    <th v-bind:style="clases_css.th">Obs</th>
                    <th v-bind:style="clases_css.th">%Obs</th>
                    <th v-bind:style="clases_css.th">Doc</th>
                    <th v-bind:style="clases_css.th">%Doc</th>
                    <th v-bind:style="clases_css.th">Obs</th>
                    <th v-bind:style="clases_css.th">%Obs</th>
                    <!-- <th v-bind:style="clases_css.th">Tot</th>
                    <th v-bind:style="clases_css.th">%Obs</th> -->
                  </tr>
              </thead>
              <tbody>              
                  <tr v-for="fila in data" :key="fila.row_num">
                    <td v-for="(title,index) in titles" :key="index" v-text="fila[title.prop]">
                    </td>                                    
                  </tr>
              </tbody>
            </table>
    </div>
    
</template>


<script>

import exporter from '../../../services/exporter.js';


export default {
  components: { }, 
  props: {
    titles:'',
    titulo: '',
    data: '',
    formato:'',
    fileName:'',
    withColNumber:false,
  },
  data() {
    return{   
       clases_css:{
         table:{
          'width': '100%',
          'text-align': 'center',
          'font-family': 'Arial, Helvetica, sans-serif',          
          'font-size': '12px', 
          'text-align': 'left',
          'border-collapse': 'collapse',
        },
        titulo:{
          'text-align': 'center',
          'font-family': 'Arial, Helvetica, sans-serif',
          'margin-botton': '5px',
        },
        th:{
          'text-align': 'center',
          'font-size': '14px',     
          'font-weight': 'normal',     
          'padding': '8px',     
          'background': '#0065A9',
          'background-color': '#0065A9',
          'border': '1px solid #bbb',
          'color': '#ffffff',
        },
        td:{
          /*'padding':'4px',
          'background':'white',
          'color':'black',
          'border':'1px solid #bbb',*/
        },
      }   
    
    }
  },
  mounted () {
         this.inicio();
  },
  methods:{		
      inicio(){
      if(this.formato==='pdf')
          this.imprimir();
      else if(this.formato==='excel')
          this.descargar();
      },
      imprimir(){
        exporter.imprimir('imprimiendo');              
      },   
      descargar(){      
        exporter.exportExcel('imprimiendo','Hoja1',this.fileName);
      }
  },   
};
</script>

<style >
</style>