<template>
    <div id="imprimiendo"> 
          
         <table v-bind:style="clases_css.table">          
              <thead>
                  <tr>
                    <th v-bind:colspan="countCol" v-bind:style="clases_css.titulo" >
                      <h1 v-text="titulo"> --titulo-- </h1>
                    </th>
                  </tr>
                  <tr>
                    <th v-if="withColNumber===true" v-bind:style="clases_css.th">
                      N°
                    </th>
                    <th v-bind:style="clases_css.th" v-for="(title,index) in titles" :key="index" v-text="title.label">
                      
                    </th>
                    
                  </tr>
              </thead>
              <tbody style="text-align:center;">
                  <tr v-for="(fila,index) in data" :key="index" style="border:1px solid #bbb">
                    <td v-if="withColNumber===true && existRowTotal===true">
                        <span v-text="index"></span>
                    </td>
                    <td v-else-if="withColNumber===true && existRowTotal===false">
                      <span v-text="index+1"></span>
                    </td>
                    <td v-for="(title,index) in titles" :key="index" v-text="fila[title.prop]">
                    </td>                  
                  </tr>
              </tbody>
            </table>
    </div>
    
</template>


<script>

import exporter from '../../../services/exporter.js';


export default {
  components: { }, 
  props: {
    titulo: '',
    titles: '',
    data: '',
    formato:'',
    fileName:'',
    withColNumber:false,
    existRowTotal:false,
  },
  data() {
    return{
      countCol:0,
      options_bar_code: {
            lineColor: 'black',
            fontSize: 18,
            font: 'Courier',
            width: 1,
            height: 30,
            marginBottom: 10,
            format: 'CODE39',
           // background: '#ccffff'
        },
      clases_css:{
         table:{
          'width': '100%',
          'text-align': 'center',
          'font-family': 'Arial, Helvetica, sans-serif',          
          'font-size': '12px', 
          'text-align': 'left',
          'border-collapse': 'collapse',
        }, 
        titulo:{
          'text-align': 'center',
          'font-family': 'Arial, Helvetica, sans-serif',
          'margin-botton': '5px',
        },
        th:{
          'text-align': 'center',
          'font-size': '14px',     
          'font-weight': 'normal',     
          'padding': '8px',     
          
          'background-color': '#0065A9',
          'border': '1px solid #bbb',
          'color': '#ffffff',
        },
      }
    }
  },
  beforeMount(){
    this.getCountCol();
  },
  mounted () {
    this.inicio();
  },
  methods:{		
      inicio(){
        if(this.formato==='pdf')
          this.imprimir();
        else if(this.formato==='excel')
          this.descargar();
      }, 
      imprimir(){
        exporter.imprimir('imprimiendo');              
      },   
      descargar(){      
        exporter.exportExcel('imprimiendo','Hoja1',this.fileName );
      },
      totalTitulo(){       
        return this.titles.length;
      },
      getCountCol: function(){
        this.countCol=this.titles.length;
        if(this.withColNumber){this.countCol=this.titles.length+1;}
      }
  },
};
</script>

<style >

</style>
