<template>
    <div id="imprimiendo"> 
          
         <table v-bind:style="clases_css.table">          
              <thead>
                  <tr>
                    <th colspan="4" v-bind:style="clases_css.titulo" >
                      <h1 v-text="titulo"> --titulo-- </h1>
                    </th>
                  </tr>
                  <tr>
                    <th v-bind:style="clases_css.th">N°</th>
                    <th v-bind:style="clases_css.th">Código</th>
                    <th v-bind:style="clases_css.th">Estado</th>
                    <th v-bind:style="clases_css.th" v-if="impresion">Código de Barra</th>
                  </tr>
              </thead>
              <tbody>              
                  <tr v-for="(producto,index) in productos" :key="index">
                    <td v-bind:style="clases_css.td">
                        <span v-text="index + 1">asdasdas</span>
                    </td>
                      <td v-bind:style="clases_css.td">
                        <span v-text="'\'' + String(producto.cod_barras)+' '">asdasdasd</span>
                    </td>
                      <td v-bind:style="clases_css.td">
                        <span v-html="obtenerEstado(producto.estado)">asadasd</span>
                    </td>
                    <td v-bind:style="clases_css.td" v-if="impresion">
                        <span>
                          <vue-barcode 
                          :value="producto.cod_barras" 
                          :options="options_bar_code">
                          </vue-barcode>

                        </span>
                    </td>
                  </tr>
              </tbody>
            </table>
    </div>
    
</template>


<script>
import VueBarcode from '@chenfengyuan/vue-barcode';
import exporter from '../../../services/exporter.js';


export default {
  components: {VueBarcode }, 
  props: {
    titulo: '',
    productos: '',
    impresion: Boolean,
  },
  data() {
    return{
      options_bar_code: {
            lineColor: 'black',
            fontSize: 18,
            font: 'Courier',
            width: 1,
            height: 30,
            marginBottom: 10,
            format: 'CODE39',
           // background: '#ccffff'
        },
      clases_css:{
         table:{
          'width': '100%',
          'text-align': 'center',
          'font-family': 'Arial, Helvetica, sans-serif',          
          'font-size': '12px', 
          'text-align': 'left',
          'border-collapse': 'collapse',
        }, 
        titulo:{
          'text-align': 'center',
          'font-family': 'Arial, Helvetica, sans-serif',
          'margin-botton': '5px',
        },
        th:{
          'text-align': 'center',
          'font-size': '18px',     
          'font-weight': 'normal',     
          'padding': '8px',     
          'background': '#060461',
          'background-color': 'blue',
          'border': '1px solid black',
          'color': 'white',
        },
        td:{
          'text-align': 'center',
          'padding': '4px',     
          'background': 'white',   
          'color': 'black',    
          'border': '1px solid black',
        },
      }
    }
  },
  mounted () {
         this.inicio();
  },
  methods:{		
      inicio(){
        if(this.impresion===true)
          this.imprimir();
        else
          this.descargar();
      },   
       obtenerEstado(estado){
      
        if(estado==1){
            return '<span class="">Inventariado</span>';
        }
        if(estado==2){
            return '<span class="">Vendido</span>';
        }
        if(estado==3){
            return '<span class="">Devuelto</span>';
        }
        if(estado==4){
            return '<span class="">Perdido</span>'; 
        }                               
        return '<span class="">Eliminado</span>'; 
      }, 
      imprimir(){
        exporter.imprimir('imprimiendo');              
      },   
      descargar(){      
        exporter.exportExcel('imprimiendo','Hoja1','export');
      }  			
  },


   
};
</script>

<style >

</style>