<template>

    <!-- inicio de datos del detalle (lista de bienes agregados) -->
    <div>
            <div class="table-responsive-sm">
            <!-- Inicio entregables  -->
            <table class="table table-sm table-striped table-collapse table-fixed anchotable">
                <thead class="color-cabecera" >
                    <tr>
                        <th class="num">N°</th>
                        <th class="docu text-center" >Documento</th>
                        <th class="docrev" >Doc.Rev</th>
                        <th class="docobserv" >Doc.Obs</th>                                                  
                        <th class="observ text-center">Observación</th>
                    </tr>
                </thead>
                <tbody>
					<thead>
						<tr class="bg-color">
							<th class="num">N°</th>
							<th class="docu text-center" >DOCUMENTOS ENTREGABLES</th>
							<th class="docrev">CANT</th>
							<th class="docobserv">CANT</th>                                                  
							<th class="observ text-center">OBSERVACIONES</th>
						</tr>
					</thead>
                    <tr v-for="(fila,index) in items" :key="100+fila.documento_id" >
                        <template v-if="fila.subtipo==1">
                        <td  class="num">
                                <span v-text="fila.orden"></span>
                        </td>
                        <td class="docu">
                            <span v-text="fila.etiqueta"></span>
                        </td>
                        <td class="docrev">
                                <input type="text" v-model="fila.p_01" :name="'codigo'+index" data-vv-as="Código"  data-vv-validate-on = "blur" @keypress="soloNumeros" class="form-control form-control-sm" placeholder="" maxlength="11" > 
                            <span style="color: red;">{{ errors.first('form-detalle-etapa.codigo'+index) }}</span>
                        </td>
                        <td class="docobserv">
                                <input type="text" v-model="fila.p_02"  :name="'codigo'+index" data-vv-as="Código"  data-vv-validate-on = "blur" @keypress="soloNumeros" class="form-control form-control-sm" placeholder="" maxlength="11" > 
                            <span style="color: red;">{{ errors.first('form-detalle-etapa.codigo'+index) }}</span>
                        </td>
                        <td class="observ">
                            <textarea v-model="fila.p_obs" rows="2" class="form-control form-control-sm" placeholder="" maxlength="999" ></textarea>
                            <span style="color: red;">{{ errors.first('form-detalle-etapa.codigo'+index) }}</span>
                        </td>
                        </template>                                                  
                    </tr>
                    <tr class="bgclor1">
                        <td class="total" colspan="2">TOTAL</td>
                        <td class="total1"><span v-text="totales.entregables_p01"></span></td>
                        <td class="total2"><span v-text="totales.entregables_p02"></span></td>                                                                                                  
                        <td class="col-md-4"></td>
                    </tr>
                    <!-- Fin entregables  -->


                    <!-- Inicio no_aplicacion  -->
					<thead>
						<tr class="bg-color">
							<th class="num">N°</th>
							<th class="docu text-center" >DOCUMENTOS DE NO APLICACIÓN cada caso de No Aplicación debe contener:</th>
							<th class="docrev">CANT</th>
							<th class="docobserv">CANT</th>                                                  
							<th class="observ text-center">OBSERVACIONES</th>
						</tr>
					</thead>
                    <tr v-for="(fila,index) in items" :key="200+fila.documento_id">
                        <template v-if="fila.subtipo==2">
                        <td class="num">
                            <span v-text="fila.orden"></span>
                        </td>
                        <td class="docu">
                            <span v-text="fila.etiqueta"></span>
                        </td>
                        <td class="docrev">
                                <input type="text" v-model="fila.p_01" :name="'codigo'+index" data-vv-as="Código"  data-vv-validate-on = "blur" @keypress="soloNumeros" class="form-control form-control-sm" placeholder="" maxlength="11" > 
                            <span style="color: red;">{{ errors.first('form-detalle-etapa.codigo'+index) }}</span>
                        </td>
                        <td class="docobserv">
                                <input type="text" v-model="fila.p_02"  :name="'codigo'+index" data-vv-as="Código"  data-vv-validate-on = "blur" @keypress="soloNumeros" class="form-control form-control-sm" placeholder="" maxlength="11" > 
                            <span style="color: red;">{{ errors.first('form-detalle-etapa.codigo'+index) }}</span>
                        </td>
                        <td class="observ">

                            <textarea v-model="fila.p_obs" rows="2" class="form-control" placeholder="" maxlength="999" ></textarea>

                            <span style="color: red;">{{ errors.first('form-detalle-etapa.codigo'+index) }}</span>
                        </td>
                        </template>
                    </tr>
                    <tr class="bgclor1">
                        <td colspan="2" class="total">TOTAL</td>
                        <td class="total1"><span v-text="totales.no_aplicacion_p01"></span></td>
                        <td class="total2"><span v-text="totales.no_aplicacion_p02"></span></td>                                                                                                  
                        <td class="col-md-4"></td>
                    </tr>
                    <!-- Fin no_aplicacion  -->


                    <!-- Inicio inei  -->
					<thead>
						<tr class="bg-color">
							<th class="num">N°</th>
							<th class="docu text-center" >DOCUMENTOS DE OPERACIÓN DE CAMPO-INEI</th>
							<th class="docrev">CANT</th>
							<th class="docobserv">CANT</th>                                                  
							<th class="observ text-center">OBSERVACIONES</th>
						</tr>
					</thead>
                    <tr v-for="(fila,index) in items" :key="300+fila.documento_id">
                        <template v-if="fila.subtipo==3">
                        <td class="num">
                            <span v-text="fila.orden"></span>
                        </td>
                        <td class="docu">
                            <span v-text="fila.etiqueta"></span>
                        </td>
                        <td class="docrev">
                                <input type="text" v-model="fila.p_01" :name="'codigo'+index" data-vv-as="Código"  data-vv-validate-on = "blur" @keypress="soloNumeros" class="form-control form-control-sm" placeholder="" maxlength="11" > 
                            <span style="color: red;">{{ errors.first('form-detalle-etapa.codigo'+index) }}</span>
                        </td>
                        <td class="docobserv">
                                <input type="text" v-model="fila.p_02"  :name="'codigo'+index" data-vv-as="Código"  data-vv-validate-on = "blur" @keypress="soloNumeros" class="form-control form-control-sm" placeholder="" maxlength="11" > 
                            <span style="color: red;">{{ errors.first('form-detalle-etapa.codigo'+index) }}</span>
                        </td>
                        <td class="observ">

                            <textarea v-model="fila.p_obs" rows="2" class="form-control" placeholder="" maxlength="999" ></textarea>

                            <span style="color: red;">{{ errors.first('form-detalle-etapa.codigo'+index) }}</span>
                        </td>
                        </template>
                    </tr>    
                    <tr class="bgclor1">
                        <td class="total" colspan="2">TOTAL</td>
                        <td class="total1"><span v-text="totales.inei_p01"></span></td>
                        <td class="total2"><span v-text="totales.inei_p02"></span></td>                                                                                                  
                    </tr>
                </tbody>
                <!-- Fin inei  -->
                
            </table>
            
            
        </div>

                
        
                            
    </div>
    <!-- fin de datos del detalle (lsita de bienes agregados) -->
</template>

<script>
    import { VTooltip, VPopover, VClosePopover } from 'v-tooltip'  
    import Multiselect from 'vue-multiselect'
    import helper from '../../services/helper'

    export default {
        components: {Multiselect,'v-popover' : VPopover, 'tooltip':VTooltip, 'close-popover':VClosePopover},
        //components: {VTooltip},
        props: {            
            items: Array,
        },
        data() {
            return { 
                totales:{
                    entregables_p01: 0,
                    entregables_p02: 0,
                    no_aplicacion_p01: 0,
                    no_aplicacion_p02: 0,
                    inei_p02: 0,
                    inei_p01: 0,
                },
            }
        },     
        computed:{            
           /*  totalItems: function () {                        
                return this.items.length;                  
            }, 
            f_req_detalle_cpe: function () {
                var _this = this;
                return function (index,decimal) {
                    var t_items = _this.items.length -1 ;
                    if(t_items == index ) return ;
                    if(decimal==1) return 'required|decimal:2'
                    return 'required'
                };
            },  */
        }, 
        updated(){
             this.calcularTotales();
        },  
        created(){
           
        },
        mounted(){
            
        },
        methods: {
            soloNumeros($event){
                helper.soloNumeros($event);
            }, 
            calcularTotales(){
               // console.log(detalles);
                let detalles = this.items;
              

                var total_entregables_p01 = 0;
                var total_entregables_p02 = 0;

                var total_no_aplicacion_p01 = 0;
                var total_no_aplicacion_p02 = 0;  

                var total_inei_p01 = 0;
                var total_inei_p02 = 0;
               
               
                for(var i = 0; i < detalles.length ; i++){  
                    if(detalles[i].subtipo==1){
                        total_entregables_p01 += Number( (detalles[i].p_01==undefined? 0 : detalles[i].p_01 ));
                        total_entregables_p02 += Number( (detalles[i].p_02==undefined? 0 : detalles[i].p_02 ));
                    }     
                    if(detalles[i].subtipo==2){
                        total_no_aplicacion_p01 += Number( (detalles[i].p_01==undefined? 0 : detalles[i].p_01 ));
                        total_no_aplicacion_p02 += Number( (detalles[i].p_02==undefined? 0 : detalles[i].p_02 ));
                    } 
                    if(detalles[i].subtipo==3){
                        total_inei_p01 += Number( (detalles[i].p_01==undefined? 0 : detalles[i].p_01 ));
                        total_inei_p02 += Number( (detalles[i].p_02==undefined? 0 : detalles[i].p_02 ));
                    }    
                }
                               
            
                this.totales.entregables_p01 = total_entregables_p01;
                this.totales.entregables_p02 = total_entregables_p02;

                this.totales.no_aplicacion_p01 = total_no_aplicacion_p01;
                this.totales.no_aplicacion_p02 = total_no_aplicacion_p02;

                this.totales.inei_p01 = total_inei_p01;
                this.totales.inei_p02 = total_inei_p02;
            },
        }
    }
</script>


<style>
.table .thead-dark th {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
}
.table-fixed tbody {
    height: 22rem;
    overflow-y: auto;
    width: 100%;
}
.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
}
.table-fixed tr:after {
    content: "";
    display: block;
    visibility: hidden;
    clear: both;
}
.table-fixed tbody td,
.table-fixed thead > tr > th {
    float: left;
}
.table th, .table td {
	border-top: 1px silver;
}
</style>
