<template>
	<div>          
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row ">
                            <div class="col-lg-12 text-center">
                                <h4 class="card-title titpad">Registro de Avance</h4>
                            </div> 
                            <!-- <div class="col-md-3">
                                <div class="float-right">
                                    <button type="submit" @click="registrarAlmacen()" class="btn btn-info waves-effect waves-light m-t-10"> <i   class="fa fa-plus m-r-5"></i> | <span> Nuevo Almacén </span></button>

                                </div>                                        
                             </div>--> 
                        </div>
                        <hr> 
                        <form action='#' data-vv-scope="form-etapa">
                        
                           <!--  <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Nombre</label>
                                    <input name="nombre" class="form-control" v-model="filtrosBusqueda.nombre" @keyup.enter="listarAlmacenes">
                                </div>
                            </div>  -->     
							<div class="row">
								<div class="col-lg-6 row">
									<div class="col-lg- col-md-4 col-sm-6 col-xs-12">
										<div class="form-group">
												<label for="" class="color">Sede Regional (*)</label>
												<select name="sede_regional" class="form-control form-control-sm" v-model="filtrosBusqueda.sede_regional"  @change="obtenerSedeProvincial" v-validate="'required'" data-vv-as="Sede Regional">
													<option value="">Seleccione</option>
													<option v-for="sede in sedes_regionales" :key="sede.id" :value="sede.cod_sede_regional" v-text="sede.sede_regional" ></option>
												</select>
											<span style="color: red;">{{ errors.first('form-etapa.sede_regional') }}</span>  
										</div> 
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="form-group">
												<label for="" class="color">Sede Provincial (*)</label>
												<select name="sede_provincial" class="form-control form-control-sm" v-model="filtrosBusqueda.sede_provincial" @change="obtenerSedeDistrital" v-validate="'required'" data-vv-as="Sede Provincial">
													<option value="">Seleccione</option>
													<option v-for="sede in sedes_provinciales" :key="sede.id" :value="sede.cod_sede_provincial" v-text="sede.sede_provincial" ></option>
												</select>
											<span style="color: red;">{{ errors.first('form-etapa.sede_provincial') }}</span>  
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="form-group">                                  
												<label for="" class="color">Sede Distrital (*)</label>  
												<select name="sede_distrital" class="form-control form-control-sm" v-model="filtrosBusqueda.sede_distrital"  v-validate="'required'" data-vv-as="Sede Distrital">
													<option value="">Seleccione</option>
													<option v-for="sede in sedes_distritales" :key="sede.id" :value="sede.id" v-text="sede.sede_distrital" ></option>
												
												</select>
											<span style="color: red;">{{ errors.first('form-etapa.sede_distrital') }}</span>  
										</div>
									</div>	
								</div>
								<div class="col-lg-6 row">
									<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
										<div class="form-group">                                  
											<label for="" class="color">Operativo (*)</label>  
											<select name="operativo" class="form-control form-control-sm" v-model="filtrosBusqueda.operativo" v-validate="'required'" data-vv-as="Operativo" >
                                            <option value="">Seleccione</option>
                                            <option value="1">ECE Secundaria</option>
                                            <option value="2">EM Primaria</option>  
                                        </select>
										<span style="color: red;">{{ errors.first('form-etapa.operativo') }}</span> 
                                	</div>
									</div>
									<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
										<div class="form-group">                                  
											<label for="" class="color">Fecha (*)</label>  
											<div>
												<date-picker 
													input-class="form-control form-control-sm" 

													width="100%"
													valueType="format"
													name="fec_emision"
													v-model="filtrosBusqueda.fecha"
													:not-before="deshabilitar.fecha_inicio" 
													:not-after="deshabilitar.fecha_fin" 
													v-validate="'required'"
													data-vv-as="Fecha de Emisión"                                         
													lang="es" ></date-picker> 
											</div>                             
                                    	<span style="color: red;">{{ errors.first('form-etapa.fec_emision') }}</span>  
                                	</div>
									</div>
									<div class="col-lg-6 col-md-4 col-sm-6 col-xs-12">
										<div class="form-group row">
										<label for="" class="color">Persona (*)</label>
											<multiselect 
												v-model="filtrosBusqueda.persona"
												v-validate="'required'"
												data-vv-as="Persona" 
												id="selectPersonas" 
												label="name" 
												name="persona"
												track-by="id" 
												placeholder="Buscar por Persona"
												open-direction="bottom" 
												:options="m_select.data" 
												:multiple="false" 
												:searchable="true" 
												:loading="m_select.isLoading" 
												:internal-search="false"                                     
												:options-limit="300" 
												:limit="5" 
												:allow-empty="false"
											
												:limit-text="limitText" 
												:max-height="600" 
												:show-no-options="false" 
												:show-no-results="true" 
												:hide-selected="false" 
												@select="personaSeleccionada"
												@search-change="buscarPersonas">
												
												
												<template slot="tag" slot-scope="{ option, remove }"><span class="custom__tag"><span>{{ option.nombres }}</span><span class="custom__remove" @click="remove(option)">❌</span></span></template>
												<template slot="option" slot-scope="{ option }"><span>{{ option.nombres }}</span></template>
												<template slot="singleLabel" slot-scope="{ option }"><strong> {{ option.nombres }}</strong></template>

												<span slot="noResult">No encontramos a la persona que está buscando.</span>
												<span slot="noOptions">No encontramos a la persona que está buscando.</span>
												

											</multiselect> 
									</div>
										<span style="color: red;">{{ errors.first('form-etapa.persona') }}</span>  
										
									</div>
								</div>		
                            </div>
							<div style="text-align: center;">
   								<button type="submit" @click="buscarCantidadDocumentos" class="btn btn-color col-lg-1" :disabled="desabilitado" > Buscar </button>
							</div>
                        </form>
                        <hr>

                        <vue-tabs 
                        @tab-change="tabCambiado"
                        active-tab-color="#0065A9" active-text-color="white">
                            <!-- Inicio TAB 01  -->
                            <v-tab 
                            title="Inventario y Recepción"
                            tadId="1"
                            id="1"
                            >
                                <div>
                                  <detalles
                                  :items="cantDocumento01.detalle"
                                  >

                                  </detalles>

                                  <div class="row justify-content-md-center">
                                        <div class="col-md-12">
											<label for="" class="color">OBSERVACION GENERAL</label>
                                            <div class="form-group">
                                                <textarea v-model="cantDocumento01.observacion_etapa" rows="3" class="form-control form-control-sm" placeholder="" maxlength="999" ></textarea>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group" style="text-align: center;">
                                                <button type="submit"  @click="funcGuardar" class="btn btn-color col-lg-1" :disabled="desabilitado" > Guardar </button>
                                            </div>
                                        </div>
                                    </div>   

                                </div>
                            </v-tab>
                            <!-- Fin TAB 01  -->

                            <!-- Inicio TAB 02  -->
                            <v-tab title="Revisión y Consistencia"
                            tadId="2"
                            id="2">
                                <div>
                                  <detalles
                                  :items="cantDocumento02.detalle"
                                  >

                                  </detalles>

                                  <div class="row justify-content-md-center">
                                        <div class="col-md-12">
                                            <div class="form-group">
												<label for="" class="color">OBSERVACIONES</label>
                                                <textarea v-model="cantDocumento02.observacion_etapa" rows="3" class="form-control form-control-sm" placeholder="" maxlength="999" ></textarea>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group" style="text-align: center;">      
                                                <button type="submit"  @click="funcGuardar" class="btn btn-color col-lg-1" :disabled="desabilitado" > Guardar </button>
                                            </div>
                                        </div>
                                    </div>   

                                </div>
                            </v-tab>
                            <!-- Fin TAB 02  -->

                            <!-- Inicio TAB 03  -->
                            <v-tab title="Control de Calidad"
                            tabId="3"
                            id="3">
                                <div>
                                  <detalles
                                  :items="cantDocumento03.detalle"
                                  >

                                  </detalles>

                                  <div class="row justify-content-md-center">
                                        <div class="col-md-12">
                                            <div class="form-group">
												<label for="" class="color">OBSERVACIONES</label>
                                                <textarea v-model="cantDocumento03.observacion_etapa" rows="3" class="form-control form-control-sm" placeholder="" maxlength="999" ></textarea>
                                            </div>
                                        </div>

                                        <div class="col-md-12" >
                                            <div class="form-group" style="text-align: center;">
                                                <button type="submit"  @click="funcGuardar" class="btn btn-color col-lg-1" :disabled="desabilitado" > Guardar </button>
                                            </div>
                                        </div>
                                    </div>   

                                </div>
                            </v-tab>
                             <!-- Fin TAB 03  -->

                            <!-- Inicio TAB 04  -->
                            <v-tab title="Inventario Final"
                            tabId="4"
                            id="4">
                                <div>
                                  <detalles
                                  :items="cantDocumento04.detalle"
                                  >

                                  </detalles>

                                  <div class="row justify-content-md-center">
                                        <div class="col-md-12">
                                            <div class="form-group">
												<label for="" class="color">OBSERVACIONES</label>
                                                <textarea v-model="cantDocumento04.observacion_etapa" rows="3" class="form-control form-control-sm" placeholder="" maxlength="999" ></textarea>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group" style="text-align: center;">
                                                <button type="submit"  @click="funcGuardar" class="btn btn-color col-lg-1" :disabled="desabilitado" > Guardar </button>
                                            </div>
                                        </div>
                                    </div>   

                                </div>
                            </v-tab>
                             <!-- Fin TAB 04  -->
                        </vue-tabs>

                        
                    </div>
                </div>
            </div>
        </div>

     
    </div>
    
</template>

<script>

    import helper from '../../services/helper'
    import { DataTables } from 'vue-data-tables';
    import Multiselect from 'vue-multiselect';
    import DatePicker from 'vue2-datepicker';
    import detalles from './detalles'
    import Swal from 'sweetalert2/dist/sweetalert2.js';
    import {VueTabs, VTab} from 'vue-nav-tabs'    
    import 'vue-nav-tabs/themes/vue-tabs.css'
   
    var f=new Date();
    var hoy = {
        fecha: helper.formatDate(f),
        hora: f.getHours()+":"+f.getMinutes(),
    };

    export default {
        components : {DataTables,Multiselect,DatePicker,VueTabs,VTab,detalles,Swal},
        data() {
            return {                  
                sedes_regionales:[],
                sedes_provinciales:[],
                sedes_distritales:[],
                m_select:{
                    data:[],
                    isLoading: false,
                },    
                
                deshabilitar:{
                    fecha_inicio: '2019-11-18 00:00:00',
                    fecha_fin: (new Date).setDate((new Date).getDate() + 0),
                },
                desabilitado:false,
               
                filtrosBusqueda: {
                    sede_regional : '',
                    sede_provincial: '',
                    sede_distrital: '',
                    persona: null, 
                    operativo:'1', 
                    fecha: hoy.fecha,  
                                       
                }, 
                etapa:1,
                cantDocumento01:{  
                    id:0,                              
                    observacion_etapa:'',
                    detalle:[],
                },
                cantDocumento02:{  
                    id:0,                                   
                    observacion_etapa:'',
                    detalle:[],
                },
                cantDocumento03:{  
                    id:0,
                    observacion_etapa:'',
                    detalle:[],
                },
                cantDocumento04:{  
                    id:0,
                    observacion_etapa:'',
                    detalle:[],
                }
                

            }
        },
      
        created() {            
           this.obtenerSedeRegional();
            //this.obtenerDocumentos();
        },        
        methods: {
            obtenerSedeRegional(){
                this.filtrosBusqueda.sede_provincial = '';
                this.filtrosBusqueda.sede_distrital = '';
                axios.get('api/select/sedes_regionales')
                    .then(response => this.sedes_regionales = response.data ); 
            },
            obtenerSedeProvincial(){
                this.filtrosBusqueda.sede_distrital = '';
                if(this.filtrosBusqueda.sede_regional == '' ) return 0;
                axios.get('api/select/sedes_provinciales/' + this.filtrosBusqueda.sede_regional)
                    .then(response => this.sedes_provinciales = response.data ); 
            },
            obtenerSedeDistrital(){
                if( this.filtrosBusqueda.sede_provincial == '') return 0;
                axios.get('api/select/sedes_distritales/' + this.filtrosBusqueda.sede_regional + '/' +  this.filtrosBusqueda.sede_provincial)
                .then(response => {
                   // console.log(response.data);
                    if(response.data[0].cod_sede_distrital=='00'){
                        console.log("entro");
                        this.sedes_distritales[0] = {
                            cod_sede_distrital: "00",
                            id: response.data[0].id,
                            sede_distrital: "SIN DISTRITO",
                        };                        
                        this.filtrosBusqueda.sede_distrital = response.data[0].id;
                    }
                    else{
                        this.sedes_distritales = response.data;
                    }
                                       
                }).catch(error => {
                    toastr['error'](error.response.data.message);
                   
                }); 

                
            },
            obtenerDocumentos(){
                let _this = this;
                axios.get('api/select/documentos').then(response => {
                    this.documentos.entregables= response.data.entregables;         
                    this.documentos.no_aplicacion= response.data.no_aplicacion;
                    this.documentos.inei= response.data.inei;
                    helper.habilitarBoton(_this);
                }).catch(error => {
                    toastr['error'](error.response.data.message);
                    helper.habilitarBoton(_this);
                }); 
            },

            limitText (count) {
                return `and ${count} other selectProductosDescripcion`
            },
            
            buscarPersonas(descripcion){   
                let _this = this;          
                _this.m_select.isLoading = true;                
                if(descripcion.length<2){
                    _this.m_select.data=[];
                    _this.m_select.isLoading = false;                   
                    return;
                }
                
                axios.get('api/persona/buscar_personas/'+descripcion).then(response => {
                            _this.m_select.data = response.data
                            _this.m_select.isLoading = false
                        }).catch(error => {
                            toastr['error'](error.response.data.message);
                        });
            },
            personaSeleccionada(query,index){

                console.log("persona" + query + index);
                console.log(query);
            },       
            buscarCantidadDocumentos(){               
                let _this = this;
                if(this.etapa==1){
                  
                    this.buscarCantidadDocumentosFunc(this.cantDocumento01);
                }
                if(this.etapa==2){
                    this.buscarCantidadDocumentosFunc(this.cantDocumento02);
                }
                if(this.etapa==3){
                    this.buscarCantidadDocumentosFunc(this.cantDocumento03);
                }
                if(this.etapa==4){
                    this.buscarCantidadDocumentosFunc(this.cantDocumento04);
                }
            },    
            buscarCantidadDocumentosFunc(documentoEtapa) {             
                let _this = this; 
                helper.deshabilitarBoton(_this);     
                this.$validator.validateAll('form-etapa').then(result => {//validamos si es correcto
                    if (result) {     
                        let json = {
                            etapa: _this.etapa,
                            operativo: _this.filtrosBusqueda.operativo,
                            sede: _this.filtrosBusqueda.sede_distrital,
                            persona: _this.filtrosBusqueda.persona.id,
                            fecha: _this.filtrosBusqueda.fecha,
                        }   
                     
                        let url = helper.getFilterURL(json);                                           
                        axios.get('api/cant_documentos/obtener?'+ url).then(response => {
                            toastr['success']('Cargado');   
                            documentoEtapa.detalle = response.data.det_cant_documento;                         
                            documentoEtapa.id = response.data.cab_id;
                            documentoEtapa.observacion_etapa = response.data.cab_cant_documento.observacion_etapa;
                            console.log(documentoEtapa);
                            helper.habilitarBoton(_this);
                        }).catch(error => {
                            toastr['error'](error.response.data.message);
                            helper.habilitarBoton(_this);
                        }); 
                       
                    }
                    else{
                        helper.habilitarBoton(_this);
                    }
                });   
            }, 
            tabCambiado(tabIndex, newTab, oldTab){  
                this.etapa = newTab.id;  
                if(this.cantDocumento01.detalle.length < 1 ||  this.cantDocumento02.detalle.length < 1 || this.cantDocumento03.detalle.length < 1 || this.cantDocumento04.detalle.length < 1) 
                this.buscarCantidadDocumentos();
            },
            test_prueba(){
                console.log('0pruebas')
            },
            obtenerEstado(estado){               
                if(estado==1){
                    return '<span class="label label-success">Activo</span>';
                }
                if(estado==2){
                    return '<span class="label label-warning">Inactivo</span>'; 
                }                               
                return '<span class="label label-danger">Eliminado</span>';                
            },  
            soloDecimales($event){
                helper.soloDecimales($event);
            },
            soloNumeros($event){
                helper.soloNumeros($event);
            }, 
            funcGuardar(){
                if(this.etapa==1){
                    this.guardarInformacionFunc(this.cantDocumento01);
                }
                if(this.etapa==2){
                    this.guardarInformacionFunc(this.cantDocumento02);
                }
                if(this.etapa==3){
                    this.guardarInformacionFunc(this.cantDocumento03);
                }
                if(this.etapa==4){
                    this.guardarInformacionFunc(this.cantDocumento04);
                }
            },           
            guardarInformacionFunc(documentoEtapa){
                console.log("etapada "+this.etapa);
                let _this = this;
                helper.deshabilitarBoton(this);   
                if(documentoEtapa.detalle.length < 1) {
                    toastr['error']("Debe ingresar los detalles");
                    helper.habilitarBoton(_this);
                    return;
                } 
                if(documentoEtapa.id==0){
                    this.guardarEtapa(documentoEtapa);                        
                }   
                else{
                    this.modificarEtapa(documentoEtapa);
                }      
                
                Swal.fire({
                    title: 'La Información se guardó correctamente',
                    showClass: {
                        popup: 'animated fadeInDown faster'
                    },
                    hideClass: {
                        popup: 'animated fadeOutUp faster'
                    }
                })
                
/* 
                Swal.fire({
                    title: '¿Estás seguro que desea Guardar la Información?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Sí, Guardar',
                    cancelButtonText: 'No, cancelar',
                    reverseButtons: true
                    }).then((result) => {
                    if (result.value) {
                       if(this.cantDocumento.id==0){
                            this.guardarEtapa();                        
                        }   
                        else{
                            this.modificarEtapa();
                        }
                        this.etapa = newTab.id;
                        this.buscarCantidadDocumentos();
                    }else if (
                       
                        result.dismiss === Swal.DismissReason.cancel
                    ) {
                        helper.habilitarBoton(_this);
                        toastr['warning']('No guardó la información','Cuidado');
                    }
                }); */
                               
                     
            }, 
            guardarEtapa(documentoEtapa){
                let _this = this;      
                this.$validator.validateAll('form-etapa').then(result => {//validamos si es correcto
                    if (result) {                                
                        axios.post('api/cant_documentos/guardar',{                               
                            'persona_id' : _this.filtrosBusqueda.persona.id,
                            'sede_id' : _this.filtrosBusqueda.sede_distrital,
                            'operativo' : _this.filtrosBusqueda.operativo,
                            'fecha_registro' : _this.filtrosBusqueda.fecha,
                            'etapa' : _this.etapa,
                            'observacion_etapa' : documentoEtapa.observacion_etapa,
                            'detalle': documentoEtapa.detalle
                        })
                        .then(function(response){                    
                            toastr['success'](response.data.message);  
                            documentoEtapa.id =response.data.cant_documento_id;
                            _this.buscarCantidadDocumentos();
                            helper.habilitarBoton(_this); 
                        })
                        .catch(function (error){
                            
                            toastr['error'](error.response.data.message);    
                            helper.habilitarBoton(_this);                 
                        });
                    }
                    else{ helper.habilitarBoton(_this); }
                });
            },
            modificarEtapa(documentoEtapa){                      
                let _this = this;      
                this.$validator.validateAll('form-etapa').then(result => {//validamos si es correcto
                    if (result) {                                
                        axios.put('api/cant_documentos/actualizar/'+documentoEtapa.id,{   
                            'observacion_etapa' : documentoEtapa.observacion_etapa,
                            'detalle': documentoEtapa.detalle
                        })
                        .then(function(response){                    
                            toastr['success'](response.data.message);  
                            helper.habilitarBoton(_this); 
                        })
                        .catch(function (error){
                            toastr['error'](error.response.data.message);
                            helper.habilitarBoton(_this);
                        });
                    }
                    else{
                        helper.habilitarBoton(_this);
                    }
                });     
            }, 
                                 
            cerrarModal(){
                this.modal = 0;
                this.tituloModal = '';
                this.nombre = '';
                this.descripcion = '';
                this.errorMensaje = [];
                this.errorAlmacen = 0;
                this.limpiarAlmacen();
            },
            abrirModal(accion,titulo,data=[]){ 
                this.modal = 1;               
                this.tipoAccion = accion;
                this.tituloModal = titulo;                
                if(data.length!=0){
                    this.almacen.id = data['id'] ;               
                    this.almacen.nombre = data['nombre'];
                    this.almacen.descripcion = data['descripcion'];
                    this.almacen.direccion = data['direccion'];
                    this.almacen.estado = data['estado'];
                }                
            },
            exportarExcel(){
                return;
                if(this.data.length == 0){toastr['error']("No hay información para exportar");return;}
               // this.validarBusqueda();
                let url = helper.getFilterURL(this.filtrosBusqueda);
                let user = this.$store.getters.getAuthUser('email');
                let ruc = this.$store.getters.getAuthUser('ruc')
                //console.log( this.$store.getters.getAuthUser('email') + ' '+ this.$store.getters.getAuthUser('ruc'));
                location.href = 'exportar_excel_gastos?empresa=' + ruc + '&usuario=' + user +  url;
                
            },//fin methods
        },
        filters: {
          moment(date) {
            return helper.formatDate(date);
          }
        }
    }
</script>