.modal-content{
    width: 100% !important;
    position: absolute !important;
}
.mostrar{
    display: list-item !important;
    opacity: 1 !important;
    position: absolute !important;
    background-color: #3c29297a !important;

}
.div-error{
    display: flex;
    justify-content: center;
}
.text-error{
    color: red !important;
    font-weight:bold;
}
.v-select .highlight {
    margin: 0px;
    padding: 0px;
}
.v-select div{
    height: 40px !important;        
}

.v-select div{
    height: 40px !important;        
}

.vdp-datepicker .input-group {
    
    background-color: rgba(0, 0, 0, 0.11);   
    border-radius: 5px;    
}
.vdp-datepicker .input-group span {    
    margin-left: 2px;
    margin-right: 2px;
}
.campo_obligatorio{
    color: red;
}

.margen_adicional {
    margin-left: 5px;
}

.menus-espacio {
    border-bottom:1px solid #a6b7bf;
    margin-top:10px;
    margin-left:5px; 
    color:#a6b7bf;
}

.form-group {
    margin-bottom: 10px;
}

.el-table tr:first-child {	
	background-color: silver;
}

.el-table thead th{
    background-color: #0065A9;
	border-color: #0065A9;
	color:white;
	text-align: center !important;
	border: 1px solid #bbb;
}
.is-group{
	background-color: #0065A9;
	border-color: #0065A9;
}

.el-table td, .el-table th {
    padding: 1px 0px !important;
}

.el-table .cell {
    display: block;//verificar si trae problemas a otras cosas
    padding-left: 4px !important;
    padding-right: 4px !important;
    font-size: 12px !important;
}
.multiselect__tags {
    min-height: 20px !important;
	padding:0 !important;
}
.el-table thead.is-group th {
    background: #0065A9 !important;
}
.color{
	font-weight: bold !important ;
}
.btn-color{
    background: #0065A9;;
	border: 1px solid #0065A9;
	color: white;
}
.bg-color{
	background:#68AEF5 !important;
}
.color-cabecera{
	background-color: #0065A9;
	color: white;
}
.bgclor1{
	background:#D3D3D3 !important;
}
.total{
	width:46%;
	text-align: center;
	font-weight: 500 !important;
}
.total1{
	width:4%;
	text-align: center;  
	font-weight: 500 !important;
}
.total2{
	width:4%;
	text-align: center;
	font-weight: 500 !important;
}
.title {
    font-weight: 600 !important;
}

.anchotable{
	width:100%;
	color:black;
}
.num{
	width:2%;
	text-align: center;
	font-weight: 500 !important;
}
.docu{
	width:44%;
	text-align: center;
}
.docrev{
	width:4%;
	text-align: center;
}
.docobserv{
	width:4%;
}
.observ{
	width:46%;
}
a:hover {
	color: gold !important;
  }
