<template>
	<footer class="footer">
        Desarrollado por <a href="http://wmlab.in" target="_blank">INEI SEDE CERVANTES</a> | By <a href="http://wrappixel.com" target="_blank">LAVH</a>
    </footer>
</template>

<script>
    export default {
        mounted() {
        }
    }
</script>