<template>
	<div>
		<p class="text-center"><small>Desarrollado por <a href="http://wmlab.in" target="_blank"> SOFTSUPPORT </a> | By <a href="#" target="_blank">LAVH</a></small></p>
	</div>
</template>


<script>
    export default { }
</script