<template>
    <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-light" style="background-color:#0065A9;">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <b>
                        <img src="images/logo-icon.png" alt="home" class="dark-logo" />
                        <img src="images/logo-light-icon.png" alt="home" class="light-logo" />
                    </b>
                    <span>
                     <img src="images/logo-text.png" alt="home" class="dark-logo" />
                     <img src="images/logo-light-text.png" class="light-logo" alt="home" /></span> </a>
            </div>
            <div class="navbar-collapse contenedorExterior">
				<!-- <ul class="navbar-nav mr-auto mt-md-0 ">
                   <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="fa fa-bars"></i></a> </li>
                    <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="icon-arrow-left-circle"></i></a> </li> 
                </ul>  -->
				<div class="pull-right">
					<ul class="navbar-nav mr-auto mt-md-0 ">
                   <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="fa fa-bars"></i></a> </li>
                    <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="icon-arrow-left-circle"></i></a> </li> 
                </ul> 
				</div>	
            	<div class="contenedorInterior">
						<a>GESTIÓN DOCUMENTAL ECE-EM 2019</a> 
				</div>
                <ul class="navbar-nav my-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img :src="getAvatar" alt="user" class="profile-pic" style="font-size: 14px; font-weight: 400;" /> 
                           <label for="" v-text="getAuthUser('nombres')"></label>
                            <i class=" fa fa-angle-down"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <ul class="dropdown-user">
                                <li>
                                    <div class="dw-user-box">
                                        <div class="u-img"><img :src="getAvatar" alt="user"></div>
                                        <div class="u-text">
                                            <h4>{{getAuthUser('nombres')}}</h4>
                                            <p class="text-muted">{{getAuthUser('email')}}</p><router-link to="/profile" class="btn btn-rounded btn-danger btn-sm" style="display:none"></router-link></div>
                                    </div>
                                </li>
                                <li role="separator" class="divider"></li>
                                <!--<li><router-link to="/profile"><i class="fa fa-user" ></i> Mi Perfil</router-link></li>
                                <li role="separator" class="divider"></li>
                                <li><router-link to="/configuration"><i class="fa fa-cogs" ></i> Configuración</router-link></li>
                                <li role="separator" class="divider"></li>-->
                                <li><a href="#" @click.prevent="logout"><i class="fa fa-power-off"></i> Cerrar Sesión</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</template>

<script>

    import helper from '../services/helper'
    
    export default {
        mounted() {
        },
        methods : {
            logout(){
                helper.logout().then(() => {
                    this.$store.dispatch('resetAuthUserDetail');
                    this.$router.replace('/login');
                })
            },           
            getAuthUser(name){
                return this.$store.getters.getAuthUser(name)
            }
        },
        computed: {
            getAvatar(){
                //return 'images/users/'+this.getAuthUser('avatar');
                return 'images/users/log.jpg';
            }
        }
    }
</script>

<style scoped>
.titulo {
    color: #fff;
    font-family: Arial Narrow, sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
    padding-top: 4px;
    padding-left: 4.2em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
	text-overflow: ellipsis !important;
}

.contenedorExterior .contenedorInterior {
    vertical-align: middle;
    margin: 0 auto;
	text-align: center;
	color: #fff;
    font-family: Arial Narrow, sans-serif;
    font-weight: bold;
    font-size: 1.5vw;
    padding-top: 4px;
    padding-left: 4.2em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
	text-overflow: ellipsis !important;
}
</style>
