<template>
  <!-- <li class="node-tree">
    <span class="label">{{ node.label }}</span>

    <ul v-if="node.children && node.children.length">
      <node v-for="(child,index) in node.children" :node="child" :key="index"></node>
    </ul>
  </li> -->

  <li>
    <template v-if="node.nivel==0">
      <h5 class="hide-menu menus-espacio">{{node.titulo}}</h5>      
    </template>    
    <template v-else>
      <template v-if="node.hijos.length > 0">
        <a href="#" data-toggle="collapse" :data-target="'#mantenimiento' + node.id" ><i :class="node.icono"></i> <span class="hide-menu">{{node.titulo}}</span> </a>
      </template> 
      <template v-else>
        <router-link :to="node.link" exact ><i :class="node.icono"></i> <span class="hide-menu">{{node.titulo}}</span> </router-link>
      </template>
    </template> 
    
     
    <ul v-if="node.hijos && node.hijos.length" :class="collapse(node.nivel)" :id="'mantenimiento'+ node.id">
      <node v-for="(hijo,index) in node.hijos" :node="hijo" :key="index"></node>
    </ul>
  </li>  

</template>

<script>
export default {
  name: "node",
  props: {
    node: Object
  },
  methods:{
    collapse(nivel){
      if(nivel>0){
        return 'collapse';
      }
    },
  }
};
</script>