<template>
	<aside class="left-sidebar">
        <div class="scroll-sidebar">
            <!-- <div class="user-profile">
                <div class="profile-img"> <img :src="getAvatar" alt="user" /></div>
                <div class="profile-text"><a href="#" style="color: #4EB9D0"><b>{{getAuthUserFullName()}}</b><span class="caret"></span> ></a>
                    <! <div class="dropdown-menu">
                        <router-link to="/profile" class="dropdown-item"><i class="fa fa-user"></i> Mi perfil</router-link>
                        <div class="dropdown-divider"></div> <router-link to="/configuration" class="dropdown-item"><i class="fa fa-cogs"></i> Configuraciones</router-link>
                        <div class="dropdown-divider"></div> <a href="#" class="dropdown-item" @click.prevent="logout"><i class="fa fa-power-off"></i> Cerrar Sesión</a>
                    </div> 
                </div>
            </div> -->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">                   
                                      
                    <template v-for="(treeList,index) in menu" >
                        <list-menu :node="treeList" :key="index"></list-menu>
                    </template>   

             </ul>
     
            </nav>
        </div>
        
        <!--<div class="sidebar-footer">
            <router-link to="/configuration" class="link" data-toggle="tooltip" title="Configuraciones"><i class="fa fa-cogs" style="color:white"></i></router-link>
            <router-link to="/profile" class="link" data-toggle="tooltip" title="Mi Perfil"><i class="fa fa-user" style="color:white"></i></router-link>
            <a href="#" class="link" data-toggle="tooltip" title="Cerrar Sesión" @click.prevent="logout"><i class="fa fa-power-off" style="color:white"></i></a>
        </div>-->
    </aside>
</template>

<script>
    import listMenu from './listMenu.vue';
    import helper from '../services/helper'

    export default {
        components : {listMenu},
        data() {
            return {
                menu:[],
                
            }
        },
        mounted() {
            this.mostrarMenu();
        },
        methods : {
            mostrarMenu(){
                let _this = this;
                axios.get('api/menu/mostrar_sidebar').then(response =>  {     
                    _this.menu = response.data;
                }).catch(error => {
                    console.log(error);
                });
            },
            logout(){
                helper.logout().then(() => {
                    this.$store.dispatch('resetAuthUserDetail');
                    this.$router.replace('/login')
                })
            },
            getAuthUserFullName(){
                return this.$store.getters.getAuthUserFullName;
            },
            getAuthUser(name){
                return this.$store.getters.getAuthUser(name);
            }
        },
        computed: {
            getAvatar(){
                //return '/images/users/'+this.getAuthUser('avatar');
                return '/images/users/599ad12d61dcb.jpg';
            }
        }
    }
</script>
