<template>
	<div>
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">Menu</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><router-link to="/inicio">Inicio</router-link></li>
                    <li class="breadcrumb-item active">Menu</li>
                </ol>
            </div>
        </div>
     
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <button type="submit" @click="registrarMenu()" class="btn btn-info waves-effect waves-light m-t-10" style="float:right;">Registrar Nuevo Menu</button>
                        <h4 class="card-title">LISTA DE LOS MENUS DEL SISTEMA</h4>
    
                        <div class="row m-t-40">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Nombre</label>
                                    <input name="titulo" class="form-control" v-model="filtrosBusqueda.titulo" @blur="listarMenus" @keyup.enter="listarMenus">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Estado</label>
                                    <select name="estado" class="form-control" v-model="filtrosBusqueda.estado" @change="listarMenus">
                                        <option value="">Todos</option>
                                        <option value="1">Activos</option>
                                        <option value="2">Inactivos</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Ordenar por</label>
                                    <select name="ordenarPor" class="form-control" v-model="filtrosBusqueda.ordenarPor" @change="listarMenus">
                                        <option value="id">Identificador</option>
                                        <option value="titulo">Nombre</option>
                                        <option value="descripcion">Descripcion</option>
                                        <option value="created_at">Fecha registro</option>
                                        <option value="estado">Estado</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Orden</label>
                                    <select name="order" class="form-control" v-model="filtrosBusqueda.order" @change="listarMenus">
                                        <option value="asc">Ascendente</option>
                                        <option value="desc">Descendente</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <h4 class="card-title">Lista de los menus</h4>
                        <h6 class="card-subtitle" v-if="menus.total">Total {{menus.total}} registros encontrados</h6>
                        <h6 class="card-subtitle" v-else>¡No se encontraron registros!</h6>
                        <div class="table-responsive">
                            <table class="table" v-if="menus.total">
                                <thead>
                                    <tr>
                                        <th>Icono</th>
                                        <th>Título</th>
                                        <th>Link</th> 
                                        <th>Menú Padre</th>                                       
                                        <th>Estado</th>
                                        <th>Descripción</th>
                                        <th>F.Registro</th>
                                        <th style="width:180px;">Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="menu in menus.data" :key="menu.id" >
                                        <td v-html="mostrarIcono(menu.icono)"></td>                                     
                                        <td v-text="menu.titulo"></td>
                                        <td v-text="menu.link"></td>
                                        <td v-html="mostrarPadre(menu.padre)"></td> 
                                        <td v-html="obtenerEstado(menu)"></td>
                                        <td>{{ menu.descripcion }}</td>   
                                        <td v-text="menu.created_at"></td>
                                        <td>
                                            <button class="btn btn-info btn-sm" @click.prevent="editarMenu(menu)" data-toggle="tooltip" title="Editar menu"><i class="fa fa-pencil"></i></button>
                                            <button v-if="menu.estado==1" class="btn btn-danger btn-sm" @click.prevent="inactivarMenu(menu)" data-toggle="tooltip" title="Inactivar menu"><i class="fa fa-trash"></i></button>
                                            <button v-else class="btn btn-success btn-sm" @click.prevent="activarMenu(menu)" data-toggle="tooltip" title="Activar menu"><i class="fa fa-check"></i></button>
                                            
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="row">
                                <div class="col-md-8">
                                    <pagination :data="menus" :limit=3 v-on:pagination-change-page="listarMenus"></pagination>
                                </div>
                                <div class="col-md-4">
                                    <div class="float-right">
                                        <select name="pageLength" class="form-control" v-model="filtrosBusqueda.pageLength" @change="listarMenus" v-if="menus.total">
                                            <option value="5">5 por página</option>
                                            <option value="10">10 por pagina</option>
                                            <option value="25">25 por página</option>
                                            <option value="100">100 por página</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <!--Inicio del modal agregar/actualizar-->
            <div class="modal fade" tabindex="-1" :class="{'mostrar':modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-primary modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" v-text="tituloModal">Titulo</h4>
                            <button type="button" class="close"  @click="cerrarModal" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

                                <div class="form-group row">
                                    <label for="" class="col-md-4">Titulo del Menú</label>
                                    <div class="col-md-8">
                                        <input type="text" v-model="titulo" v-validate="'required'" data-vv-as="Título" name="titulo" class="form-control" placeholder="Titulo del Menú" > 
                                        <span style="color: red;">{{ errors.first('titulo') }}</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-md-4">Menú Padre</label>
                                    <div class="col-md-8">
                                       <!--  <multiselect 
                                        v-model="padre" 
                                        :options="selectMenus" 
                                        :multiple="false" 
                                        :close-on-select="true" 
                                        :clear-on-select="true" 
                                        :preserve-search="false"
                                        label="titulo" 
                                        track-by="id"                                       
                                        :preselect-first="true">
                                        </multiselect> -->
                                        <multiselect 
                                            v-model="padre" 
                                            placeholder="Seleccione un padre" 
                                            label="titulo" 
                                            track-by="id" 
                                            :options="selectMenus"                                          
                                            :preselect-first="true"            
                                            :show-labels="false">
                                                <template slot="singleLabel" slot-scope="props">
                                                    <span v-html="mostrarIcono(props.option.icono)">
                                                    </span>
                                                    <span >{{ props.option.titulo }}</span>
                                                </template>
                                                <template slot="option" slot-scope="props">                    
                                                    <div> <span v-html="mostrarIcono(props.option.icono)"></span>  <span>{{ props.option.titulo }}</span><span > --- {{ props.option.link }}</span></div>
                                                </template>
                                            </multiselect>

                                        
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-md-4">Ícono</label>
                                    <div class="col-md-8">
                                        <input type="text" v-model="icono" class="form-control" placeholder="Class Ícono del Menú " > 
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-md-4">Link</label>
                                    <div class="col-md-8">
                                        <input type="text" v-model="link"  v-validate="'required'" data-vv-as="Link" name="link" class="form-control" placeholder="Link de referencia" > 
                                        <span style="color: red;">{{ errors.first('link') }}</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-md-4">Orden</label>
                                    <div class="col-md-8">
                                        <input type="text" v-model="orden" class="form-control"  @keypress="soloNumeros" placeholder="Orden del Menú" > 
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-md-4">Descripción</label>
                                    <div class="col-md-8">
                                        <textarea v-model="descripcion" rows="5" class="form-control"></textarea>
                                        
                                    </div>
                                </div> 
                                <div class="form-group row">
                                    <label for="" class="col-md-4">Estado</label>
                                    <div class="col-md-8">
                                        <select class="form-control" v-model="estado">
                                            <option value="1">Activo</option>
                                            <option value="2">Inactivo</option>
                                            
                                        </select>
                                        
                                    </div>
                                </div> 
                            </form>
                        </div>
                        <div class="modal-footer">                            
                            <button type="button" class="btn btn-warning waves-effect waves-light m-t-10" @click="cerrarModal" >Cancelar</button>
                            <button type="button" class="btn btn-success waves-effect waves-light m-t-10" v-if="tipoAccion==1" @click="registrandoMenu"> Guardar</button>
                            <button type="button" class="btn btn-success waves-effect waves-light m-t-10" v-if="tipoAccion==2" @click="editandoMenu" > Actualizar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!--Fin del modal-->
            
  
    </div>
    
</template>

<script>

    import pagination from 'laravel-vue-pagination'
    import helper from '../../services/helper'
    import Multiselect from 'vue-multiselect';

    export default {
        components : { pagination,Multiselect },
        data() {
            return {
                id:'',
                padre:{},
                id_padre:'',
                titulo:'',
                icono:'',
                link:'',
                descripcion:'',
                orden:'',
                estado:1,
                error:0,
                modal:0,
                tituloModal:'',
                tipoAccion: 0,
                menus: {},
                selectMenus:[],
                filtrosBusqueda: {
                    ordenarPor : 'id',
                    order: 'asc',
                    estado: '',
                    titulo: '',
                    pageLength: 5
                },                  

            }
        },

        created() {            
            this.listarMenus();
            this.obtenerMenus();
        },

        methods: {          
            listarMenus(page) {
                let _this = this;
                if (typeof page === 'undefined') {
                    page = 1;
                }
                let url = helper.getFilterURL(this.filtrosBusqueda);
                axios.get('api/menu/listar?page=' + page + url).then(response => {
                    _this.menus = response.data;                  
                }).catch(error => {
                    toastr['error'](error);
                });
               
            },  
            obtenerMenus() {              
                axios.get('api/menu/select')
                    .then(response => this.selectMenus = response.data );
            }, 
            inactivarMenu(menu){
                axios.put('api/menu/inactivar/'+menu.id).then(response => {
                    toastr['success'](response.data.message);
                    this.listarMenus();
                }).catch(error => {
                    toastr['error'](error.response.data.message);
                });
            },
            activarMenu(menu){
                axios.put('api/menu/activar/'+menu.id).then(response => {
                    toastr['success'](response.data.message);
                    this.listarMenus();
                }).catch(error => {
                    toastr['error'](error.response.data.message);
                });
            },            
            obtenerEstado(menu){               
                if(menu.estado==1){
                    return '<span class="label label-success">Activo</span>';
                }
                if(menu.estado==2){
                    return '<span class="label label-danger">Inactivo</span>'; 
                }
                return '<span class="label label-danger">Eliminado</span>';
                                
            },              
            mostrarIcono(icono){
                return '<i class="' +icono +'"></i>';
            },
            mostrarPadre(padre){               
                if(padre!=null)
                    return '<span><i class="' +padre.icono +'"></i> ' + padre.titulo + '</span';
                return '<span class="text-light bg-dark">No tiene padre</span>'
            },
            registrarMenu(){
                this.abrirModal(1,'Registrar nuevo Menu');
            },
            editarMenu(data){
                this.abrirModal(2,'Editar nuevo Menu',data);
            },
            registrandoMenu(){
                let _this = this;
                this.$validator.validateAll().then(result => {//validamos si es correcto
                    if (result) { 
                        let padre = (_this.padre) ? _this.padre.id : ''; 
                        axios.post('api/menu/registrar',{
                            'id_padre': padre,
                            'titulo': _this.titulo,
                            'icono': _this.icono,
                            'link': _this.link,
                            'descripcion': _this.descripcion,
                            'orden': _this.orden,
                            'estado': _this.estado,
                        })
                        .then(function(response){                    
                            toastr['success'](response.data.message); 
                            _this.limpiarVariables();
                            _this.listarMenus();                   
                        })
                        .catch(function (error){
                            toastr['error'](error);                     
                        });
                       
                    }
                });                     

                  
            },
            editandoMenu(){
                let _this = this;
                this.$validator.validateAll().then(result => {//validamos si es correcto
                    if (result) {  
                        let padre = (_this.padre) ? _this.padre.id : '';
                        axios.put('api/menu/editar/'+_this.id,{                    
                            'id_padre': padre,
                            'titulo': _this.titulo,
                            'icono': _this.icono,
                            'link': _this.link,
                            'descripcion': _this.descripcion,
                            'orden': _this.orden,
                            'estado': _this.estado,
                        })
                        .then(function(response){                    
                            toastr['success'](response.data.message); 
                            _this.limpiarVariables();
                            _this.listarMenus();                   
                        })
                        .catch(function (error){
                            toastr['error'](error);                     
                        }); 
                    }
                });   
                     

                 
            },           
            limpiarVariables(){
                this.id = '';
                this.padre = {};
                this.titulo = '';
                this.icono = '';
                this.link = '';
                this.descripcion = '';
                this.orden = '';
                this.estado = 1;
                this.error = 0;
                this.modal = 0;
                this.tituloModal = '';
                this.tipoAccion = 0;
            },
            soloNumeros($event){
                helper.soloNumeros($event);
            },  
            cerrarModal(){
                this.limpiarVariables();
                this.errorMensaje = [];
                this.errorCategoria = 0
            },
            abrirModal(accion,titulo,data=[]){ 
                this.modal = 1;               
                this.tipoAccion = accion;
                this.tituloModal = titulo;                
                if(data.length!=0){                   
                    this.id = data['id'] ;
                    this.padre = data['padre'];                    
                    this.titulo = data['titulo'];
                    this.icono = data['icono'];
                    this.link = data['link'];
                    this.descripcion = data['descripcion'];
                    this.orden = data['orden'];
                    this.estado = data['estado'];
                    
                    
                }                
            },//fin methods
        },
        filters: {
          moment(date) {
            return helper.formatDate(date);
          }
        }
    }
</script>
