<template>
	<div>
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">Rol</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><router-link to="/inicio">Inicio</router-link></li>
                    <li class="breadcrumb-item active">Rol</li>
                </ol>
            </div>
        </div>
     
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <button type="submit" @click="registrarRol()" class="btn btncolor waves-effect waves-light m-t-10" style="float:right;">Registrar Nuevo Rol</button>
                        <h4 class="card-title">LISTA DE LOS ROLES</h4>
    
                        <div class="row m-t-40">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Nombre</label>
                                    <input name="nombre" class="form-control" v-model="filtrosBusqueda.nombre" @blur="listarRoles" @keyup.enter="listarRoles">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Estado</label>
                                    <select name="estado" class="form-control" v-model="filtrosBusqueda.estado" @change="listarRoles">
                                        <option value="">Todos</option>
                                        <option value="1">Activos</option>
                                        <option value="2">Inactivos</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Ordenar por</label>
                                    <select name="ordenarPor" class="form-control" v-model="filtrosBusqueda.ordenarPor" @change="listarRoles">
                                        <option value="nombre">Nombre</option>
                                        <option value="descripcion">Descripcion</option>
                                        <option value="created_at">Fecha registro</option>
                                        <option value="estado">Estado</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Orden</label>
                                    <select name="order" class="form-control" v-model="filtrosBusqueda.order" @change="listarRoles">
                                        <option value="asc">Ascendente</option>
                                        <option value="desc">Descendente</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <h4 class="card-title">Lista de los Roles del Sistema</h4>
                        <h6 class="card-subtitle" v-if="roles.total">Total {{roles.total}} registros encontrados</h6>
                        <h6 class="card-subtitle" v-else>¡No se encontraron registros!</h6>
                        <div class="table-responsive">
                            <table class="table" v-if="roles.total">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Descripción</th>
                                        <th>Estado</th>
                                        <th>F.Registro</th>
                                        <th style="width:180px;">Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="rol in roles.data" :key="rol.id" >
                                        <td v-text="rol.nombre"></td>
                                        <td>{{ rol.descripcion }}</td>                                      
                                        <td v-html="obtenerEstado(rol)"></td>
                                        <td v-text="rol.created_at"></td>
                                        <td>
                                            <button class="btn btn-info btn-sm" @click.prevent="editarRol(rol)" data-toggle="tooltip" title="Editar rol"><i class="fa fa-pencil"></i></button>
                                            <button v-if="rol.estado==1" class="btn btn-danger btn-sm" @click.prevent="inactivarRol(rol)" data-toggle="tooltip" title="Inactivar rol"><i class="fa fa-trash"></i></button>
                                            <button v-else class="btn btn-success btn-sm" @click.prevent="activarRol(rol)" data-toggle="tooltip" title="Activar rol"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-warning btn-sm" @click.prevent="asignarMenuRol(rol)" data-toggle="tooltip" title="Asignar Menus al Rol"><i class="fa fa-list-alt"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="row">
                                <div class="col-md-8">
                                    <pagination :data="roles" :limit=3 v-on:pagination-change-page="listarRoles"></pagination>
                                </div>
                                <div class="col-md-4">
                                    <div class="float-right">
                                        <select name="pageLength" class="form-control" v-model="filtrosBusqueda.pageLength" @change="listarRoles" v-if="roles.total">
                                            <option value="5">5 por página</option>
                                            <option value="10">10 por pagina</option>
                                            <option value="25">25 por página</option>
                                            <option value="100">100 por página</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <!--Inicio del modal agregar/actualizar-->
            <div class="modal fade" tabindex="-1" :class="{'mostrar':modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-primary modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" v-text="tituloModal">Titulo</h4>
                            <button type="button" class="close"  @click="cerrarModal" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                              
                                <div class="form-group row">
                                    <label for="" class="col-md-4">Nombre Rol</label>
                                    <div class="col-md-8">
                                        <input type="text" v-model="nombre" class="form-control" placeholder="Nombre" > 
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-md-4">Descripción</label>
                                    <div class="col-md-8">
                                        <textarea v-model="descripcion" rows="5" class="form-control"></textarea>
                                        
                                    </div>
                                </div> 
                                <div class="form-group row">
                                    <label for="" class="col-md-4">Estado</label>
                                    <div class="col-md-8">
                                        <select class="form-control" v-model="estado">
                                            <option value="1">Activo</option>
                                            <option value="2">Inactivo</option>
                                        </select>
                                        
                                    </div>
                                </div> 
                            </form>
                        </div>
                        <div class="modal-footer">                            
                            <button type="button" class="btn btn-warning waves-effect waves-light m-t-10" @click="cerrarModal" >Cancelar</button>
                            <button type="button" class="btn btn-success waves-effect waves-light m-t-10" v-if="tipoAccion==1" @click="registrandoRol"> Guardar</button>
                            <button type="button" class="btn btn-success waves-effect waves-light m-t-10" v-if="tipoAccion==2" @click="editandoRol" > Actualizar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!--Fin del modal-->

            <!--Inicio del modal agregar/actualizar MENU PRO ROL-->
            <div class="modal fade" tabindex="-1" :class="{'mostrar':modalMenuRol}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-primary modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" v-text="tituloModalMenuRol">Titulo</h4>
                            <button type="button" class="close"  @click="cerrarModalMenuRol" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal" data-vv-scope="form-usuario">
                                <h3 class="text-center">Rol: {{nombreRol}}</h3>
                                <hr>                                                                                              
                                <div class="form-group row">
                                    <label for="" class="col-md-3"> Menús <span class="campo_obligatorio"> * </span></label>
                                    <div class="col-md-9">
                                        <multiselect 
                                        v-model="menus" 
                                        :options="selectMenus" 
                                        :multiple="true" 
                                        placeholder="- Seleccione -"
                                        :close-on-select="false" 
                                        :clear-on-select="false" 
                                        :preserve-search="true"
                                        label="titulo" 
                                        track-by="id"                                       
                                        :preselect-first="true">
                                        </multiselect>
                                    </div>
                                </div>
                                <hr>                            
                                <h3 class="text-center">Menús Seleccionados</h3>
                                <div class="row ml-1">
                                    <div class="list-group col-md-12">
                                        <a href="#" class="list-group-item" v-for="menu in menus" :key="menu.id" ><i :class="menu.icono"></i> <span v-text="menu.titulo + ' - ' + menu.link"></span></a>                                       
                                    </div>
                                </div> 
                                
                            </form>
                        </div>
                        <div class="modal-footer">                            
                            <button type="button" class="btn btn-warning waves-effect waves-light m-t-10" @click="cerrarModalMenuRol" >Cancelar</button>
                            <button type="button" class="btn btn-success waves-effect waves-light m-t-10" @click="registrandoMenuRol"> Guardar</button>                            
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!--Fin del modal-->
    </div>
    
</template>

<script>

    import pagination from 'laravel-vue-pagination'
    import helper from '../../services/helper'
    import Multiselect from 'vue-multiselect';

    export default {
        components : { pagination,Multiselect },
        data() {
            return {
                id:'',
                nombre: '',
                descripcion: '',
                estado: 1, 
                error:0,
                modal:0,
                tituloModal:'',
                tipoAccion: 0,
                roles: {},
                filtrosBusqueda: {
                    ordenarPor : 'created_at',
                    order: 'desc',
                    estado: '',
                    nombre: '',
                    pageLength: 5
                },  
                menus:{},
                modalMenuRol:0,
                tituloModalMenuRol:'',
                nombreRol:'',
                selectMenus:[],             

            }
        },

        created() {           
            this.obtenerMenus(); 
            this.listarRoles();
        },

        methods: {
            listarRoles(page) {
                if (typeof page === 'undefined') {
                    page = 1;
                }
                let url = helper.getFilterURL(this.filtrosBusqueda);
                axios.get('api/rol/listar?page=' + page + url)
                    .then(response => this.roles = response.data );
            }, 
            obtenerMenus() {              
                axios.get('api/menu/select')
                    .then(response => this.selectMenus = response.data );
            },            
            inactivarRol(rol){
                axios.put('api/rol/inactivar/'+rol.id).then(response => {
                    toastr['success'](response.data.message);
                    this.listarRoles();
                }).catch(error => {
                    toastr['error'](error.response.data.message);
                });
            },
            activarRol(rol){
                axios.put('api/rol/activar/'+rol.id).then(response => {
                    toastr['success'](response.data.message);
                    this.listarRoles();
                }).catch(error => {
                    toastr['error'](error.response.data.message);
                });
            },            
            obtenerEstado(rol){               
                if(rol.estado==1){
                    return '<span class="label label-success">Activo</span>';
                }
                if(rol.estado==2){
                    return '<span class="label label-danger">Inactivo</span>'; 
                }
                return '<span class="label label-danger">Eliminado</span>';
                                
            },            
            registrarRol(){
                this.abrirModal(1,'Registrar nuevo Rol');
            },
            editarRol(data){
                this.abrirModal(2,'Editar nuevo Rol',data);
            },
            registrandoRol(){
                if(this.validarInformacion()){
                    return;
                }    
                let _this = this;                     

                axios.post('api/rol/registrar',{
                    'nombre': _this.nombre,
                    'descripcion': _this.descripcion,                    
                    'estado': _this.estado, 
                })
                .then(function(response){                    
                    toastr['success'](response.data.message); 
                    _this.limpiarVariables();
                    _this.listarRoles();                   
                })
                .catch(function (error){
                    toastr['error'](error);                     
                });  
            },
            editandoRol(){
                if(this.validarInformacion()){
                    return;
                }    
                let _this = this;                     

                axios.put('api/rol/editar/'+_this.id,{
                    'nombre': _this.nombre,
                    'descripcion': _this.descripcion,                    
                    'estado': _this.estado, 
                })
                .then(function(response){                    
                    toastr['success'](response.data.message); 
                    _this.limpiarVariables();
                    _this.listarRoles();                   
                })
                .catch(function (error){
                    toastr['error'](error);                     
                });  
            },
            asignarMenuRol(rol){
                let _this = this;
                if(rol.id==1){
                    toastr['error']('El administrador tiene asignado todos los menús');
                    return;
                }

                axios.get('api/menu/menu_x_rol/'+rol.id).then(response => {                   
                    _this.menus = response.data;
                    _this.modalMenuRol = 1;                 
                    _this.tituloModalMenuRol = 'Asignar Menús a los Roles';
                    _this.id_rol = rol.id;
                    _this.nombreRol = rol.nombre;
                    console.log("paso por aqio");
                    //this.listarUsuarios();
                }).catch(error => {
                    toastr['error'](error.response.data.message);
                });
            },
            registrandoMenuRol(){             

                let _this = this;   
                //if(_this.areas.length ==0) return _this.cerrarModalAreaUsuario();                
               
                axios.put('api/rol/registrar_menus/'+_this.id_rol,{                                                               
                    'menus': _this.menus                   
                })
                .then(function(response){                    
                    toastr['success'](response.data.message); 
                    _this.cerrarModalMenuRol();                   
                    _this.listarRoles();                   
                })
                .catch(function (error){
                    toastr['error'](error);                     
                });
                
                
            },
            validarInformacion(){
                this.error=0;               
                if(!this.nombre){
                   toastr['error']('El campo Nombre deL Rol esta vacío');
                   this.error=1; 
                }                
                return this.error;
            },
            limpiarVariables(){
                this.id = '';
                this.nombre = '';
                this.descripcion = '';
                this.estado = 1;   
                this.error = 0;
                this.modal = 0;
                this.tituloModal = '';
                this.tipoAccion = 0;
            },
            cerrarModal(){
                this.modal = 0;
                this.tituloModal = '';
                this.nombre = '';
                this.descripcion = '';
                this.errorMensaje = [];
                this.errorCategoria = 0
            },
            abrirModal(accion,titulo,data=[]){ 
                this.modal = 1;               
                this.tipoAccion = accion;
                this.tituloModal = titulo;                
                if(data.length!=0){
                    console.log("entr");
                    this.id = data['id'] ;
                    this.nombre = data['nombre'];
                    this.descripcion = data['descripcion'];
                    this.estado = data['estado'];
                }                
            },//fin methods
            cerrarModalMenuRol(){               
                this.modalMenuRol = 0;     
                this.menus = [];               
            },//fin methods
        },
        filters: {
          moment(date) {
            return helper.formatDate(date);
          }
        }
    }
</script>
<style scoped>

.btncolor  {
	font-size: 12px;
	background-color: #0065A9;
	border-color: #0065A9;
	color: white;
}

</style>