<template>
	<div>
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">Sede</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><router-link to="/inicio">Inicio</router-link></li>
                    <li class="breadcrumb-item active">Sede</li>
                </ol>
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Agregar nueva Sede</h4>
                        <button type="submit" @click="registrarSede()" class="btn btn-info waves-effect waves-light m-t-10" style="float:right;">
                                    <span v-if="id">Update</span>
                                    <span v-else>Save</span>
                        </button>
                        
                    </div>
                </div>
            </div>
        </div> -->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <button type="submit" @click="registrarSede()" class="btn btn-info waves-effect waves-light m-t-10" style="float:right;">Registrar Nueva Sede</button>
                        <h4 class="card-title">LISTA DE LAS SEDES</h4>
    
                        <div class="row m-t-40">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Nombre</label>
                                    <input name="nombre" class="form-control" v-model="filtrosBusqueda.nombre" @blur="listarSedes" @keyup.enter="listarSedes">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Estado</label>
                                    <select name="estado" class="form-control" v-model="filtrosBusqueda.estado" @change="listarSedes">
                                        <option value="">Todos</option>
                                        <option value="1">Activos</option>
                                        <option value="2">Inactivos</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Ordenar por</label>
                                    <select name="ordenarPor" class="form-control" v-model="filtrosBusqueda.ordenarPor" @change="listarSedes">
                                        <option value="nombre">Nombre</option>
                                        <option value="descripcion">Descripcion</option>
                                        <option value="created_at">Fecha registro</option>
                                        <option value="estado">Estado</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Orden</label>
                                    <select name="order" class="form-control" v-model="filtrosBusqueda.order" @change="listarSedes">
                                        <option value="asc">Ascendente</option>
                                        <option value="desc">Descendente</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <h4 class="card-title">Lista de las Sedes</h4>
                        <h6 class="card-subtitle" v-if="sedes.total">Total {{sedes.total}} registros encontrados</h6>
                        <h6 class="card-subtitle" v-else>¡No se encontraron registros!</h6>
                        <div class="table-responsive">
                            <table class="table" v-if="sedes.total">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Descripción</th>
                                        <th>Estado</th>
                                        <th>F.Registro</th>
                                        <th style="width:180px;">Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="sede in sedes.data" :key="sede.id" >
                                        <td v-text="sede.nombre"></td>
                                        <td>{{ sede.descripcion }}</td>                                      
                                        <td v-html="obtenerEstado(sede)"></td>
                                        <td v-text="sede.created_at"></td>
                                        <td>
                                            <button class="btn btn-info btn-sm" @click.prevent="editarSede(sede)" data-toggle="tooltip" title="Editar sede"><i class="fa fa-pencil"></i></button>
                                            <button v-if="sede.estado==1" class="btn btn-danger btn-sm" @click.prevent="inactivarSede(sede)" data-toggle="tooltip" title="Inactivar sede"><i class="fa fa-trash"></i></button>
                                            <button v-else class="btn btn-success btn-sm" @click.prevent="activarSede(sede)" data-toggle="tooltip" title="Activar sede"><i class="fa fa-check"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="row">
                                <div class="col-md-8">
                                    <pagination :data="sedes" :limit=3 v-on:pagination-change-page="listarSedes"></pagination>
                                </div>
                                <div class="col-md-4">
                                    <div class="float-right">
                                        <select name="pageLength" class="form-control" v-model="filtrosBusqueda.pageLength" @change="listarSedes" v-if="sedes.total">
                                            <option value="5">5 por página</option>
                                            <option value="10">10 por pagina</option>
                                            <option value="25">25 por página</option>
                                            <option value="100">100 por página</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <!--Inicio del modal agregar/actualizar-->
            <div class="modal fade" tabindex="-1" :class="{'mostrar':modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-primary modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" v-text="tituloModal">Titulo</h4>
                            <button type="button" class="close"  @click="cerrarModal" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                              
                                <div class="form-group row">
                                    <label for="" class="col-md-4">Nombre Sede</label>
                                    <div class="col-md-8">
                                        <input type="text" v-model="nombre" class="form-control" placeholder="Nombre" > 
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-md-4">Descripción</label>
                                    <div class="col-md-8">
                                        <textarea v-model="descripcion" rows="5" class="form-control"></textarea>
                                        
                                    </div>
                                </div> 
                                <div class="form-group row">
                                    <label for="" class="col-md-4">Estado</label>
                                    <div class="col-md-8">
                                        <select class="form-control" v-model="estado">
                                            <option value="1">Activo</option>
                                            <option value="2">Inactivo</option>
                                        </select>
                                        
                                    </div>
                                </div> 
                            </form>
                        </div>
                        <div class="modal-footer">                            
                            <button type="button" class="btn btn-warning waves-effect waves-light m-t-10" @click="cerrarModal" >Cancelar</button>
                            <button type="button" class="btn btn-success waves-effect waves-light m-t-10" v-if="tipoAccion==1" @click="registrandoSede"> Guardar</button>
                            <button type="button" class="btn btn-success waves-effect waves-light m-t-10" v-if="tipoAccion==2" @click="editandoSede" > Actualizar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!--Fin del modal-->
    </div>
    
</template>

<script>

    import pagination from 'laravel-vue-pagination'
    import helper from '../../services/helper'
    

    export default {
        components : { pagination },
        data() {
            return {
                id:'',
                nombre: '',
                descripcion: '',
                estado: 1, 
                error:0,
                modal:0,
                tituloModal:'',
                tipoAccion: 0,
                sedes: {},
                filtrosBusqueda: {
                    ordenarPor : 'created_at',
                    order: 'desc',
                    estado: '',
                    nombre: '',
                    pageLength: 5
                },               

            }
        },

        created() {
            this.listarSedes();
        },

        methods: {
            listarSedes(page) {
                if (typeof page === 'undefined') {
                    page = 1;
                }
                let url = helper.getFilterURL(this.filtrosBusqueda);
                axios.get('/api/sede/listar?page=' + page + url)
                    .then(response => this.sedes = response.data );
            },            
            inactivarSede(sede){
                axios.put('/api/sede/inactivar/'+sede.id).then(response => {
                    toastr['success'](response.data.message);
                    this.listarSedes();
                }).catch(error => {
                    toastr['error'](error.response.data.message);
                });
            },
            activarSede(sede){
                axios.put('/api/sede/activar/'+sede.id).then(response => {
                    toastr['success'](response.data.message);
                    this.listarSedes();
                }).catch(error => {
                    toastr['error'](error.response.data.message);
                });
            },            
            obtenerEstado(sede){               
                if(sede.estado==1){
                    return '<span class="label label-success">Activo</span>';
                }
                if(sede.estado==2){
                    return '<span class="label label-warning">Inactivo</span>'; 
                }
                return '<span class="label label-danger">Eliminado</span>';
                                
            },            
            registrarSede(){
                this.abrirModal(1,'Registrar nueva Sede');
            },
            editarSede(data){
                this.abrirModal(2,'Editar nueva Sede',data);
            },
            registrandoSede(){
                if(this.validarInformacion()){
                    return;
                }    
                let _this = this;                     

                axios.post('/api/sede/registrar',{
                    'nombre': _this.nombre,
                    'descripcion': _this.descripcion,                    
                    'estado': _this.estado, 
                })
                .then(function(response){                    
                    toastr['success'](response.data.message); 
                    _this.limpiarVariables();
                    _this.listarSedes();                   
                })
                .catch(function (error){
                    toastr['error'](error);                     
                });  
            },
            editandoSede(){
                if(this.validarInformacion()){
                    return;
                }    
                let _this = this;                     

                axios.put('/api/sede/editar/'+_this.id,{
                    'nombre': _this.nombre,
                    'descripcion': _this.descripcion,                    
                    'estado': _this.estado, 
                })
                .then(function(response){                    
                    toastr['success'](response.data.message); 
                    _this.limpiarVariables();
                    _this.listarSedes();                   
                })
                .catch(function (error){
                    toastr['error'](error);                     
                });  
            },
            validarInformacion(){
                this.error=0;               
                if(!this.nombre){
                   toastr['error']('El campo Nombre de la Sede esta vacío');
                   this.error=1; 
                }                
                return this.error;
            },
            limpiarVariables(){
                this.id = '';
                this.nombre = '';
                this.descripcion = '';
                this.estado = 1;   
                this.error = 0;
                this.modal = 0;
                this.tituloModal = '';
                this.tipoAccion = 0;
            },
            cerrarModal(){
                this.modal = 0;
                this.tituloModal = '';
                this.nombre = '';
                this.descripcion = '';
                this.errorMensaje = [];
                this.errorCategoria = 0
            },
            abrirModal(accion,titulo,data=[]){ 
                this.modal = 1;               
                this.tipoAccion = accion;
                this.tituloModal = titulo;                
                if(data.length!=0){
                    console.log("entr");
                    this.id = data['id'] ;
                    this.nombre = data['nombre'];
                    this.descripcion = data['descripcion'];
                    this.estado = data['estado'];
                }                
            },//fin methods
        },
        filters: {
          moment(date) {
            return helper.formatDate(date);
          }
        }
    }
</script>
<style>
    .modal-content{
        width: 100% !important;
        position: absolute !important;
    }
    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: absolute !important;
        background-color: #3c29297a !important;

    }
    .div-error{
        display: flex;
        justify-content: center;
    }
    .text-error{
        color: red !important;
        font-weight:bold;
    }
    
</style>
