<template>
	<div>
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">Usuario</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><router-link to="/inicio">Inicio</router-link></li>
                    <li class="breadcrumb-item active">Usuario</li>
                </ol>
            </div>
        </div>
     

        <div class="row">
            <div class="col-lg-12">
                <div class="card"> 
                    <div class="card-body">
                        <button type="submit" @click="registrarUsuario()" class="btn btncolor waves-effect waves-light m-t-10" style="float:right;">Registrar Nueva Usuario</button>
                        <h4 class="card-title">LISTA DE LOS USUARIOS</h4>

                        <div class="row m-t-40">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Filtros</label>
                                    <input name="nombre" class="form-control form-control-sm" v-model="filtrosBusqueda.nombres" @blur="listarUsuarios" @keyup.enter="listarUsuarios">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="">Estado</label>
                                    <select name="estado" class="form-control form-control-sm" v-model="filtrosBusqueda.estado" @change="listarUsuarios">
                                        <option value="">Todos</option>
                                        <option value="1">Activos</option>
                                        <option value="2">Inactivos</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="">Ordenar por</label>
                                    <select name="ordenarPor" class="form-control form-control-sm" v-model="filtrosBusqueda.ordenarPor" @change="listarUsuarios">
                                        <option value="id">Identificador</option>
                                        <option value="email">Usuario</option>
                                        <option value="cargo">Cargo</option>
                                        <option value="id_rol">Rol</option>
                                        <option value="estado">Estado</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="">Orden</label>
                                    <select name="order" class="form-control form-control-sm" v-model="filtrosBusqueda.order" @change="listarUsuarios">
                                        <option value="asc">Ascendente</option>
                                        <option value="desc">Descendente</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                
                        <h4 class="card-title">Lista de las Usuarios</h4>
                        <h6 class="card-subtitle" v-if="usuarios.total">Total {{usuarios.total}} registros encontrados</h6>
                        <h6 class="card-subtitle" v-else>¡No se encontraron registros!</h6>
                        <div class="table-responsive">
                            <table class="table" v-if="usuarios.total">
                                <thead>
                                    <tr>
                                       
                                        <th>Usuario</th>
                                        <th>Nombres</th>
                                        <th>Cargo</th>
                                        <th>Rol</th>
                                        <th>Estado</th>
                                        <th>F.Registro</th>
                                        <th style="width:180px;">Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="usuario in usuarios.data" :key="usuario.id" >
                                        <td v-text="usuario.email"></td>
                                        <td v-text="usuario.nombres"></td>                                      
                                        <td v-text="usuario.cargo"></td>   
                                        <td v-text="usuario.rol.nombre"></td>                                       
                                        <td v-html="obtenerEstado(usuario)"></td>
                                        <td v-text="usuario.created_at"></td>
                                        <td>
                                            <button class="btn btn-info btn-sm" @click.prevent="editarUsuario(usuario)" data-toggle="tooltip" title="Editar usuario"><i class="fa fa-pencil"></i></button>
                                            <button v-if="usuario.estado==1" class="btn btn-danger btn-sm" @click.prevent="inactivarUsuario(usuario)" data-toggle="tooltip" title="Inactivar usuario"><i class="fa fa-trash"></i></button>
                                            <button v-else class="btn btn-success btn-sm" @click.prevent="activarUsuario(usuario)" data-toggle="tooltip" title="Activar usuario"><i class="fa fa-check"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="row">
                                <div class="col-md-8">
                                    <pagination :data="usuarios" :limit=3 v-on:pagination-change-page="listarUsuarios"></pagination>
                                </div>
                                <div class="col-md-4">
                                    <div class="float-right">
                                        <select name="pageLength" class="form-control" v-model="filtrosBusqueda.pageLength" @change="listarUsuarios" v-if="usuarios.total">
                                            <option value="5">5 por página</option>
                                            <option value="10">10 por pagina</option>
                                            <option value="25">25 por página</option>
                                            <option value="100">100 por página</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <!--Inicio del modal agregar/actualizar-->
            <div class="modal fade" tabindex="-1" :class="{'mostrar':modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none; overflow-y: auto;" aria-hidden="true">
                <div class="modal-dialog modal-primary modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" v-text="tituloModal">Titulo</h4>
                            <button type="button" class="close"  @click="cerrarModal" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal" data-vv-scope="form-usuario">
                                <h3 class="text-center">Datos Personales</h3>

                                <div class="form-group row">
                                    <label for="" class="col-md-4">Nombres</label>
                                    <div class="col-md-8">
                                        <input type="text" v-model="nombres" class="form-control" placeholder="Nombre" v-validate="'required'" data-vv-as="Nombres" name="nombres">
                                        <span style="color: red;">{{ errors.first('form-usuario.nombres') }}</span> 
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-md-4">Cargo</label>
                                    <div class="col-md-8">
                                        <input type="text" v-model="cargo" class="form-control" placeholder="Cargo" v-validate="'required'" data-vv-as="cargo" name="cargo">
                                        <span style="color: red;">{{ errors.first('form-usuario.cargo') }}</span> 
                                    </div>
                                </div>
                                                              
                                <h3 class="text-center">Datos de acceso</h3><hr>
                                <div class="form-group row">
                                    <label for="" class="col-md-4">Seleccione el ROL</label>
                                    <div class="col-md-8">
                                        <select class="form-control" v-model="referencia_rol">
                                            <option>Seleccione</option>
                                            <option v-for="rol in selectRoles" :key="rol.id" v-text="rol.nombre" :value="rol.id" v-validate="'required'" data-vv-as="Rol" name="rol">
                                            
                                            </option>                                          
                                        </select> 
                                        <span style="color: red;">{{ errors.first('form-usuario.rol') }}</span> 
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-md-4">Usuario</label>
                                    <div class="col-md-8"> 
                                        <input type="text" v-model="email" class="form-control" placeholder="Usuario" v-validate="'required'" data-vv-as="Email" name="email">
                                        <span style="color: red;">{{ errors.first('form-usuario.email') }}</span> 
                                    </div>
                                </div>

                                <div class="form-group row" v-if="tipoAccion==1">
                                    <label for="" class="col-md-4">Ingrese Contraseña</label>
                                    <div class="col-md-8">
                                        <input type="text" v-model="password" class="form-control" placeholder="Contraseña" v-validate="'required|min:6'" data-vv-as="Contraseña" name="password">
                                        <span style="color: red;">{{ errors.first('form-usuario.password') }}</span> 
                                    </div>
                                </div> 

                                <div class="form-group row" v-else>
                                    <label for="" class="col-md-4">Modificar Contraseña <input type="checkbox" v-model="modificarPassword"> </label>
                                    <div class="col-md-8">
                                        <input type="text" v-model="password" class="form-control" placeholder="Contraseña" v-validate="'required|min:6'" data-vv-as="Contraseña" name="password" :disabled="modificarPassword">
                                        <span style="color: red;">{{ errors.first('form-usuario.password') }}</span> 
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="modal-footer">                            
                            <button type="button" class="btn btn-warning waves-effect waves-light m-t-10" @click="cerrarModal" >Cancelar</button>
                            <button type="button" class="btn btn-success waves-effect waves-light m-t-10" v-if="tipoAccion==1" @click="registrandoUsuario"> Guardar</button>
                            <button type="button" class="btn btn-success waves-effect waves-light m-t-10" v-if="tipoAccion==2" @click="editandoUsuario" > Actualizar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!--Fin del modal-->
    </div>
    
</template>

<script>

    import pagination from 'laravel-vue-pagination'
    import helper from '../../services/helper'
    import Multiselect from 'vue-multiselect'

    export default {
        components : { pagination,Multiselect},
        data() {
            return {
                parametros: this.$route.params.parametros,
                id:'',
                nombres: '',
                cargo: '',
                email:'',
                modificarPassword:true,
                password:'',
                estado:1,
                modal:0,
                tituloModal:'',
                tipoAccion: 0,
                usuarios: {},
                filtrosBusqueda: {
                    ordenarPor : 'created_at',
                    order: 'desc',
                    estado: '',
                    nombre: '',
                    pageLength: 5
                }, 
                referencia_rol:2,
                selectRoles:{},
                tiposDocumento:[{'id':1,'valor':"DNI"},{'id':2,'valor':"RUC"},{'id':3,'valor':"Pasaporte"},{'id':4,'valor':"Otros"}],
            }
        },//fin data
        created() {
            this.obtenerParametros();          
            this.obtenerRoles();
        },//fin created
        methods: {
            obtenerParametros(){  
                if(this.parametros != undefined){            
                    var parametro = atob(this.parametros.replace(/zzz/g,"="));              
                    var splitParametro = parametro.split('-'); //exgtraemos todos
                } 
                else {
                }
                this.listarUsuarios();   
            },
            listarUsuarios(page) {
                if (typeof page === 'undefined') {
                    page = 1;
                }
                let url = helper.getFilterURL(this.filtrosBusqueda);
                axios.get('/api/usuario/listar?page=' + page + url)
                    .then(response => this.usuarios = response.data );
            },
            /*llenarSelectEmpresas(){
                axios.get('/api/empresa/select')
                    .then(response => this.selectEmpresas = response.data );  
            },*/             
            inactivarUsuario(usuario){
                axios.put('/api/usuario/inactivar/'+usuario.id).then(response => {
                    toastr['success'](response.data.message);
                    this.listarUsuarios();
                }).catch(error => {
                    toastr['error'](error.response.data.message);
                });
            },
            activarUsuario(usuario){
                axios.put('/api/usuario/activar/'+usuario.id).then(response => {
                    toastr['success'](response.data.message);
                    this.listarUsuarios();
                }).catch(error => {
                    toastr['error'](error.response.data.message);
                });
            },            
            obtenerEstado(usuario){               
                if(usuario.estado==1){
                    return '<span class="label label-success">Activo</span>';
                }
                if(usuario.estado==2){
                    return '<span class="label label-danger">Inactivo</span>'; 
                }
                return '<span class="label label-danger">Eliminado</span>';
                                
            },            
            registrarUsuario(){
                this.abrirModal(1,'Registrar nuevo Usuario');
            },
            editarUsuario(data){
                this.abrirModal(2,'Editar Usuario',data);
            },
            registrandoUsuario(){
                
                let _this = this;                     

                this.$validator.validateAll('form-usuario').then(result => {//validamos si es correcto
                    if (result) {  
                        axios.post('/api/usuario/registrar',{
                            'nombres': _this.nombres,
                            'cargo': _this.cargo,
                            'email': _this.email,
                            'password': _this.password,
                            'estado': _this.estado, 
                            'id_rol': _this.referencia_rol, 
                        })
                        .then(function(response){                    
                            toastr['success'](response.data.message); 
                            _this.cerrarModal();
                            _this.listarUsuarios();                   
                        })
                        .catch(function (error){
                            toastr['error'](error.response.data.message);                     
                        });
                    }
                });                
              
            },
            editandoUsuario(){
                if(this.validarInformacion()){
                    return;
                }    
                let _this = this;                     

                axios.put('/api/usuario/editar/'+_this.id,{
                    'nombres': _this.nombres,
                    'cargo': _this.cargo,
                    'email': _this.email,
                    'usuario': _this.usuario,
                    'password': _this.password,
                    'estado': _this.estado,
                    'id_rol': _this.referencia_rol,
                  
                })
                .then(function(response){                    
                    toastr['success'](response.data.message); 
                    _this.cerrarModal();
                    _this.listarUsuarios();                   
                })
                .catch(function (error){
                    toastr['error'](error);                     
                });  
            },
            validarInformacion(){
                this.error=0;               
                if(!this.nombres){
                   toastr['error']('El campo Nombres esta vacío');
                   this.error=1; 
                } 
                if(!this.referencia_rol){
                   toastr['error']('El tipo de Rol no está seleccionado');
                   this.error=1; 
                } 
                if(!this.email){
                   toastr['error']('El campo Email está vacío');
                   this.error=1; 
                }     
                if(this.tipoAccion==1){
                    if(!this.password){
                        toastr['error']('El campo Contraseña de Usuario está vacío');
                        this.error=1; 
                    } 
                }
                        
                return this.error;
            },
            obtenerRoles(){ 
                axios.get('/api/rol/select')
                    .then(response => this.selectRoles = response.data );  
            },
            limpiarVariables(){
                this.id = '';
                this.nombres =  '';
                this.cargo =  '';
                this.email = '';
                this.password = '';
                this.estado = 1;
                this.$validator.reset();
            },
            cerrarModal(){
                this.modal = 0;
                this.tituloModal = '';
                this.limpiarVariables();
                this.errorCategoria = 0;
            },
            abrirModal(accion,titulo,data=[]){ 
                this.modal = 1;               
                this.tipoAccion = accion;
                this.tituloModal = titulo;                
                if(data.length!=0){
                    this.id = data['id'] ;
                    this.nombres = data['nombres'];
                    this.cargo = data['cargo'];
                    this.email = data['email'];
                    this.password = data['password'];
                    this.estado = data['estado'];
                    this.referencia_rol = data['id_rol'];
                }                
            },//fin methods
        },
        filters: {
          moment(date) {
            return helper.formatDate(date);
          }
        }
    }
</script>
<style>
    .modal-content{
        width: 100% !important;
        position: absolute !important;
    }
    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: absolute !important;
        background-color: #3c29297a !important;

    }
    .div-error{
        display: flex;
        justify-content: center;
    }
    .text-error{
        color: red !important;
        font-weight:bold;
    }
    
</style>
<style scoped>
.btncolor  {
	font-size: 12px;
	background-color: #0065A9;
	border-color: #0065A9;
	color: white;
}
</style>
