<template>
    <section id="wrapper">
        <div class="login-register" style="">
          <!-- <div class="login-register" style="background-image:url(/images/background/background.jpg);"> -->
            <div class="login-box card">
            <div class="card-body">
                <form class="form-horizontal form-material" id="form-consulta"  data-vv-scope="form-consulta" @submit.prevent="submit">
                    <!--<h3 class="box-title m-b-20 text-center">Inicio de Sesión</h3>-->
                    <div class="u-img text-center" style="padding:15px;"><img src="images/logo.png" alt="user" style="width: 150px;"></div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <h3><u>CONSULTA DE COMPROBANTE</u></h3>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <!-- <label for="tipo_documento">Tipo de Documento</label> -->
                            <select class="form-control" v-model="consultaCPE.tipo_documento" v-validate="'required'" data-vv-as="Tipo de Comprobante" name="tipo_documento">
                                <option value="">Seleccione el Tipo de comprobante</option>
                                <option v-for="fila in selectTiposComprobante" :key="fila.id" :value="fila.id" v-text="fila.description">
                                    
                                </option>                                            
                            </select>
                            <span style="color: red;">{{ errors.first('form-consulta.tipo_documento') }}</span> 
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12 row">
                            <div class="col-md-4">
                                <input type="text" name="serie_documento" class="form-control" placeholder="Serie" v-mask="'NNNN'" v-model="consultaCPE.serie_documento" v-validate="'required'" data-vv-as="Serie"> 
                                <span style="color: red;">{{ errors.first('form-consulta.serie_documento') }}</span>
                            </div>
                            -
                            <div class="col-md-7">
                                <input type="text" name="numero_documento" class="form-control" placeholder="Correlativo"  v-mask="'########'" v-model="consultaCPE.numero_documento" v-validate="'required'" data-vv-as="Correlativo"> 
                                <span style="color: red;">{{ errors.first('form-consulta.numero_documento') }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" name="fec_emision" class="form-control" @keypress="soloFecha" placeholder="Fecha Emisión (dd-mm-yyyy)" v-mask="'##-##-####'" v-model="consultaCPE.fecha_de_emision" v-validate="'required|date_format:DD-MM-YYYY'" data-vv-as="Fecha de Emisión"> 
                        <span style="color: red;">{{ errors.first('form-consulta.fec_emision') }}</span>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input type="text" name="ruc_emisor" class="form-control" placeholder="Ruc Emisor" v-mask="'###########'"  v-model="consultaCPE.ruc_emisor" v-validate="'required|digits:11'" data-vv-as="Ruc Emisor"> 
                            <span style="color: red;">{{ errors.first('form-consulta.ruc_emisor') }}</span>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input type="text" name="monto_total" class="form-control" placeholder="Monto Total" @keypress="soloDecimales" v-model="consultaCPE.monto_total" v-validate="'required|decimal:2'" data-vv-as="Monto Total">
                            <span style="color: red;">{{ errors.first('form-consulta.monto_total') }}</span>
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Consultar</button>
                        </div>
                    </div>

                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <a href="#" @click="regresarLogin">Regresar al Login</a>
                        </div>
                    </div>
                  
                </form>
            </div>
           <!--  <guest-footer></guest-footer> -->
          </div>
        </div>

        <!--Inicio del modal agregar/actualizar-->
            <div class="modal fade" tabindex="-1" :class="{'mostrar':modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-primary modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title" v-text="tituloModal">Titulo</h2>
                            <button type="button" class="close"  @click="cerrarModal" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal" data-vv-scope="form-comprobante">
                                <div class="form-group row">
                                    <label for="" class="col-md-4">Estado del comprobante </label>
                                    <div class="col-md-8">                                        
                                       <label for="" class="col-md-4" v-html="obtenerEstado(comprobante.state)"></label>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="" class="col-md-4">Número de comprobante</label>
                                    <div class="col-md-8">                                        
                                       <label for="" class="col-md-4" v-text="comprobante.number">Número de comprobante</label>
                                    </div>
                                </div>
                                                                  
                                <div class="form-group row">
                                    <label for="" class="col-md-4">Total </label>
                                    <div class="col-md-8">                                        
                                       <label for="" class="col-md-4" v-text="comprobante.total">Número de comprobante</label>
                                    </div>
                                </div> 
                                   
                                <div class="form-group row">
                                    <label for="" class="col-md-4">Descargas </label>
                                    <div class="col-md-8 row">                                        
                                       <div class="col-md-2">
                                            <a v-if="comprobante.download_cdr" class="btn btn-info waves-effect waves-light" :href="comprobante.download_cdr">CDR</a>   
                                        </div>
                                        <div class="col-md-2">
                                            <a v-if="comprobante.download_pdf" class="btn btn-info waves-effect waves-light" :href="comprobante.download_pdf">PDF</a> 
                                        </div>
                                        <div class="col-md-2">
                                            <a v-if="comprobante.download_xml" class="btn btn-info waves-effect waves-light" :href="comprobante.download_xml">XML</a> 
                                        </div>
                                    </div>
                                </div>  
                                <hr>  
                                <div class="row justify-content-md-center">    
                                    <h3>¡Gracias por confiar en nosotros!</h3>
                                </div>                      
                            </form>                           
                            
                            
                        </div>
                        <div class="modal-footer text-center">  
                                                      
                            <button type="button" class="btn btn-warning waves-effect waves-light m-t-10" @click="cerrarModal" > Cerrar </button>                            
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        <!--Fin del modal-->


    </section>
</template>

<script>
    import helper from '../../services/helper' 
   /*  import GuestFooter from '../../layouts/guest-footer.vue' */

    export default {
         components : {},
        data() {
            return {  
                comprobante:{}  ,
                consultaCPE: {
                    /* usuario: 'john.doe@example.com',
                    password: 'abcd1234' */
                    tipo_documento:'01',                   
                    serie_documento:'F001',
                    numero_documento:'111',
                    fecha_de_emision:'15-10-2019',
                    ruc_emisor:'10700612878',
                    monto_total:'200.00',
                },
                selectTiposComprobante:[
                    {id:'01',description:'FACTURA ELECTRÓNICA'},
                    {id:'03',description:'BOLETA DE VENTA ELECTRÓNICA'},
                    {id:'07',description:'NOTA DE CRÉDITO'},
                    {id:'08',description:'NOTA DE DÉBITO'},
                  
                ],
                // modal
                modal:0,
                tituloModal:'',
                tipoAccion:1,
                //fin modal
            }
        },      
        mounted(){
           // this.llenarSelectTiposComprobante();
        },
        methods: {
            submit(e){
                let _this = this;


                 _this.$validator.validateAll('form-consulta').then(result => {//validamos si es correcto
                    if (result) {  
                        axios.post('api/consulta/info_cpe',{
                            'company_number': _this.consultaCPE.ruc_emisor,
                            'date_of_issue': _this.consultaCPE.fecha_de_emision,
                            'document_type_id': _this.consultaCPE.tipo_documento,
                            'series': _this.consultaCPE.serie_documento,
                            'number': _this.consultaCPE.numero_documento,
                            'total': _this.consultaCPE.monto_total,

                        })
                        .then(function(response){                                        
                            toastr['success']("Encontramos su Comprobante");
                            _this.abrirModal(1,'Detalles del Comprobante',response.data.data);
                                                                        
                        })
                        .catch(function (error){
                            toastr['error']('Tuvimos un error al intentar emitir su comprobante inténtelo denuevo mas tarde.');
                           // loader.hide();
                        });

                        
                    }
                   
                });

            },
            llenarSelectTiposComprobante(){
                axios.get('api/select/tipos_comprobante')
                    .then(response => this.selectTiposComprobante = response.data );  
            },  
            regresarLogin(){
                this.$router.push('/inicio');
            },
            obtenerEstado(estado){
                if(estado=='01') return  '<span class="label label-info"> Registrado </span>';
                if(estado=='03') return  '<span class="label label-default"> Enviado </span>';
                if(estado=='05') return  '<span class="label label-success"> Aceptado </span>';
                if(estado=='07') return  '<span class="label label-warning"> Observado </span>';
                if(estado=='09') return  '<span class="label label-danger"> Rechazado </span>';
                if(estado=='11') return  '<span class="label label-danger"> Anulado </span>';
                if(estado=='13') return  '<span class="label label-warning"> Por Anular </span>';
            },
            soloDecimales($event){               
                helper.soloDecimales($event,$event.target.value);
            }, 
            soloFecha($event){
                helper.soloFecha($event);
            },
            //
            cerrarModal(){
                this.modal = 0;
                this.tituloModal = '';
                this.nombre = '';
                this.consultaCPE = {};
                this.$validator.reset();
            },
            abrirModal(accion,titulo,data=[]){
                this.modal = 1;               
                this.tipoAccion = accion;
                this.tituloModal = titulo;   
                console.log(data);             
                if(data.length!=0){  
                    this.comprobante = data;    
               
                }                
            },
            
        }
    }
</script>
