<template>
    <section id="wrapper">
		 <div class="login-register" style="background-image:url(/images/background/oscuro3.jpg);">
            <div class="login-box card" style="background:#00a1c;">
            <div class="card-body" style="background:#efefef;">
				<!-- <div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="images/logo-inei3.png" class="brand_logo" alt="Logo">
					</div>
				</div> -->
				<div class="form_container">
					<form class="form-horizontal" id="loginform" @submit.prevent="submit">
						<!-- <h3 class="box-title m-b-20 text-center">Inicio de Sesión</h3>
						<div class="u-img text-center" style="padding:15px;"><img src="images/logo-inei.png" alt="user" style="width: 150px;"></div> -->
						<div class="row">
							<div class="col-lg-6 col-md-4 col-sm-6 col-xs-12">
								<small class="titulo1">GESTIÓN DOCUMENTAL</small>
								<h1><small class="titulo">ECE-EM 2019</small></h1>
								<small class="titulo2">Evaluación Censal de Estudiantes</small>
								</div>
							<div class="col-lg-6 col-md-4 col-sm-6 col-xs-12">
								<div class="brand_logo_container">
									<center>
										<img src="images/logo-inei3.png" class="brand_logo" alt="Logo">
									</center>	
								</div>	
								<div class="form-group ">
									<div class="col-xs-12">
										<input type="text" name="email" class="form-control input-sm" placeholder="Usuario" v-model="loginForm.email"> </div>
								</div>
								<div class="form-group">
									<div class="col-xs-12">
										<input type="password" name="password" class="form-control" placeholder="Password" v-model="loginForm.password"> </div>
								</div>
								<div class="modal-footer">
									<button class="btn btn-danger btn-cancel-action text-light" type="submit">INGRESAR</button>
								</div>
							</div>
						</div>	
					</form>
				</div>
            </div>
          </div>
        </div>
    </section>
</template>

<script>
    import helper from '../../services/helper';
    import GuestFooter from '../../layouts/guest-footer.vue' ;

    export default {
        components: {GuestFooter},
        data() {            
            return {
                loginForm: {
                    /* email: 'john.doe@example.com',
                    password: 'abcd1234' */
                    email: '',
                    password: ''
                }
            }
        },
        
        mounted(){
        },
        methods: {
            submit(e){
                axios.post('api/auth/login', this.loginForm).then(response =>  {
                    localStorage.setItem('auth_token',response.data.token);
                    axios.defaults.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('auth_token');
                    toastr['success'](response.data.message);
                    this.$router.push('/inicio')
                }).catch(error => {
                    toastr['error'](error.response.data.message);
                });
            },
            consultaCPE(){
                this.$router.push('/consultaCPE')
            },

        }
    }
</script>
<style scoped>
	
		.brand_logo_container {
			position: absolute;
			top: -130px;
			padding: 18px;
			text-align: center;
		}
		/* .brand_logo {
			height: 190px;
			width: 190px;
			border-radius: 60%;
			border: 2px solid white;
		} */
		.form_container {
			margin-top: 100px;
		}
		.login-box {
		width: 600px !important;
		margin: 0 auto;
		}
		.titulo{
			font-size: 0.8 em;
			font-family: Georgia, serif;
			color: #0E70CA;
			font-weight: bold;
			text-align: left;
			position: relative;
			margin: 3px 0 3px 0;
		}
		.titulo2{
		font-size: 1 em;
		font-family: Georgia, serif;
		color: #253e5a;
		font-weight: bold;
		text-align: left;
		position: relative;
		}
		.titulo1{
			font-size:1.5em;
			font-family: Georgia, serif;
			color: #0E70CA;
			font-weight: bold;
			text-align: left;
			position: relative;
			margin: 3px 0 3px 0;
		}	
</style>

