<template>
    <section id="wrapper">
        <div class="login-register" style="">
            <div class="login-box card">
            <div class="card-body">
                <form class="form-horizontal form-material"  data-vv-scope="form-reestablecer" id="passwordform" @submit.prevent="submit">
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <h3><u>REESTABLECER CONTRASEÑA</u></h3>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input type="text" name="email" class="form-control" placeholder="Email" v-model="passwordForm.email" v-validate="'required|email'" data-vv-as="Correo electrónico">
                        </div>
                        <span style="color: red;">{{ errors.first('form-reestablecer.email') }}</span> 
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" :disabled="desabilitado">Reestablecer</button>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            <p>Regresar al <router-link to="/login" class="text-info m-l-5"><b>Inicio de Sesión</b></router-link></p>
                        </div>
                    </div>
                </form>
            </div>
            <guest-footer></guest-footer>
          </div>
        </div>

    </section>
</template>

<script>
    import GuestFooter from '../../layouts/guest-footer.vue';
    import helper from '../../services/helper';

    export default {
        components: {GuestFooter},
        data() {
            return {
                passwordForm: {
                    email: ''
                },
                desabilitado: false,
            }
        },   
        methods: {
            submit(e){
                console.log("disabled");
                let _this = this;
                helper.deshabilitarBoton(_this);
                _this.$validator.validateAll('form-reestablecer').then(result => {//validamos si es correcto
                    if (result) {  
                         axios.post('api/auth/password', this.passwordForm).then(response =>  {
                            toastr['success'](response.data.message);
                            _this.$router.push('/login');
                            helper.habilitarBoton(_this);
                        }).catch(error => {
                            toastr['error'](error.response.data.message);
                            helper.habilitarBoton(_this);
                        });
                    }
                    else{
                        helper.habilitarBoton(_this);
                    }
                });
               
            }
        }
    }
</script>
