<template>
    <section id="wrapper">
        <div class="login-register" style="background-image:url(/images/background/background.jpg);">
            <div class="login-box card">
            <div class="card-body">
                <h3 class="box-title m-b-20 text-center"><h3><u>REEMPLAZAR CONTRASEÑA</u></h3></h3>
                <div v-if="!showMessage">
                    <form class="form-horizontal form-material"  data-vv-scope="form-reemplazar" id="resetform" @submit.prevent="submit">
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input type="text" name="email" class="form-control" placeholder="Email" v-model="resetForm.email" v-validate="'required|email'" data-vv-as="Correo electrónico"> 
                            </div>
                            <span style="color: red;">{{ errors.first('form-reemplazar.email') }}</span>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input type="password" name="password" class="form-control" placeholder="Contraseña" v-model="resetForm.password" v-validate="'required|min:6|max:30'" data-vv-as="Contraseña" ref="password">
                            </div>
                            <span style="color: red;">{{ errors.first('form-reemplazar.password') }}</span>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input type="password" name="confirm_password" class="form-control" placeholder="Repetir Contraseña" v-model="resetForm.password_confirmation" v-validate="'confirmed:password'" data-vv-as="Confirmar Contraseña"> 
                            </div>
                            <span style="color: red;">{{ errors.first('form-reemplazar.confirm_password') }}</span>
                        </div>
                        <div class="form-group text-center m-t-20">
                            <div class="col-xs-12">
                                <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Reemplazar Contraseña</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div v-else class="text-center">
                    <h4 v-text="message" class="alert alert-success" v-if="status"></h4>
                    <h4 v-text="message" class="alert alert-danger" v-else></h4>
                </div>
                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        <p>Regresar al <router-link to="/login" class="text-info m-l-5"><b>Inicio de Sesión</b></router-link></p>
                    </div>
                </div>
            </div>
            <guest-footer></guest-footer>
          </div>
        </div>

    </section>
</template>

<script>
    import GuestFooter from '../../layouts/guest-footer.vue';
    import helper from '../../services/helper';

    export default {
        data() {
            return {
                resetForm: {
                    email: '',
                    password: '',
                    password_confirmation: '',
                    token:this.$route.params.token,
                },
                message: '',
                status: true,
                showMessage: false
            }
        },
        components: {
            GuestFooter
        },
        mounted(){
            axios.post('api/auth/validate-password-reset',{
                token: this.reset.token
            }).then(response => {
                this.showMessage = false;
            }).catch(error => {
                this.message = error.response.data.message;
                this.showMessage = true;
                this.status = false;
            });
        },
        methods: {
            submit(e){
                let _this = this;
                helper.deshabilitarBoton(_this);
                _this.$validator.validateAll('form-reemplazar').then(result => {//validamos si es correcto
                    if (result) {  
                        axios.post('api/auth/reset', this.resetForm).then(response =>  {
                            this.message = response.data.message;
                            this.showMessage = true;
                            this.status = true;
                            helper.habilitarBoton(_this);
                        }).catch(error => {
                            toastr['error'](error.response.data.message);
                        });
                    }
                    else{
                        helper.habilitarBoton(_this);
                    }
                });

                
            }
        }
    }
</script>
