<template>
	<section id="wrapper" class="error-page">
        <div class="error-box">
            <div class="error-body text-center">
                <h1>404</h1>
                <h2 class="text-uppercase">Ups! Ocurrió un Problema!</h2>
                <p class="text-muted m-t-30 m-b-30">La página que ha solicitado se ha eliminado o no existe.</p>
                <router-link to="/inicio" class="btn btn-info btn-rounded waves-effect waves-light m-b-40">Regresar al Inicio</router-link> </div>
        </div>
    </section>
</template>

<script>
    export default {
        mounted() {
        }
    }
</script>